body.page-production-list, body.page-news-list, body.page-activity-list{

	//filtres
	input.input_filtre-production:checked ~ #liste #liste-productions .list-item,
	input.input_filtre-activity:checked ~ #liste #liste-activity .list-item{display: none !important;}

	input#filtre-production_article:checked ~ #liste #liste-productions .article{ display: block!important; }
	input#filtre-production_communication:checked ~ #liste #liste-productions .communication{ display: block!important; }
	input#filtre-production_book:checked ~ #liste #liste-productions .book{ display: block!important; }
	input#filtre-production_thesis:checked ~ #liste #liste-productions .thesis{ display: block!important; }
	input#filtre-production_grey:checked ~ #liste #liste-productions .grey{ display: block!important; }
	input#filtre-production_datascape:checked ~ #liste #liste-productions .datascape{ display: block!important; }
	input#filtre-production_website:checked ~ #liste #liste-productions .website{ display: block!important; }
	input#filtre-production_software:checked ~ #liste #liste-productions .software{ display: block!important; }
	input#filtre-production_code:checked ~ #liste #liste-productions .code{ display: block!important; }
	input#filtre-production_exhibition:checked ~ #liste #liste-productions .exhibition{ display: block!important; }
	input#filtre-production_workshop:checked ~ #liste #liste-productions .workshop{ display: block!important; }
	input#filtre-production_simulation:checked ~ #liste #liste-productions .simulation{ display: block!important; }
	input#filtre-production_conference:checked ~ #liste #liste-productions .conference{ display: block!important; }
	input#filtre-production_media:checked ~ #liste #liste-productions .media{ display: block!important; }
	input#filtre-production_thesis:checked ~ #liste #liste-productions .thesis{ display: block!important; }


	input#filtre-activity_research:checked ~ #liste #liste-activity .research{ display: block!important; }
	input#filtre-activity_teaching:checked ~ #liste #liste-activity .teaching{ display: block!important; }
	input#filtre-activity_method:checked ~ #liste #liste-activity .method{ display: block!important; }
}