/////////////////////
//////// Filtres
/////////////////////


.filtres-listing{

	h1{
		@include font-size-16();
		text-transform: uppercase;
		font-weight: 600;
		border-top: $border-light;
		border-bottom: $border-light;
		padding-top: $baseline * 1;
		padding-bottom: $baseline * 1;
	}


	.link-productions-sort,
	.link-activity-sort{
		@include font-size-13();
		font-weight: 300;
		text-transform: uppercase;
		padding-top: $baseline * 1.5;
		padding-bottom: $baseline * 1;
		border-bottom: $border-very-light;
		li, a{
			transition: 1s max-height;
			overflow: hidden;
			height: $baseline*2;
			display: block;
			width: 100%;
			span{
				position: absolute;
				right: 0;
				display: none;
			}
		}

		.pageProduction_current{
			font-weight: 600!important;
			span{ display: inline; }
		}
		
		
	}

	
}/* end filtre-listing */



#go-to-year{      
	z-index: 90;
	@include font-size-13;
	margin-top: $baseline * 0.5;
	margin-bottom: $baseline * 1.5;      
	padding-top: $baseline * 0.5;
	border-bottom: $border-very-light;

	.current-year{
		font-weight: 600;
		padding-right: $margins-desktop*1.5;
		position: absolute;
		right: 0;
		top: $baseline * 0.5;
	}

	ul{
		background-color: $background-site;       
		@include font-size-13;
		max-height: 0;
		transition: 1s;
		overflow: hidden;
		margin-top: $baseline;

		li{
			display: inline-block;              
			padding-bottom: $baseline/2;
			padding-top: $baseline/2;
			border-right: $border-very-light;
			border-bottom: $border-very-light;
			text-align: center;
		}
		
	}

	#go-to-year-input:checked ~ ul,
	#radio_filtre-production_year:checked ~ ul{
		max-height: 100vh;         
	}
	
}/* end #go-to-year */




/* flêches ouvrantes/fermantes */
#go-to-year-input + label, 
#radio_filtre-production_group + label,
#radio_filtre-production_year + label,
#radio_filtre-production_type + label{
	padding-top: $baseline * 0.5;
	@include font-size-13;
	position: absolute;
	text-align: right;
	right: 0;
	top: 0;
	z-index: 99;
	span{
		display: inline-block; 
		width: $baseline;
		height: $baseline;
	}
}

#go-to-year-input:checked + label,
#radio_filtre-production_group:checked + label,
#radio_filtre-production_year:checked + label,
#radio_filtre-production_type:checked + label{
	span{
		transform: rotate(90deg);
		transform-origin: center center;
		top: 3px;
	}
}


.filtre-production, .filtre-activity{ 
	position: fixed;
	@include font-size-13;
	font-weight: 300;

}

#radio_filtre-production_type + label{
	position: fixed;
}
