
$top-filtre-phone-open: $height-top-bar-phone + $baseline*3.5;
$height-filtres-productions-phone: $baseline*8;

@include for-size(phone) {

	#background-phone{
		position: fixed;
		background-color: $background-site;
		display: block;
		width: $mobile-container-width;
		height: calc(100vh - #{$top-filtre-phone-open});
		z-index: 20;
		left: $margins-phone;
		background-color: $background-site;
	}



	#toggle-filtre-phone + label{ 
		@include font-size-16-phone;
		padding-top: $baseline;
		padding-bottom: $baseline;
		text-align: center;
		position: fixed;
		z-index: 30;
		width: 100vw;
		left: 0;
		padding-right: $margins-phone*2;
		border-top: $border-bold; 
		span{
			display: block;
			position: absolute; 
			top: -4px; 
			right: 0;
			margin-left: $baseline;
			width: $baseline*1.6;
			height: $baseline*1.6;
			transform: rotate(-90deg);
			transform-origin: center center; 
		}
	 }

	 //// PRODUCTIONS

	#radio_filtre-production_group + label,
	.link-productions-sort, 
	#go-to-year_production, 
	#radio_filtre-production_year + label,
	#radio_filtre-production_type + label,
	.filtre-production{
		position: fixed;
		z-index: 30;
		width: $mobile-container-width;
		left: $margins-phone;
	}


	 #radio_filtre-production_group + label{ 		
		 z-index: 90;
		 height: $baseline*3.5;
		 @include font-size-13-phone;
		 span{ top: $baseline*1;}

	  }

	 #radio_filtre-production_group ~ .link-productions-sort li{ max-height: 0; }
	 #radio_filtre-production_group:checked ~ .link-productions-sort li{ max-height: 100px; }
 
	 #radio_filtre-production_group ~ .link-productions-sort{
		 min-height: $baseline*3.5;
		 padding-top: $baseline*1;
		 padding-bottom: 0;
		 border-top: $border-very-light;
	 }
 
	 
	 #radio_filtre-production_group ~ .link-productions-sort .pageProduction_current{ 
		 max-height: 100px; 
		 font-weight: 300!important;
			span{ display: none; }
	 }
 
	 #radio_filtre-production_group:checked ~ .link-productions-sort .pageProduction_current{ font-weight: 600!important; }
 
	 #go-to-year_production{
		ul{ width: 100%; }
        ul li{ width: 33%; }
        li:nth-of-type(3n){ border-right: none; }
	}
	
	#radio_filtre-production_year + label{ 
		z-index: 40; 
	}





    


	//close

	#toggle-filtre-phone ~ #background-phone,
	#toggle-filtre-phone + label{
		top: calc(100vh - #{$baseline}*3.5);
		transition: 0.6s top;
	 }



	#toggle-filtre-phone ~ #radio_filtre-production_group ~ .link-productions-sort,
	#toggle-filtre-phone ~ #radio_filtre-production_group + label{
		top: calc(100vh + 1px);
		transition: 0.6s top;
	}



	#toggle-filtre-phone ~ #go-to-year_production{
		top: calc(100vh - #{$baseline}*3.5 + #{$baseline}*7);
		transition: 0.6s top;
    }

    #toggle-filtre-phone ~ #radio_filtre-production_year + label{
		top: calc(100vh - #{$baseline}*3.5 + #{$baseline}*8);
		transition: 0.6s top;
	}
	
	#toggle-filtre-phone ~ #radio_filtre-production_type + label{
		top: calc(100vh - #{$baseline}*3.5 + #{$baseline}*11.5);
		transition: 0.6 top;
	}

	@for $a from 5 through 10 {	
		#toggle-filtre-phone ~ #radio_filtre-production_year ~ .filtre-production:nth-of-type(#{$a}){ 
			top: calc(100vh + #{$baseline}*1.5 + #{$baseline}* 2.5 * 5); 
			transition: 0.6 top;
		}
	}
	
	
    

	



	 //open

	 #toggle-filtre-phone:checked ~ #background-phone{
		top: $top-filtre-phone-open;
	 }
	 #toggle-filtre-phone:checked + label{ 
		top: $top-filtre-phone-open - 1px;
		span{ 
			transform: rotate(90deg); 
			top: 4px;
		}

<<<<<<< HEAD
		input.filtre_objet:nth-of-type(2n){ left: calc(#{$mobile-container-width/4} * 2 + #{$margins-phone}); }
		label.filtre_objet:nth-of-type(2n){ left: calc(#{$mobile-container-width/4} * 2 + #{$margins-phone});}
		
		input.filtre_objet:checked + label.filtre_objet{ 
			font-weight: bold;
			color: $redlab;
			border-color: $redlab;
			transition-delay: inherit;
		}
	}
}
=======
	#toggle-filtre-phone:checked ~ #radio_filtre-production_group ~ .link-productions-sort,
	#toggle-filtre-phone:checked ~ #radio_filtre-production_group + label{
		top: $top-filtre-phone-open + $baseline*3.5;
	}


	#toggle-filtre-phone:checked ~ #go-to-year_production{
		top: $top-filtre-phone-open + $baseline*7;
    }

    #toggle-filtre-phone:checked ~ #radio_filtre-production_year + label{
		top: $top-filtre-phone-open + $baseline*8;
	}
	
	#toggle-filtre-phone:checked ~ #radio_filtre-production_type + label{
		top: $top-filtre-phone-open + $baseline*11.5;
	}


	#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ .link-productions-sort{
		padding-top: $baseline * 1.5;
		padding-bottom: $baseline * 1;
	}  


	#toggle-filtre-phone:checked ~ #radio_filtre-production_year ~ .go-to-year ul{ max-height: 0vh; }
	#toggle-filtre-phone:checked ~ #radio_filtre-production_year:checked ~ .go-to-year ul{ max-height: 100vh!important; }

	#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ #go-to-year_production{
        top: $top-filtre-phone-open + $baseline*18;
    }
	
	#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ #radio_filtre-production_year + label{
		top: $top-filtre-phone-open + $baseline*19;	
	}
	
	#toggle-filtre-phone:checked ~ #radio_filtre-production_type ~ .filtre-production{ max-height: 0px; }
	#toggle-filtre-phone:checked ~ #radio_filtre-production_type:checked ~ .filtre-production{ max-height: 100vh; }
	
	#toggle-filtre-phone:checked ~ #radio_filtre-production_year ~ #radio_filtre-production_type + label{ top: $top-filtre-phone-open + $height-filtres-productions_medium + $baseline*5; }
	#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ #radio_filtre-production_type + label{ top: $top-filtre-phone-open + $height-filtres-productions_medium_year-checked + $baseline*7; }
    #toggle-filtre-phone:checked ~ #radio_filtre-production_year:checked ~ #radio_filtre-production_type + label{ top: $top-filtre-phone-open + $height-filtres-productions_medium_year-checked + $baseline*5; }


	@for $i from 5 through 10 {	
        #toggle-filtre-phone:checked ~ #radio_filtre-production_year ~ .filtre-production:nth-of-type(#{$i}){ top: $top-filtre-phone-open + $baseline*4.5 + $baseline* 2.5 * ($i - 1); transition: 0.6 top;}
    }
    



}
>>>>>>> filtres listes productions version mobile
