@include for-size(desktop) {

	.toggle-filtre-phone{ display: none; }

    	.toggle-filtre-phone{
    		display: none;
    	}

    .filtres-listing{
            position: fixed;
            z-index: 10;
            left: $margins-desktop;
            top: $height-top-bar ;
            width: $logo-column - $margins-desktop;             
    } 

    #go-to-year{
        width: $logo-column - $margins-desktop;
        ul{ width: 100%; }
        ul li{ width: 33%; }
        li:nth-of-type(1), li:nth-of-type(2), li:nth-of-type(3){ border-top: $border-very-light; }
        li:nth-of-type(3n){ border-right: none; }
    }
    
    #go-to-year-input + label, 
    #radio_filtre-production_year + label{
        width: $logo-column - $margins-desktop;
    }


    #radio_filtre-production_year + label,
    #radio_filtre-production_group + label{ display: none; }


    .filtre-production, .filtre-activity{ 
        width: $logo-column - $margins-desktop;
    
    }

    // .filtre-production:nth-of-type(1){ 
    //     border-top: $border-light; 
    //     padding-top: $baseline*1.5;
    // }

    #radio_filtre-production_type + label{
        @include font-size-13;
        text-transform: uppercase;
        // color: $text-color-light;
        span{ display: none; }
    }

    $height-filtres-productions: $baseline * 18;
    $height-filtres-activites: $baseline * 5.5;

    #radio_filtre-production_type + label{ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 2; }
    .filtre-production:nth-of-type(1){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 2; }
    .filtre-production:nth-of-type(2){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 3; }
    .filtre-production:nth-of-type(3){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 4; }
    .filtre-production:nth-of-type(4){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 5; }
    .filtre-production:nth-of-type(5){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 6; }
    .filtre-production:nth-of-type(6){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 7; }

    .filtre-activity:nth-of-type(1){ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 2; }
    .filtre-activity:nth-of-type(2){ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 3; }
    .filtre-activity:nth-of-type(3){ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 4; }


}



@media screen and (max-height: 650px){


    #radio_filtre-production_group ~ .link-productions-sort li{ max-height: 0; }

    #radio_filtre-production_group ~ .link-productions-sort .pageProduction_current{ 
        max-height: 100px; 
        span{ display: none; }
    }

    #radio_filtre-production_group:checked ~ .link-productions-sort li{ max-height: 100px; }

    #radio_filtre-production_group + label{
        display: block!important;
        background-color: red;
    }


    #go-to-year_label{ display: none; }
    #radio_filtre-production_year_label{ display: block; }

    
}


