@include for-size(desktop) {

    body.page-production-list,
    body.page-news-list,
    body.page-activity-list{

    	.toggle-filtre-phone{
    		display: none;
    	}


        .filtres-listing{
                position: fixed;
                z-index: 10;
                left: $margins-desktop;
                top: $height-top-bar ;
                width: $logo-column - $margins-desktop;
                

                h1{
                    @include font-size-16();
                    text-transform: uppercase;
                    font-weight: 600;
                    // font-weight: 300;
                    border-top: $border-light;
                    border-bottom: $border-light;
                    padding-top: $baseline * 1;
                    padding-bottom: $baseline * 1;
                }
                

                .link-productions-sort,
                .link-activity-sort{
                    @include font-size-13();
                    font-weight: 300;
                    text-transform: uppercase;
                    margin-top: $baseline * 1.5;
                    margin-bottom: $baseline * 1;
                    // border-bottom: $border-light;
                    li, a{
                        
                        height: $baseline*2;
                        display: block;
                        width: 100%;
                        span{
                            position: absolute;
                            right: 0;
                            display: none;
                        }
                    }

                    .pageProduction_current{
                        font-weight: 600!important;
                        span{ display: inline; }
                    }
                    
                    
                }
        }



        #go-to-year{
            
            height: $baseline*2;
            width: $logo-column - $margins-desktop;
            z-index: 90;
            margin-top: $baseline * 1;
            margin-bottom: $baseline * 1.5;
            @include font-size-13;
            padding-top: $baseline * 0.5;
            p{ z-index: 90; }

            label{
                padding-top: $baseline * 0.5;
                @include font-size-13;
                position: absolute;
                width: $logo-column - $margins-desktop;
                text-align: right;
                right: 0;
                top: 0;
                z-index: 90;
                span::after{
                    content: "〉";
                }
            }

            

            ul{
                background-color: $background-site;
                text-align: right;
                position: absolute;
                top: $baseline * 0.5;
                left: 0;
                width: $logo-column - $margins-desktop;
                @include font-size-13;
                max-height: $baseline;
                transition: 1s;
                overflow: hidden;


                li{
                    padding-bottom: $baseline/2;
                    padding-right: $margins-desktop*2;
                    font-weight: 600;
                    &:last-of-type{ 
                        border-bottom: $border-light;
                        padding-bottom: $baseline;
                    }
                }
            }

            #go-to-year-input:checked ~ ul{
                max-height: 100vh;
                
            }

            #go-to-year-input:checked +label {
                border-top: $border-light; 
                span::after{
                    content: "✕";
                }
            }
        }

        .filtre-production, .filtre-activity{ 
            position: fixed;
            @include font-size-13;
            font-weight: 300;
        }



        $height-filtres-productions: $baseline * 17;
        $height-filtres-activites: $baseline * 5.5;

        @include for-size(desktop) {

            .filtre-production:nth-of-type(1){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 2; }
            .filtre-production:nth-of-type(2){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 3; }
            .filtre-production:nth-of-type(3){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 4; }
            .filtre-production:nth-of-type(4){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 5; }
            .filtre-production:nth-of-type(5){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 6; }
            .filtre-production:nth-of-type(6){ top: $height-top-bar + $height-filtres-productions + $baseline* 2.5 * 7; }

            .filtre-activity:nth-of-type(1){ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 2; }
            .filtre-activity:nth-of-type(2){ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 3; }
            .filtre-activity:nth-of-type(3){ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 4; }

        }
    }

}



