

/////////////////////
//////// Productions
/////////////////////


/*
#filtre_recherche:checked ~ #liste #liste-objet-activite [data-type="enseignement"],
#filtre_recherche:checked ~ #liste #liste-objet-activite [data-type="methode"]{
	display:none;
}


#filtre_enseignement:checked ~ #liste #liste-objet-activite [data-type="recherche"],
#filtre_enseignement:checked ~ #liste #liste-objet-activite [data-type="methode"]{
	display:none;
}

#filtre_methode:checked ~ #liste #liste-objet-activite [data-type="enseignement"],
#filtre_methode:checked ~ #liste #liste-objet-activite [data-type="recherche"]{
	display:none;
}

#filtre_recherche:checked ~ #liste #liste-objet-activite [data-type="recherche"] {
	display: block!important;
}


#filtre_enseignement:checked ~ #liste #liste-objet-activite [data-type="enseignement"] {
	display: block!important;
}

#filtre_methode:checked ~ #liste #liste-objet-activite [data-type="methode"] {
	display: block!important;
}
*/

body.page-production-list{

	#filtre_publication + .filtre_production,
	#filtre_editionweb + .filtre_production,
	#filtre_tools + .filtre_production,
	#filtre_situations + .filtre_production,
	#filtre_media + .filtre_production{ 
		font-weight: 400!important; 
		span{ 
			position: absolute;
			right: 0;
			font-weight: 600!important;
		}

	}

	input:checked + .filtre_production{ 
		span{ 
			transform: rotate(90deg);
			top: 5px;
		}
	}



	@include for-size(desktop) {

		

		// @for $i from 2 through 20 {
					
		// 	.filtre_production:nth-of-type(#{$i}){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * (#{$i} - 1); }
		// }

		.filtre_production:nth-of-type(2){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 1; }
		.filtre_production:nth-of-type(3){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 2; }
		.filtre_production:nth-of-type(4){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 3; }
		.filtre_production:nth-of-type(5){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 4; }
		.filtre_production:nth-of-type(6){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 5; }
		.filtre_production:nth-of-type(7){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 6; }
		.filtre_production:nth-of-type(8){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 7; }
		.filtre_production:nth-of-type(9){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 8; }
		.filtre_production:nth-of-type(10){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 9; }
		.filtre_production:nth-of-type(11){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 10; }
		.filtre_production:nth-of-type(12){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 11; }
		.filtre_production:nth-of-type(13){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 12; }
		.filtre_production:nth-of-type(14){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 14; }
		.filtre_production:nth-of-type(15){ top: $height-top-bar + $baseline* 4.5 + $baseline* 2.5 * 15; }
	}


	.filtre_production{ z-index: 10; }


	#go-to-year{
		position: fixed;
		top: $height-top-bar + $baseline*3.5;
		left: $margins-desktop;
		height: $baseline*2;
		border-bottom: $border-light;
		width: $logo-column - $margins-desktop;
		z-index: 90;
		margin-top: $baseline/2;

		h1{
			@include font-size-13;
			z-index: 90;
		}

		label{
			@include font-size-13;
			position: absolute;
			width: $logo-column - $margins-desktop;
			text-align: right;
			right: 0;
			top: 0;
			z-index: 90;
			span::after{
				content: "〉";
			}
		}

		

		ul{
			background-color: $background-site;
			text-align: right;
			position: absolute;
			top: 0;
			left: 0;
			width: $logo-column - $margins-desktop;
			@include font-size-13;
			max-height: $baseline;
			transition: 1s;
			overflow: hidden;


			li{
				padding-bottom: $baseline/2;
				padding-right: $margins-desktop*2;
				&:last-of-type{ 
					border-bottom: $border-light;
					padding-bottom: $baseline;
				}
			}
		}

		#go-to-year-input:checked ~ ul{
			max-height: 100vh;
			
		}

		#go-to-year-input:checked +label {
			span::after{
				content: "✕";
			}
		}
	}
}