/////////////////////
//////// item_accroche: Phone 
/////////////////////


////	Accroche



@include for-size(phone) {

	#liste{
        
       	margin: #{$height-top-bar-phone*1} $margins-phone 0 $margins-phone ;

		
		
		///// Accroche Phone
        .accroche-titre-phone{
        	display: block;
        	width: $mobile-container-width;
        	height: auto;

        	padding: 5vh 0;
        	@include font-size-27-phone();
        	text-align: center;
        }

        ///// Accroche Phone END
        ///// Liste Objet
        .liste_objet{

            width: $mobile-container-width;
            height: auto;
            margin-bottom: 50vh;

			////	Liste des liens

           	[data-item]{ // S'applique aux items des troix catégorie
				// min-height: $unite*3;
				padding-top: $baseline;
				padding-bottom: $baseline;
                display: block;
				background-color: $background-site;
				border-top: $border-light;

                
	            .type{
					@include font-size-13-phone();
					text-align: right; 
					color: $text-color-light;
				}

				h1{
					@include font-size-20-phone();
				}

				h2{ 
					@include font-size-16-phone();
					margin-top: $baseline*0.5; 
					&:before{ content: "– "; }
				}
			}



			////	Accroche

		    [data-item] ~ [data-item-accroche]{ 
		    	display: block;
		    	visibility: collapse;
		    	height: 0;
		    	transition: .5s ease-in-out;
		    	transition-property: height;
				margin-top: $baseline;
		    }

		    .accroche-titre{ 
		    	display: none;
		    }

		    @for $i from 0 through 400 {
		    	[data-item="#{$i}"]:hover *,
		    	[data-item="#{$i}"]:active *{
		    		color: $redlab !important;
		    	}

		        [data-item="#{$i}"]:hover ~ [data-item-accroche="#{$i}"],
		        [data-item="#{$i}"]:active ~ [data-item-accroche="#{$i}"],
		        [data-item-accroche="#{$i}"]:hover, 
		        [data-item-accroche="#{$i}"]:active{ 
		        	transition: .5s ease-in-out;
		        	transition-property: height;
		        	height: 250px;
		        	visibility: visible;
		        }

		        [data-item="#{$i}"]:hover ~ .accroche-titre,
		        [data-item="#{$i}"]:active ~ .accroche-titre{ 
		        	// do nothing
		        }
		    }

		    .item_accroche{
		        @include font-size-16-phone();
			    position: relative;
			    width: $mobile-container-width;
			    color: $redlab;
		    }
        }
    }
}
