/////////////////////
//////// item_accroche: Desktop 
/////////////////////




///specifique à ativite
// [data-item]{

// 	ul{
// 		li.titre{  display: inline-block; width: calc(33% - 10px); padding-right: 10px; }
// 		li.type{  display: inline-block; width: calc(33% - 10px); padding-right: 10px;}
// 		li.time{  display: inline-block; width: calc(33% - 10px); padding-right: 10px; text-align: right;}	

// 		@supports (display: flex){
// 			@include flex();
// 			@include align-items(center);
// 			.titre{ flex-grow: 2; }	
// 			.type{ flex-grow: 2; }	
// 			.time{ flex-grow: 1; text-align: right;}
// 		}
// 	}
// }







@include for-size(desktop) {

	body.page-production-list,
	body.page-news-list,
	body.page-activity-list{

		#topbar{ 
			//position: fixed!important; 
			top: 0;
			width: calc(100vw - #{$margins-desktop*2});
			// left: 0;
		}

		#liste{
	        
			   margin-top: $height-top-bar;
			   margin-left: $logo-column;

			   hr{
				   display: block; 
				   width: calc(100vw - #{$logo-column} - #{$margins-desktop*2});
				   position: fixed;
				   border-top: $border-bold;
			   }
			   

			///// Accroche Phone
	        .accroche-titre-phone{
	        	display: none;
	        }
			///// Acchroche Phone END
			
	        ///// Liste Objet
	        .liste_objet{

				
				&:target{
					padding-top: $height-top-bar + $baseline*1;
				}
				pre{
					position: absolute; 
					bottom: $baseline*1;
					left: 10px;
				}
				span{
					background-color: white;
					z-index: 10;
					padding-right: $baseline/2;
					padding-top: $baseline/2;
					padding-bottom: $baseline/2;
				}
				// border-top: $border;


					&:first-of-type{
						height: $baseline*3.5;
						padding-top: $baseline
					}
					
				}

			
		

				[data-item]{ // S'applique aux items des troix catégorie

				padding-top: $baseline*1.5;
				padding-bottom: $baseline*0.5;
				border-bottom: $border-light;

				a{
					display: block;
					width: 100%;
					height: 100%;
				}
				

					.date, .type{
						@include font-size-13();
						color: $text-color-light;
					}

				.date{
					position: absolute;
					bottom: 0;
					left: 0;
					border-top: none;
					width: 100px;
					height: $baseline*1.3;
					border-right: $border-very-light;
				}

				.type{
					width: 100%;
					text-align: right; 
					padding-top: $baseline*0.5;
					border-top: $border-very-light;
				}

				h1{
					@include font-size-20();
					margin-bottom: $baseline*1;
				}

				h2{ 
					@include font-size-13();					
					border-top: $border-very-light;
					padding-top: $baseline*0.5;
					margin-top: $baseline*0.75;
					margin-bottom: $baseline*0.5;
					color: $text-color-light; 
					// &:before{ content: "– "; }
				}

				&:hover{
					color: $redlab;
					h2, .date, .type{ color: $redlab; }
					h2, .type{ border-top: $border-redlab-very-light }
					.date{ border-right: $border-redlab-very-light }
				}

				}/* end data-item*/

				
		    .item_accroche{
				@include font-size-40();
				margin-left: $margins-desktop*3;
				padding: 20px;
				overflow: hidden;
				color: $redlab;
			
				// background-color: red;
				position: fixed;
				
			    .item_accroche{
					@include font-size-40();
					margin-left: $margins-desktop*3;
					padding: 20px;
					overflow: hidden;
				
					// background-color: red;
					position: fixed;
					
					top: $height-top-bar;
					// border-top: $border;
					padding-top: $baseline*2;
					height: calc(100vh - #{$height-top-bar} - #{$margins-desktop});	

					a{ 
						display: block;
						width: 100%;
					height: 100%;}
					
					.item_accroche_texte{
						background-color: white;
						z-index: 10;
						display: block;
						width: 100%;
						position: absolute;
						padding: $baseline $baseline*2;
						
						
					}

			}/* end item_accroche*/



			/* toggle accroches */
			[data-item] ~ [data-item-accroche]{ display: none; }

			.accroche-titre{ 
				display: block;
				color: $text-color 
			}

			@for $i from 0 through 400 {
				
				[data-item="#{$i}"]:hover ~ [data-item-accroche="#{$i}"],
				[data-item="#{$i}"]:active ~ [data-item-accroche="#{$i}"]{ display:block; }
				[data-item="#{$i}"]:hover ~ .accroche-titre{ display:none; }
			}

			

					@include for-size(desktop-1300) {
						 // Prevenir des lignes trop étendues sur grand écran
						// width: calc( ( ( 90% - #{$logo-column} ) /2 ) - #{$margins-desktop*2} );
					}


				}/* end item_accroche*/
				

				[data-item], .list-year{
					width: calc((100vw - #{$logo-column} - #{$margins-desktop*2})/5*2 );
					// width: 40%;
				}
				.item_accroche{
					width: calc(((100vw - #{$logo-column} - #{$margins-desktop*2})/5*3) - #{$margins-desktop}*3 );
					left: calc(#{$logo-column} + #{$margins-desktop} + ((100vw - #{$logo-column} - #{$margins-desktop*2})/5*2 ));
				}
			}/* end .liste-objet */
		}
    }/* end liste */
}
