/////////////////////
//////// Page liste ALL SIZES
/////////////////////

body.page-production-list,
body.page-news-list,
body.page-activity-list{

	#liste{

		.list-year{
			padding-top: $baseline;
			min-height: $baseline*3.5;
			padding-bottom: $baseline;
			@include font-size-16();
			font-weight: 600;	
			border-bottom: $border-light;
			overflow: hidden;
			
			&:target{
				padding-top: $height-top-bar + $baseline*1;
			}
			pre{
				position: absolute; 
				bottom: $baseline*1;
				left: 10px;
			}
			span{
				background-color: white;
				z-index: 10;
				padding-right: $baseline/2;
				padding-top: $baseline/2;
				padding-bottom: $baseline/2;
			}

			&:first-of-type{
				height: $baseline*3.5;
				padding-top: $baseline
			}
			
		}


		[data-item]{

			padding-top: $baseline*1.5;
			padding-bottom: $baseline*0.5;
			border-bottom: $border-light;

			a{
				display: block;
				width: 100%;
				height: 100%;
			}

			h1{
				padding-bottom: $baseline*1.5;
				border-bottom: $border-very-light;
			}

			h2{ 
				border-bottom: $border-very-light;
				padding-top: $baseline*0.5;
				padding-bottom: $baseline*0.5;
				color: $text-color-light; 
			}

			.date {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100px;
				height: $baseline*1.3;
				border-right: $border-very-light;
				color: $text-color-light;
			}

			
			
			.type{
				display: inline-block;
				width: calc(100% -  #{$baseline}*2.5);
				text-align: right; 
				padding-top: $baseline*0.5;
				color: $text-color-light;
				min-height: $baseline*1.5;
			}
			
			
			.go-to-object{
				display: inline-block;
				width: $baseline*2;
				margin-left: $baseline*0.5;
				border-left: $border-very-light;
				text-align: right;
				color: $text-color-light;
				span{
					width: $baseline*1.3;
					height: $baseline*1.3;
				}
			}

			&:hover{
				color: $redlab;
				h2, .date, .hours-news, .type{ color: $redlab; }
				h1, h2{ border-bottom: $border-redlab-very-light }
				.date{ border-right: $border-redlab-very-light }
				.hours-news{ border-left: $border-redlab-very-light }
				.go-to-object{ 
					border-left: $border-redlab-very-light ;
					color: $redlab;
				}
			}


		}

		#liste-news {

			[data-item]{
				padding-top: $baseline*0.5;
			
				.date-news{
					border-bottom: $border-very-light;
					padding-bottom: $baseline*0.5;
					margin-bottom: $baseline*1;
				}

				.hours-news{
					padding-left: $baseline*1;
					position: absolute;
					right: 0;
					top: 0;
					border-left: $border-very-light;
					text-align: right;
				}
				.hours-news::before{ content: $time; }

				.type::before{ content: $actualites; }
			}

		}
	}/* end #liste */
}