// Manage global structure and responsive.
// For details see fragments/miniatures

@include for-size(desktop) {
  #now {
    overflow: hidden;
    position: relative;
    border-bottom: none;

    // li:last-of-type{
    // 	border-bottom: none;
    // }
  }
}

@include for-size(phone) {
  #now {
    li {
      border-bottom: $border-very-light !important;
    }
    label.responsive-now {
      position: sticky;
      top: $height-top-bar-phone;
      background: $background-site;
      z-index: 8;
    }

    // ul{ display: none;}

    // #checkbox_now:checked ~ ul{
    // 	display: block !important;
    // }
  }
}

@media screen and (min-width: 1350px) {
  #now li hgroup h1 {
    @include font-size-27();
    font-size: $font-size * 2.7 !important;
    font-weight: 100 !important;
    line-height: $baseline * 2.5 !important;
  }
}
