.page-production,
.page-news,
.page-activity {
  main {
    #img-article {
      pre {
        color: $redlab;
        font-weight: bold;
        overflow: hidden;
      }
    }

    #article-contenu {
      // flex permet de mettre le choix de la langue en dernier (alors qu'il doit être en premier dans l'HTML pour pouvoir marcher)
      @include flex();
      @include flex-direction(column);

      hgroup h1 {
        @include flex();
        @include flex-direction(column);

        .label {
          font-style: italic;
          color: $text-color-light;
        }
      }

      hgroup h1::first-letter {
        text-transform: capitalize;
      }

      .fichiers-associes,
      #attachments {
        .files.important {
          color: $redlab-light;
        }
        .files.target:hover {
          color: $redlab-light !important;
        }

        .files a {
          @include linktext();
        }
        .files.target:after {
          content: $goto;
          font-family: $font-symbol;
          font-size: 0.8em;
          margin-left: $unite/4;
          top: -2px;
          text-decoration: none !important;
        }
      }

      .details {
        max-width: $max-width-article;
      }

      .article-contenu {
        @media screen and (min-width: 701px) {
          margin-bottom: $baseline * 6;
        }

        @include flex-order(1);
        max-width: $max-width-article;

        a {
          @include linktext();
          transition: 0.25s linear;

          &:hover {
            color: $redlab;
            text-decoration-color: $redlab;
          }
        }
      }
    }

    .details {
      width: 100%;
      color: $text-color-light;

      .p-ref {
        border-top: $border-very-light;
        cursor: pointer;
        &:hover {
          color: $color-hover;
        }
        span,
        div {
          display: inline;
        }
        .spire {
          white-space: nowrap;
        }
      }

      .type-objet.important{
        color: $redlab;
      }

      .type-news {
        text-transform: uppercase;
      }

      [data-icon] {
        padding-right: $unite/2;
      }

      .date-news,
      .date {
        white-space: nowrap;
        &::first-letter {
          text-transform: capitalize;
        }
      }
      .hours-news {
        white-space: nowrap;
        color: $redlab;
      }
      .hours-news::before {
        content: $time;
      }

      &.as-main {
        margin-bottom: $unite;
      }
      &.as-aside {
        display: none;
      }
    }
  }
}

/* ativity only */
.page-activity .date-news .day-name,
.page-activity .date-news .day-num {
  display: none;
}
.page-activity .liste_objet .date-news .day-name,
.page-activity .liste_objet .date-news .day-num {
  display: inline;
}

.page-activity .date-news .month-name {
  text-transform: capitalize;
}
.page-activity .block-lang hgroup h2 {
  color: $redlab;
}

/*  news only */
.page-news .date-news {
  color: $redlab;
}

/* Page séminar only */
.main-seminar #article-contenu .details {
  display: none !important;
}
