/////////////////////
//////// Flux phone
/////////////////////

/* no support of grid */
@include for-size(phone){
    #flux article{
        display: inline-block;
        width: 100%;
        margin: 0 $margins-phone $margins-phone $margins-phone;
        vertical-align: top;
    }
}

@include for-size(phone){



    #flux {
        
        #flux-container{
            
            margin-top: 45px;
            overflow: hidden;
           
        } /* End flux container*/
        
    } /* end #flux*/

}