

/* General */
#flux{
    #flux-container{
		
		article{ 
			width: 100%;
			break-inside: avoid;
			position: relative;
			padding-right: $unite;
    		//background-color: #f2f2f2;

			//&:nth-child(2n){ background-color:#f4f4f4;}
			//&:nth-child(3n){ background-color:#f9f9f9;}			
            
            &::after{ 
            	content:" ";
            	border-bottom: $border-light;
				padding: $baseline $unite/2;
				box-sizing:border-box;
				width: calc(100% - #{$unite});
				position: absolute;
				bottom: 0;
			}
 				// Get control on order
				@for $i from 0 through 30 {				
					&:not(.disclaimer):nth-child(#{$i}){
						order:#{$i};
					}
				}
				
				.type, .update{ display: inline-block; width: auto;}
		        .type{ margin-bottom: $baseline/2; }
		        .update{ color: $text-color-light; margin-bottom: $baseline/2; padding-left: $unite/2 }		

	        	ul.details{
	        		position: absolute;
					width: calc(100% - #{$unite});
					padding-top: $baseline/2;
					border-top: $border-very-light;
	        		bottom: $baseline;

	        		li{
	        			@include text-overflow;
	        			color: $text-color-light;

	        			&:not(:first-of-type){
	        				border-left: $border-very-light;
	        				padding-left: $unite/2;
	        			}

	        		}
	        	}
		        &[data-type="tweet"]{					
					.hashtag{ color: $redlab;}    	
		        }

		        &[data-type="git"]{
					h2{	}

					h3{	}
		        }

		        &[data-type="post"]{
		        	h2{ }
		        }

			    .image-background{
			    	pre{  }
			    }		        
	            .image-background{
	                width: 100%;
	                height: 100%;
	                position: absolute;
	                top: 0;
	                overflow: hidden;

	            }	        	
		}
    }
}	
@include for-size(desktop){
    /* no support of flex */
	#flux{
        #flux-container{
    		display: inline-block;
    		width: 100%;

    		@include column-count(4);
    		@include column-gap($unite);
    		@include column-fill(balance);					
    		
    		article{ 
    			width: 100%;
    			break-inside: avoid;	           
			}
        }
	}
}
/////////////////////
//////// Flux desktop
/////////////////////

@include for-size(desktop){

	#flux {
		
		#flux-container{

			// Inherit
			@include column-count(inherit);
    		@include column-gap(inherit);

            @include flex();
            @include flex-wrap(wrap);
            @include flex-direction(row);



			article{

		        .type{ @include font-size-16; margin-bottom: $baseline/2;  }	
		        .update{ @include font-size-16; margin-bottom: $baseline/2; }	

		        @include stroke_hover(ul, top);
								
	        	ul.details{

		            @include flex();
		            @include flex-wrap(wrap);
		            @include flex-direction(row);
        		
	        		li{
	        			flex: 0 1 25%;
						@include font-size-13;

	        			&:not(:first-of-type){	}

	        		}
	        	}
		        &[data-type="tweet"]{					
					h2{
						@include font-size-20;
						margin: $baseline 0;
					}      	
		        }

		        &[data-type="git"]{
					h2{
						@include font-size-40;
						font-weight: 400;
						margin: $baseline 0 0 0 ;
					}

					h3{
						@include font-size-16;
						margin: $baseline/2 $unite*1.5 $baseline 0;
					}
		        }

		        &[data-type="post"]{
		        	h2{
		        		@include font-size-60;
						text-align: center;
						top: 40%;
						transform: translateY(-50%);
						z-index: 999;
		        	}
		        }

			    .image-background{
			    	pre{
		                font-size: calc(((25vw - #{$unite*0})/25)*3.10);
		                line-height: calc(((25vw - #{$unite*0})/25)*2.89);
		                overflow: hidden;
		            }
			    }		        
			}	
		} 
	}
}

@include for-size(desktop-900) {
	#flux article {
	    flex: 1 1 33%;
	    height: 250px;

        &[data-type="tweet"]{
        	flex: 1 1 66%;
        	ul.details li { flex: 1 1 25%; }
		}  
	}	
}

@include for-size(desktop-1200) {
	#flux article {
	    flex: 1 1 25%;
	    height: 250px;

        &[data-type="tweet"]{
        	flex: 1 1 50%;
        	ul.details li { flex: 1 1 25%; }
		 }

		 &[data-type="git"]{
			[data-icon="git"]::before {
			    display: block;
			    font-size: 40px;
			    vertical-align: middle;
			}
		 } 
	}	
}

@include for-size(desktop-1500) {
	#flux article {
	    flex: 1 1 20%;
	    height: 250px;

        &[data-type="tweet"]{
        	flex: 1 1 40%;
        	ul.details li { flex: 1 1 25%; }
		}   
	}	
}