@include for-size(desktop){
    #follow{
        width: 100%;
        padding: 0;
        height: $baseline*4;
        p{
            @include font-size-27();
            @include text-overflow;
            width: 100%;
            text-align: center;
            padding-top: $baseline;
        }
    }
}

@include for-size(phone){
    #follow{
        width: calc( 100% - #{$margins-phone*2} );
        padding: $unite 0;

        p{
            @include font-size-27();
            text-align: center;

        }
    }
}