/////////////////////
//////// Introduction phone
/////////////////////

@include for-size(phone) {

    #introduction{
        @include font-size-16-phone();
        text-align: center;
        margin: 0 $margins-phone;
        p{ 
            margin: 0 $margins-phone;
            a{
                @include font-size-13-phone();
                display: block;
                margin-top: $baseline;
                color: $text-color-light;
                text-decoration: underline;
            }
        }
    }

}



/////////////////////
//////// Introduction desktop
/////////////////////

@include for-size(desktop) {
        
    #introduction{
        width: 100%;
        margin: auto;
        text-align: center;

        overflow: hidden;
        max-height: $baseline*4;
        transition: .2s cubic-bezier(1,0,0,1);

        & > * { 
            transition-delay: 0.5s; 
            transform: translateY(-98px); 
        }


        h1{
            text-align: center;
            margin-top: $baseline*4;
            margin-bottom: $baseline*1;
            //padding-right: $unite;
        }

        a{
            @include font-size-16();
            margin-top: $baseline*1;
            color: $text-color-light;
            text-decoration: underline;
            //display: none;
        }

        .container{
            @include font-size-27();
            @include text-overflow;
            overflow: hidden;
            width: 100%;
            margin: 0;
            max-width: inherit;
        }

        &:hover{
            max-height: 100vh;
            
            & > * {transform: translateY(0); }
            
            h1{

                min-width: 100%;
            }
               
            .container{
                @include font-size-40();
                
                overflow: inherit;
                word-wrap: inherit;
                white-space: inherit;

                width: 80%;
                max-width: 1000px;
                margin: 0 auto;
                
                //a{ display: block;}
            }
        }
    }/* end #introduction */

}


