/////////////////////
//////// Now phone
/////////////////////

/* no support of grid */
@include for-size(phone){
    #now .contenu article{
        display: inline-block;
        width: 100%;
        margin-right: $margins-phone;
        margin-bottom: $margins-phone;
        vertical-align: top;
    }

    /* grid support */
    @supports(display: grid) {
        #now .contenu{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: auto auto;
            grid-gap: $unite;
            article{
                width: 100%;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    /* grid support for Edge (old syntax) */
    @supports (display: -ms-grid) {

        #now .contenu{
            display: -ms-grid;
            -ms-grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            -ms-grid-template-rows: auto auto;
            grid-gap: $unite;
            article{
                width: 100%;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    #now .contenu{ margin-top: $baseline*3; }

}





/* phone margins */
@include for-size(phone){
    #now article { 
        margin-top: $baseline*1!important;
        margin-bottom: $baseline*1!important; 
    }
}