/* Miniature highlight */

$width-image-pre-highlight: ( 100% / 75 ) * 4;


.page-people{

	#highlights{
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-top: $baseline*6;

		> h1{
			margin-bottom: $baseline*2;
			@include font-size-40();
		}

		ul{

			&:first-of-type { 
				border-top: $border; 
				padding-top: 1px;
			}
	
		}
	}
}
