@supports (display: grid) {

    #aside{
        max-width: 70%;
        min-width: 20%;
        resize:horizontal;
        overflow:auto; 
        -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
        -o-transform:matrix(-1, 0, 0, 1, 0, 0);
    }
    #related-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30px auto;
        -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
        -o-transform:matrix(-1, 0, 0, 1, 0, 0);
    }
    .collapse{ width: 100%; }
    .content{
        grid-column: 1/3;
    }
} 