
#aside{
width: 30%;
// background-color: red;
background-color: $background-site;
height: calc(100vh - var(--height-topbar));
position: fixed;
top: $height-top-bar;
right: 0;
padding-right: 30px;
border-right: solid 2px black;
}

main{
font-size: 24pt;
width: 70%;
margin-top: $height-top-bar;
padding-left: $margins-desktop;
}




.collapse{
cursor: pointer;
display: block;
// background: #cdf; 
display: inline-block;
width: 33%; 
font-size: $font-size*1.5;   

}
input{
display: none; /* hide the checkboxes */
}
input ~ .content{
display:none;
}
input#_1:checked ~ .content1, input#_2:checked ~ .content2, input#_3:checked ~ .content3{
display:block;
}



input:checked + label{
    border-top: solid 2px black;
    border-left: solid 2px black;
}

.label{
    display: block;
}

