/* page liste Activite */
/* julie: node-sass --watch index.scss ../css-compiled/index.css */

@import 'common';


//parts/page_list
@import 'parts/page_liste/page_liste';
@import 'parts/page_liste/page_liste-desktop';
@import 'parts/page_liste/page_liste-phone';
@import 'parts/page_liste/filtre';

// Specific to the nature of Page ( Procuction, / News / Activities)
// @import 'parts/page_liste/page_liste_activite';
