/////////////////////
//////// item_accroche: Phone 
/////////////////////

@include for-size(phone) {

	#liste_equipe{
		
    }

	#liste_equipe{        
		margin: $baseline $margins-phone 0 $margins-phone ;

		ul{
			display: inline-block;

			li{
				float: left;
				width: 100%;
				
				figure{
					img{
						width: 100%;
						filter: grayscale(1);
					}
				}

				hgroup{
					padding: $baseline*1 0;

					h1{
						@include font-size-20;
						font-weight: bold;

					}

					h2{
						@include font-size-20;
					}
				}

				[data-type="activite"]{
					display: none ;
				}
			}		   	
		}
	}
}
