/* assets/scss/common/_top-bar-desktop.scss */

@include for-size(desktop) {


    #topbar{
        height: $height-top-bar;
        position: relative;
        top: 0;
        left: 0;

        z-index: $topbar-desktop;
  
        display: inline-block;
        //width: calc(100vw - 20px);
        width: 100%;


        #topbar-content{

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            //grid-template-rows: 2rem auto 2rem;
            grid-template-rows: 20px 60px 20px;

            grid-gap: 0 2rem;

            padding: 0 $margins-desktop;

            background-color: $backgroundsite;

            #logo-medialab{
                width: 25%;
                max-width: 400px;
                vertical-align: bottom; 
                margin-left: $margins-desktop;
                margin-right: $margins-desktop;

                grid-column: 1 / 2;
                grid-row: 2 / 3; 
                align-self: end;
     
                //margin: 0 $margins-desktop;

                // If fixed
                position: fixed;
                margin: 4rem 0 4rem 0.5rem;


                svg{ 
                    max-width: 70%; 
                    opacity: .5;
                }
            }

            nav#nav-option{
                grid-row: 2 / 3; 
                grid-column: 2 / 5;
                align-self:end;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 100%;
                grid-gap: 2rem;

                #nav-objet{
                    grid-column: 1/2;
                    align-self:end;
                    max-width: 50px; // prevenir l'etalement

                    input{
                        display: none;
                    }
                }


                #nav-institution{
                    grid-column: 2/3;
                    align-self:end;
                }


                #nav-archive{
                    grid-column: 3/4;
                    align-self:end;
               }

            }

            #langue{
                grid-column: 6 / 7;
                justify-self: end;
                margin: 0 2rem;

                span{
                    cursor: pointer;

                    &.hover{
                        text-decoration: underline;
                    }
                }
            }
             #langue{
                margin: 0 $margins-desktop;
                grid-column: 6 / 7;
                justify-self: end;
                grid-row: 2/3;
                align-self: end;
            }
        }
    }
}

   


//@import 'top-bar-desktop-flex';


#nav-archive{

    input{
 
        display: none !important;

        &:checked + label{
            text-decoration: underline;
        }
    }

    label{
        transition: 0.25s ease;
        padding: 10px 10px 10px 0;
        cursor: pointer;
    }

    /////////////////////////
    ////////// Deployer le menu liste /////////
    /////////////////////////

    #flux{
        position: absolute;
        width: 100vw;
        left: -26vw;
        height: 0;
        transition: 1s linear;
        overflow: hidden;
    }
    #fluxx:checked ~ section#flux{

        height: 100px;
        transition: .2s ease-in;
        transition-property: height;
        padding: 3rem $margins-desktop 1rem $margins-desktop;
        position: absolute;
        top: 0;
    }
}