.icon{
    border: $border;
    font-size: 30px;
    letter-spacing: -4px;
    left: 0px;
    overflow: hidden;
    line-height: 20px;

    span{

        &:first-of-type{
            position: absolute;
            width: 100px;
            height: 100px;
            left: 60%;
            top: -50px;
            float: right;
            border: $border;
            background: white;
            transform: rotate(-45deg);            
        }
        &:last-of-type{
            bottom: 2px;
            right: 9px;
            font-size: 15px;
            letter-spacing: 0px;
        }
    }
}

@include for-size(desktop) {
    #fichiers-associes{
        li{ 
            @include font-size-20();
            margin-bottom: $margins-desktop;
            svg, p{ 
                display: inline-block;
                vertical-align: middle;
            }
            p.name{ 
                margin-left: $margins-desktop;
                @include font-size-20();
            }
            svg{ 
                width: 50px;
            }
        }       
    }/* end #fichiers-associes */
}

@include for-size(phone) {
    #fichiers-associes{
        li{ 
            @include font-size-20();
            margin-bottom: $margins-desktop;
            @include text-overflow();
            svg, p{ 
                display: inline-block;
                vertical-align: middle;
            }
            p.name{ 
                margin-left: $margins-desktop;
                @include font-size-20();
            }
            svg{ 
                width: 50px;
            }
        }       
    }/* end #fichiers-associes */
}