/////////////////////
//////// item_accroche: Desktop 
/////////////////////





@include for-size(desktop) {

	.page-people-list{


		#liste_equipe{   
			margin: 0 auto;
			margin-top: $height-top-bar;
			min-height: calc( 100vh - #{$height-top-bar} - #{$unite*9} - 3px); //unite*9 correspond a la hauteur du footer

			ul{
				width: 100%;
				display: inline-block;
				
				@supports(display: grid) {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
				}
				li{
					margin-bottom: $baseline*2;
					width: 50%;
					max-width: 600px;
					display: inline-block;
					@supports(display: grid) {
						width: 100%;
						max-width: 100%;
					}
					a{
						padding: $unite/2;
						@include flex();
						
					}

					.description{
						width: 52%;
						vertical-align: top;
						padding-left: $unite*1;
						// display: inline-flex;
						// @include flex-direction(column);
						// @include justify-content(space-between);
						// @include align-items(stretch);
					
					}

					figure{
						width: 48%;
						max-width: 300px;
						display: inline-block; 
						vertical-align: top;

						img{
							width: 100%;
							height: 100%;
							max-height: 200px;
							object-fit: cover;
							filter: grayscale(1);
						}
					}

					hgroup{
						// padding: $baseline*1 0;
						min-height: 110px;
						h1{
							@include font-size-27;
							margin-bottom: $baseline;

						}

					
						

						.status{ 
							@include font-size-16; 
							font-style: italic;
							&::before{ content: "“"; }
							&::after{ content: "”"; }
						}
					}

					.details{
						align-self: bottom;
						margin-top: $baseline;
						border-top: $border-very-light;
						border-bottom: $border-very-light;
						padding: $baseline/2 0;
						@include font-size-13;
						
						.role{
							border-bottom: $border-very-light;
							padding-bottom: $baseline/2;
							margin-bottom: $baseline/2;
							color: $redlab;
						}
						.details-statut, .domaine{
							display: inline-block;
							color: $text-color-light;
						}
						.details-statut{
							padding-right: $unite/2;
							margin-right: $unite/2;
							border-right: $border-very-light;
						}
					}

					[data-type="activite"]{
						display: none ;
						@include font-size-16;
					}
				}		   	
			}

			//////////////////////////
			///        Grid 	/////
			/////////////////////////	

			// @supports(display: grid) {
			// 	ul{
			// 		width: inherit; 
			// 		display: grid;
			// 	    grid-template-columns: repeat(2, 1fr);
			// 	    @include for-size(desktop-1000) {grid-template-columns: repeat(2, 1fr);}
			// 	    @include for-size(desktop-1200) {grid-template-columns: repeat(3, 1fr); }
			// 	    @include for-size(desktop-1300) {grid-template-columns: repeat(4, 1fr); }
			// 	    @include for-size(desktop-1800) {grid-template-columns: repeat(4, 1fr); }
			// 	    grid-gap: $unite*2;
		            
			// 		li{
			// 			float: inherit;
			// 			width: inherit;
						
			// 			&:not(:nth-of-type(4n)){
			// 				margin-right: inherit;
			// 			}
			// 		}		   	
			// 	}
			// }

			// @supports (display: -ms-grid) {
			// 	width: inherit; /
			//     display: -ms-grid;
			//     -ms-grid-template-columns: repeat(3, 1fr);
			//     @include for-size(desktop-1000) {-ms-grid-template-columns: repeat(2, 1fr);}
			//     @include for-size(desktop-1200) {-ms-grid-template-columns: repeat(3, 1fr); }
			//     @include for-size(desktop-1300) {-ms-grid-template-columns: repeat(4, 1fr); }
			//     @include for-size(desktop-1800) {-ms-grid-template-columns: repeat(4, 1fr); }
			//     -ms-grid-gap: $unite*2;
			// 	li{
			// 		float: inherit;
			// 		width: inherit;
					
			// 		&:not(:nth-of-type(4n)){
			// 			margin-right: inherit;
			// 		}
			// 	}
			// } 



		}// end liste

		
	}
}




