.page-people-list #liste_equipe{
	position: relative;

		li{

			a{
				display: block;
				width: 100%;
				height: 100%;				
				&:hover{ 
					background-color: $background-grey;
					color: currentColor; 
				}				
			}

			h1{
				@include font-size-27;
				margin-bottom: $baseline;
				@include for-size(phone) { 
					@include font-size-20-phone; 
					margin-bottom: $baseline/2;
				}
			}

			.status{ 
				@include font-size-16; 
				@include for-size(phone) { @include font-size-13-phone; }
				font-style: italic;
				&::before{ content: "“"; }
				&::after{ content: "”"; }
			}

			.details{
				border-top: $border-very-light;
				border-bottom: $border-very-light;
				padding: $baseline/2 0;
				@include font-size-13;
				@include for-size(phone) { @include font-size-13-phone; }
				
				.role{
					border-bottom: $border-very-light;
					padding-bottom: $baseline/2;
					margin-bottom: $baseline/2;
					color: $redlab;
				}
				.details-statut, .domaine{
					display: inline-block;
					color: $text-color-light;
				}
				.details-statut{
					padding-right: $unite/2;
					margin-right: $unite/2;
					border-right: $border-very-light;
				}
			}
		}
		


		#display-people-past + label{
			@include font-size-27;
			@include for-size(phone) { @include font-size-16-phone; }
			display: block;
			border-top: $border;
			color: $text-color-light;
			cursor: pointer;
			padding-top: $baseline*1.5;
			margin-bottom: $baseline*1.5;
			@include flex();
			@include justify-content(space-between);
			span{ 
				display: block;
				margin-left: $unite/2; 
				text-align: right;
			}
			&:hover{ color: $text-color; }
		}

		#liste_equipe_past{ 
			display: none; 
			border-top: $border;
			padding-top: $baseline*2;
		}

		#display-people-past:checked + label span{
			transform: rotate(90deg);
			transform-origin: center center;
			position: relative;
			top: 5px;
		}

		#display-people-past:checked ~ #liste_equipe_past{ 
			display: block;
			@supports(display: grid) {
				display: grid;
			}
		}      
	 
	
}