@include for-size(desktop) {

	.page-people-list #liste_equipe{   
			margin: 0 auto;
			margin-top: $height-top-bar;
			min-height: calc( 100vh - #{$height-top-bar} - #{$unite*9} - 3px); //unite*9 correspond a la hauteur du footer

			ul{
				width: 100%;
				display: inline-block;
				@supports(display: grid) {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
				}

				li{
					margin-bottom: $baseline*2;
					width: 50%;
					max-width: 600px;
					display: inline-block;
					@supports(display: grid) {
						width: 100%;
						max-width: 100%;
					}

					a{
						padding: $unite/2;
						@include flex();						
					}

					.description{
						width: 52%;
						vertical-align: top;
						padding-left: $unite*1;
					}

					figure{
						width: 48%;
						max-width: 300px;
						display: inline-block; 
						vertical-align: top;
						img{
							width: 100%;
							height: 100%;
							max-height: 200px;
							object-fit: cover;
						}
						&.noImg pre{ font-size: 7px;}
					}

					hgroup{ min-height: 110px; }

					.details{
						align-self: bottom;
						margin-top: $baseline;
					}

					[data-type="activite"]{
						display: none ;
						@include font-size-16;
					}
				}		   	
			}

		
	}
}




