///// Global 

///// Filtre
// chekbox elements
input.filtre_objet:checked ~ #ul-content li{display: none;}
input#filtre_equipe:checked ~ #ul-content .equipe{ display: block !important; }
input#filtre_publication:checked ~ #ul-content .publication{ display: block !important; }

@include for-size(desktop) {

    #elements-associes, #fichiers-associes{
        h2{
            margin-bottom: $margins-desktop;
        }

    }

    #fichiers-associes{
        li{ 
            margin-bottom: $margins-desktop;
            svg, p{ 
                display: inline-block;
                vertical-align: middle;
            }
            p{ margin-left: $margins-desktop;}
            svg{ 
                width: 50px;
            }
        }
        
    }

    #elements-associes{

        //// Filtre
        label{
            padding: 0 $unite 0 5px;
            bottom: 2px;
        }

        #ul-content{
        	
        	display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        	grid-template-rows: auto auto;
            grid-gap: $margins-desktop;
            margin-top: $margins-desktop;
            
            li{
                border-top: $border;
                padding-top: $baseline;
                padding-bottom: $baseline;
            }

            .equipe a, .publication a{
                display: grid;
                img, .img-generative{
                    height: $unite*6;
                }
                .type, p{
                }

                hgroup{
                    margin-left: $margins-desktop;
                    h1{ 
                        @include font-size-20(); 
                        padding: 0;
                        letter-spacing: 0.1px;
                    }
                    
                }

                .type{
                    margin-left: $margins-desktop;
                    align-self: flex-end;
                    padding: 0;
                }
                
                &:hover{
                    .img_container{
                        background-color: $redlab;

                        img{
                            mix-blend-mode: screen;
                            -webkit-filter: grayscale(100%) contrast(200%);
                            filter: grayscale(100%) contrast(200%);
                            opacity: 1;
                        }
                    }
                }
            }

            .equipe a{
                grid-template-columns: $unite*6 1fr;
                grid-template-rows: auto;
                .type{
                    &:before{ content: "⁙ "; }
                }

                .img_container{
                   img{
                        width: $unite*6;
                        grid-row: 1/3;
                        filter: contrast(1.4) grayscale(1);
                    } 
                }                
            }

            .publication a{
                grid-template-columns: $unite*6/2 1fr;
                grid-template-rows: auto;
                .img-generative{
                    width: $unite*6/2;
                    grid-row: 1/3;
                    overflow: hidden;
                }
                .type{
                    &:before{ content: "☵ "; }  
                }
                hgroup .titre{
                    text-transform: uppercase;
                    letter-spacing: 0.1px;
                    padding-bottom: 2rem;
                }
            }
        }   
    }
}

@include for-size(phone) {

}