@include for-size(desktop) {


    #fichiers-associes{
        li{ 
            @include font-size-20();
            margin-bottom: $margins-desktop;
            svg, p{ 
                display: inline-block;
                vertical-align: middle;
            }
            p{ 
                margin-left: $margins-desktop;
                @include font-size-20();
            }
            svg{ 
                width: 50px;
            }
        }

       
        
    }/* end #fichiers-associes */
}