@include for-size(desktop) {
    #nav-inside-article{
        padding-top:$margins-desktop;
        padding-bottom: $margins-desktop;
        height: 100%;

        
        position: fixed; 
        top: 0;
        left: $margins-desktop;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-content: stretch;

        .nav-inside-item{
            //height: $height-nav;
            height: $unite*3;
            width:  $logo-column/2;
            background-color: white;
            border-bottom: 1px solid black;
            //fonts
            font-size: $font-size*1.3;
            font-weight: 300;
            display: flex;
            align-items: center;
            &:first-of-type{
                border-bottom: none;
                //height: $height-top-bar - $margins-desktop;
                height: calc(#{$unite*3} - 1px); 
                align-items: flex-start;
                img, svg{ 
                    width: $logo-column/3 + $unite/2; 
                    margin: calc(#{$unite} + 5px) 0 5px 0;
                    fill: $text-color; }
            }

            a{
                width: $logo-column/3;
            }

        }

        

        #img-article{
            border-top: 1px solid black;
            flex-grow: 1;
            width: $logo-column/2;
            overflow: hidden;
            transition: width .25s linear;
            .image-generator{ 
                transition: opacity 1s linear; 
                
                pre{
                    font-size: 2vw !important;
                }
            }
            div{
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;            
                img{ 
                    position: absolute;
                    width: 100%;
                    height: 100%;

                    opacity:0;
                    z-index: 1;
                    filter: blur(20px);
                }
            }
        }

        #img-article:hover{
            width: $container-width;
            // overflow: visible;
            .image-generator{ 
                z-index: 2;
            }
            img{
                width: calc(#{$container-width} * 2);
                opacity: 1;
                transition: opacity 1s linear;
                height: 100%;
                z-index: 9999;
                position: relative;
                top: 18px;
                width: 121vw;
                mix-blend-mode: color;
            }
        }
    }
}

@include for-size(phone) {
    #nav-inside-article{ display: none;}
}