/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {
		

	main{
		margin-left: $logo-column;
		// margin-right: $margins-desktop*2;
		// max-width: 1100px;
		margin-bottom: 40vh;

		
			.article-contenu{
				max-width: 900px;
			}
	
			aside{
				padding-top: 100px;
			}
	
			.titre-sticky{
				@include font-size-20();
				position: sticky;
				top: -1px;
				width: 100%;
				height: 101px;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				border-bottom: $border;
				border-top: 1px solid black;
			}

		#article-contenu{

	
			.date, .type-objet{
				display: inline-block;
				padding-bottom: $baseline*4;
				// font-weight: bold;
			}
			.type-objet:before{ content: " – "}
	
			hgroup {

				h1{
					@include font-size-60();
					padding-bottom: $baseline*1;
					margin-top: $baseline*3;
					max-width: 1100px;
				}
	
				h2{ 
					padding-bottom: $baseline*1.5; 
					@include font-size-27();
					max-width: 1100px;
				}
			}
	
			p{
				@include font-size-20();
			}
			h2{  /// Incoherent mais temporaire; Données sont rédigé en base h2 et non h3
				margin-top: $baseline*2;
				@include article_h3();
			}
			
			h3{
				margin-top: $baseline*2;
				@include article_h3();
			}
	
			figure{
				margin-top: $baseline*2;
				margin-bottom: $baseline*2;
				max-width: 600px;
				img{
					width: 100%;
					box-shadow: 0 0 0 1px #888;
					margin-left: 2px;
				}
				figcaption{
					margin-top: $baseline*1;
				}
			}

			img{
				max-width: 100%;
				height: auto;
			}

		}/* #article-contenu */

		
	} /* main */

	#elements-associes > h1, #fichiers-associes > h1{
		padding-top: $baseline*3;
		margin-bottom: $baseline*2.5;
		@include font-size-27();
	}


}
