$width-image-pre-listing: 90px;






@media screen and (min-width: 700px) and (max-width: 1080px){
    .page-production-list,
    .page-activity-list,
    .page-news-list{
        #liste{
                margin-top: $height-top-bar;
                margin-left: $logo-column-medium;
        }
    }

   
}

@media screen and (min-width: 1080px){
    .page-production-list,
    .page-activity-list,
    .page-news-list{
        #liste{
                margin-top: $height-top-bar;
                margin-left: $logo-column;
        }
    }

}