/////////////////////
//////// Slideshow phone
/////////////////////

$height-slideshow-phone: 180px;

@include for-size(phone) {
  #slideshow .slideshow-container {
    span.controls {
      height: $baseline * 3;
      bottom: 0;
      &:before,
      &:after {
        padding: $baseline $unite/4;
        top: calc(50% - 4px);
        transform: translateY(-50%);
      }
    }

    .bullets-slide {
      position: absolute;
      top: $height-slideshow-phone;
    }

    .slideshow-controls {
      height: $height-slideshow-phone;
      .slide_controls {
        width: 50vw;
      }
    }

    .slideshow-inner {
      .slideshow-item {
        article {
          width: 100%;
          margin-left: 0;

          .image-pre {
            display: none;
          }

          .image-pre-phone {
            width: 100%;
            height: $height-slideshow-phone;
            background-color: $background-site;
            overflow: hidden;
            border: none;
            border-bottom: $border-redlab;
            pre {
              @include ratioImg120(100vw);
              font-size: -webkit-calc((100vw/120) * 2.25);
              font-size: -moz-calc((100vwe/120) * 2.25);
              font-size: calc((100vw / 120) * 2.25);

              font-weight: bold;
              overflow: hidden;
              color: $color-img;
            }
          }
          .contenu-slide {
            color: $redlab;
            padding: $baseline/2 $margins-phone;
            width: 100%;
            background: $background-site;
            overflow: hidden;

            a {
              display: block;
              width: 100%;
              height: 100%;
            }

            &:hover {
              background-color: $background-grey;
              cursor: pointer;
            }

            .bandeau {
              width: 100%;
              border-bottom: $border-redlab-very-light;
              padding-top: $baseline/2;
              padding-bottom: $baseline/2;
              text-align: left;
              @include font-size-13-phone();
              .type:before {
                display: inline;
                padding: 5px;
              }
              .label-news,
              .subtype-production,
              .title {
                padding-left: $unite/2;
                margin-left: $unite/2;
                border-left: $border-redlab-very-light;
              }
              p {
                display: inline-block;
              }
            }

            .date {
              @include font-size-13-phone();
              padding: $baseline/2 0;
              border-bottom: $border-redlab-very-light;
              white-space: nowrap;
              .date-news,
              .hours-news {
                display: inline-block;
                &::first-letter {
                  text-transform: capitalize;
                }
              }

              .hours-news {
                padding-left: $unite/2;
                margin-left: $unite/2;
                border-left: $border-redlab-very-light;
              }
            }

            h1 {
              @include font-size-20-phone();
              margin-top: $baseline * 1;
              margin-bottom: $baseline/2;
              &::first-letter {
                text-transform: capitalize;
              }
            }

            .accroche,
            .authors {
              @include font-size-13-phone();
            }

            .more {
              @include font-size-13();
              color: $redlab;
              @include linktext();
              padding-top: $baseline/2;
              &:hover {
                color: $redlab-light;
              }
            }
          }
        } /* end article*/
      } /* end slideshow-item*/

      /* Navigatin slideshow bullets ----------------------------------------------- */
      hr {
        display: none;
      }
    } /* end slideshow*/
  }
}
