@font-face{
	font-family:'Bel';
    src: url('bel2.eot');
    src: url('bel2.eot?#iefix') format('embedded-opentype'),
         url('bel2.woff2') format('woff2'),
         url('bel2.woff') format('woff'),
         url('bel2.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}

/* For large Image */
@font-face{
	font-family:'Bel';
    src: url('bel2-bold.eot');
    src: url('bel2-bold.eot?#iefix') format('embedded-opentype'),
         url('bel2-bold.woff2') format('woff2'),
         url('bel2-bold.woff') format('woff'),
         url('bel2-bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

/* For Extra Large Image */
@font-face {
    font-family: 'Bel';
    src: url('bel2-black.eot');
    src: url('bel2-black.eot?#iefix') format('embedded-opentype'),
         url('bel2-black.woff2') format('woff2'),
         url('bel2-black.woff') format('woff'),
         url('bel2-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}