/////////////////////
//////// Top bar desktop
/////////////////////


@media screen and (min-width: 700px) and (max-width: 1080px){
    #topbar{ 
        #logo-medialab svg,
        #logo-medialab img{ 
            width: $unite*5;
            margin-right: $unite*3; 
        }

        #topbar-content nav ul{width: $unite*6.5; }
    
    }
}

@media screen and (min-width: 1080px){
    #topbar{ 
        #logo-medialab svg,
        #logo-medialab img{ 
            width: $unite*6;
            margin-right: $unite*4;         
        }
        #topbar-content nav ul{width: $unite*8; }
    
    }
}





@include for-size(desktop) {

    #topbar{
        padding: $margins-desktop $margins-desktop;
        width: 100vw;
        height: $height-top-bar;
        left: 0;
        top: 0;
        color: $text-color;
        @include font-size-13-uppercase();
        letter-spacing: 0.2px;
        background-color: $background-site;
        z-index: 999;
        border-bottom: $border;
       
    }

    .page-production-list #topbar, 
    .page-activity-list #topbar, 
    .page-news-list #topbar,
    .page-people-list #topbar,
    .page-home #topbar {
        position: fixed !important;

    }

    // .page-people #topbar{
    //     position: absolute!important; 
    //     top: 0;
    // }


    #topbar label{ 
        display: none;
        cursor: pointer;     
    }
        
    #topbar-content{
        max-width: $max-width-main;
        margin: 0 auto;
        height: 100%;
        @include flex();
        @include justify-content(stretch);


        #logo-medialab svg, #logo-medialab img{
            
            fill: $text-color;
            
            top: 70%;
            transform: translateY(-50%);  
        }

        li::before{
            display: inline-block;
            text-align: center;
            // display: none;
            width: $baseline*1;
            margin-right: $baseline*0.75;
        }

        nav{
            @include flex();
            @include align-items(flex-end);
            ul{ 
                
                li{ margin-top: $baseline/4; }
                &:last-of-type{ width: 80px!important;}
            }
        }

        #langue{
            width: 100%;
            @include align-self(flex-end);
            p{
                width: 100%;
                text-align: right;

                .active{
                    border-bottom: $border;
                }

                a:hover.active{
                    border-color: $redlab;
                }
            }
        }
    }/* end #topbar-content */

}/* end desktop */


