/////////////////////
//////// Footer desktop
/////////////////////

@include for-size(desktop) {
    footer{
        height: $height-footer;
        width: 100vw;
        background: $background-site;
        left: 0;
        padding: 0 $margins-desktop;
        border-top: $border;
        z-index: 99;   
        
        #container-footer{
            max-width: $max-width-main + $margins-desktop*2;
            margin: 0 auto;
        }

        @include font-size-16();

 
        .contact, .mentions{

            color: $text-color-light;
            width: 240px;
            margin-left: $margins-desktop;
            margin-top: $baseline;
            a:hover{ color: $redlab;}

        }

        .mentions{ margin-top: $baseline*2;}
        .mentions a{
            padding-top: $baseline;
            @include linktext();
           
        }

        .contact{
            li{
                    display: inline-block;
                    &:not(:last-of-type):after{
                        content: "/";
                        padding: 0 $unite;
                    }
            }           
        }


    }
    //.page-home footer{ background: $background-site;}
}


/////////////////////
//////// Footer phone
/////////////////////

@include for-size(phone) {
    footer{
        margin: $unite-phone $margins-phone 0 $margins-phone;
        padding: $unite-phone 0;
        width: calc( 100% - #{$margins-phone*2} );
        border-top: $border;

        @include flex();
        @include flex-direction(column);
        @include font-size-16();

        .logo{
            display: none;
        }
        .adresse, .mentions{
            color: $text-color-light;
            order: 2;
            margin-top: $baseline*1.6;
        }

        .contact{

            order: 1;
            width: 100%;
            color: $text-color-light;

            ul{
                width: 100%;
                @include flex();
                @include flex-wrap(wrap);
                
                li{
                    &:not(:last-of-type):after{
                        content: "/";
                        padding: 0 $unite-phone*2;
                    }
                }
            }           
        }
    }
}

