/////////////////////
//////// Footer desktop
/////////////////////

@include for-size(desktop) {
    footer{
        height: $unite*7;
        width: 100vw;
        left: $margins-desktop * -1;
        padding: 0 $margins-desktop;
        border-top: $border-light;
      

        @include font-size-16();

 
        .contact, .mentions{

            color: $text-color-light;
            width: 240px;
            margin-left: calc(100% - 240px);
            margin-top: $baseline;
            a:hover{ color: $redlab;}

        }

        .mentions{ margin-top: $baseline*2;}
        .mentions a{
            padding-top: $baseline;
            border-bottom: 1px dotted $text-color-light; 
           
        }

        .contact{
            ul{
                // @include flex();
                // @include flex-wrap(wrap);
                // @include justify-content(flex-end);
                // width: 100%;

                li{
                    display: inline-block;
                    &:not(:last-of-type):after{
                        content: "/";
                        padding: 0 $unite;
                    }

                }
            }           
        }
    }
}


// @include for-size(desktop) {
// 	.page-about{

// 		footer{
// 			margin-left: $logo-column;
// 			width: calc( 100% - #{$margins-desktop*2} - #{$logo-column});
// 			margin-bottom: 2px;
// 		}
//     }
    
//     .page-home{

//         footer{
//             width: 100%;
//             margin-left: 0;
//         }
//     }

//     .page-people-list{
//         footer{
//             margin-left: $logo-column;
//             width: calc( 100% - /*#{$margins-desktop*2} -*/ #{$logo-column});
//             margin-bottom: 2px;
//         }
//     }

//     .page-production, 
//     .page-news, 
//     .page-activity{
//         footer{
//             margin-left: $logo-column;
//             width: calc( 100% - /*#{$margins-desktop*2} -*/ #{$logo-column});
//             margin-bottom: 2px;
//         }
//     }

//     .page-people{
//         footer{
//             margin-left: $logo-column;
//             width: calc( 100% - #{$margins-desktop*2} - #{$logo-column});
//             margin-bottom: 2px;
//         }
//     }

    
// }



/////////////////////
//////// Footer phone
/////////////////////

@include for-size(phone) {
    footer{
        margin: $unite-phone $margins-phone 0 $margins-phone;
        padding: $unite-phone 0;
        width: calc( 100% - #{$margins-phone*2} );
        border-top: $border-light;

        @include flex();
        @include flex-direction(column);
        @include font-size-16();

        .logo{
            display: none;
        }
        .adresse, .mentions{
            color: $text-color-light;
            order: 2;
            margin-top: $baseline*1.6;
        }

        .contact{

            order: 1;
            width: 100%;
            color: $text-color-light;

            ul{
                width: 100%;
                @include flex();
                @include flex-wrap(wrap);
                
                li{
                    &:not(:last-of-type):after{
                        content: "/";
                        padding: 0 $unite-phone*2;
                    }
                }
            }           
        }
    }
}

