.container{

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto 80vh 10vh ;

	margin: 0 2rem;

	.introduction{
		grid-column: 1 / 5;
		grid-row: 1 / 2;

		p{
			font-size: 4rem;
		}
	}

	.actualites{
		grid-column: 1 / 7;
		grid-row: 2 / 3;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;

			.item{
				height: 100%;
				width: auto;

				border: 1px grey solid;

			}
	}

	.flux{
		grid-column: 1 / 7;
		grid-row: 3 / 4;	
	}
}