/////////////////////
//////// Activités
/////////////////////



#filtre_recherche:checked ~ #liste #liste-objet-activite [data-type="enseignement"],
#filtre_recherche:checked ~ #liste #liste-objet-activite [data-type="methode"]{
	display:none;
}


#filtre_enseignement:checked ~ #liste #liste-objet-activite [data-type="recherche"],
#filtre_enseignement:checked ~ #liste #liste-objet-activite [data-type="methode"]{
	display:none;
}

#filtre_methode:checked ~ #liste #liste-objet-activite [data-type="enseignement"],
#filtre_methode:checked ~ #liste #liste-objet-activite [data-type="recherche"]{
	display:none;
}

#filtre_recherche:checked ~ #liste #liste-objet-activite [data-type="recherche"] {
	display: block!important;
}


#filtre_enseignement:checked ~ #liste #liste-objet-activite [data-type="enseignement"] {
	display: block!important;
}

#filtre_methode:checked ~ #liste #liste-objet-activite [data-type="methode"] {
	display: block!important;
}


@include for-size(desktop) {

	

	.filtre_activite:nth-of-type(2){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 1; }

	.filtre_activite:nth-of-type(3){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 2; }

	.filtre_activite_title:nth-of-type(1){ top: $height-top-bar + $baseline* 2.5 * 4.5;}

	.filtre_activite:nth-of-type(4){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 4.5; }

	.filtre_activite:nth-of-type(5){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 5.5; }

	.filtre_activite:nth-of-type(6){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 6.5; }

}

