/* all */

#liste{
    
    position: relative;
/*
    .filtre_objet{
   
    	ul{

            li{           

                p{
                    margin: auto;
                    position: absolute;
                }
				
				ul{ // if nested

	                li{
	                    min-height: inherit !important;
	                    border: inherit !important;

	                    input{
	                        opacity: .5;
	                    }

	                } 
	            }
            }

            li:nth-of-type(1){
            }
        }
    }
*/
    ///// Filtre : Selctionner tel ou tel article Pure CSS
    input.filtre_objet:checked ~ #liste_objet [data-type]{display: none;}
    input#filtre_publication:checked ~ #liste_objet [data-type="publication"] { display: block !important;}
    input#filtre_web:checked ~ #liste_objet [data-type="web"] { display: block !important;}
    input#filtre_outils:checked ~ #liste_objet [data-type="outils"] { display: block !important;}
    input#filtre_situation:checked ~ #liste_objet [data-type="situation"] { display: block !important;}

    #liste_objet{

        ////    Liste des liens

        [data-item]{ // S'applique aux items des troix catégorie
            border-top: $border;
            
            &:hover{
                transition: .25s ease;
                border-top-color: $redlab;

                &+ [data-item] {
                    border-top-color: $redlab;
                }
            }
        }

        @for $i from 1 through 400 {

            [data-item="#{$i}"]:hover ~ [data-item="#{$i + 1}"],
            [data-item="#{$i}"]:active ~ [data-item="#{$i + 1}"]{ 
                border-top-color: $redlab;
            }
        }  
    }
}

