/////////////////////
//////// item_accroche: Phone 
/////////////////////

@include for-size(phone) {

	#liste{
        
       	margin: #{$height-top-bar-phone*1} $margins-phone 0 $margins-phone ;

		////	Filtre Objet

		.filtre_objet{

            position: fixed;
            width: $mobile-container-width;
			bottom: 0;
			border-top: $border;
			background: white;
			z-index: 80;
			padding: $unite-phone 0;
   
        	ul{

        		/*display: block;*/
        		width: 100%;


				@supports (display: flex){
					@include flex();
					@include flex-direction(column);
        			@include align-items(flex-start);
        		}

                li{           
                    min-height: $unite-phone*3;
                    width: 25%;
                    position: relative;

                    &+ ul{ 
                    	position: absolute;
                    	width: $mobile-container-width;
                    }

                    p{ @include font-size-20-phone; }
                   	                    
                    ul{ 	/////// If Nested / Eviter la redondance des Border
		                
		                width: $mobile-container-width;

						@supports (display: flex){
							@include flex();
							@include flex-direction(row);
		        			@include align-items(flex-start);
		        			@include justify-content(space-between);
		        		}

                        li{
                            height: $unite-phone;
                            width: $mobile-container-width/4;
                            padding-right: $unite-phone;

                            input{ margin-right: $unite-phone/2; }
                        } 
                    } 		/////// End Nested
                }

                li:nth-of-type(1){
                    min-height: $unite*3;
                }
            }
        }

        #liste_objet{

            width: $mobile-container-width;
            height: auto;

			////	Liste des liens

           	[data-item]{ // S'applique aux items des troix catégorie
				min-height: $unite*3;
				padding-top: $baseline;
				padding-bottom: $baseline;
                display: block;
                background-color: $background-site;

                
	            &:first-of-type{
	                border: none !important;
	            }

				h1{
					@include typo-list_title();
				}

				a{ width: 100%;}
				

				ul{
					width: 100%;
					padding-top: $baseline*0.5;
					display: block;


					li.title{  display: inline-block; width: 30%; padding-right: 10px; }
					li.type{  display: inline-block; width: 30%; padding-right: 10px;}
					li.time{  display: inline-block;width: 20%; padding-right: 10px;}	
					li.direct_link{	display: inline-block; width: 20%;}

					@supports (display: flex){
						@include flex();
            			@include align-items(center);

						li.title{  display: inline-block; width: 200px; padding-right: 10px; }
						li.type{  display: inline-block; width: 200px; padding-right: 10px;}
						li.time{  display: inline-block;width: 100px; padding-right: 10px;}	
						li.direct_link{	display: inline-block; width: 20px;}
					}

				}
			}

			////	Accroche

		    [data-item] ~ [data-item-accroche]{ 
		    	display: block;
		    	visibility: collapse;
		    	height: 0;
		    }

		    .accroche-titre{ 
		    	/*
		    	display: block;
		    	position: absolute;
		    	top: $height-top-bar-phone;
		    	width: $height-top-bar-phone;*/
		    	display: none;

		    }

		    @for $i from 1 through 200 {
		        [data-item="#{$i}"]:hover ~ [data-item-accroche="#{$i}"]{ 
		        	transition: .5s ease-in-out;
		        	height: 33vh;
		        	visibility: visible;
		        }
		        [data-item="#{$i}"]:hover ~ .accroche-titre{ 
		        	// do nothing
		        }
		    }
		    .item_accroche{
		        @include font-size-16();
			    position: relative;
			    width: $mobile-container-width;
		    }
        }
    }
}
