@supports (display: grid) {

    article{

        --tabsize: 60px;

        width: 100%;
        padding: 1rem 2rem;

        > #boussole{

            bottom: 0;
            position: fixed;
            padding: 2rem 0;
            z-index: 99;

            @include typo-header();

            ul{

                li{
                    height: var(--caseheight);
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    align-items: center;

                    &:nth-of-type(1) {
                        min-height: 4rem;
                        border-top: 1px solid black;
                    }
                }
            }
        }


        > main, > section{
            //height: calc(80vh - (var(--tabsize)*2));
            //width: 100%;

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 33vh auto 10vh;
            grid-gap: 2rem;

        }

        > section {
            min-height: 100vh !important;
        }

        main{
            
            //height: 80vh;
            
            header{
                grid-column: 2 / 5;
                grid-row: 1/ 2;
                align-self: center;

            }

            section{
                grid-column: 2 / 5;
                grid-row: 2;

                //height: 95vh;

                img{
                    max-width: 100%;
                    width: 50vh;
                    margin: 2rem 0;

                }
            }
        }

        #rel_personnes{

            min-height: 50vh;


            header{
                grid-column: 2 / 5;
                grid-row: 1/ 2;
                align-self: center;

            }


            > div{
                grid-column: 2 / 5;


            }

        }

        #rel_publications{

            header{
                grid-column: 2 / 6;
                grid-row: 1/ 2;
                align-self: center;

            }

            position: sticky;
            background: white;
            min-height: 50vh;

            > div{
                grid-column: 2 / 6;
            }
        }
    }
}  