html, body{
	font-family: monospace;

}


h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	font-size: 1.0rem;
}

p{
	font-size: 1.0rem;
}

a{
	text-decoration: none;
	color: inherit;

	&:hover{
		text-decoration: underline;
	}
}