@media screen{
  #home{

    .slideshow-container {
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
    .slideshow-inner {
      width: 500%;
      height: 100%;
      transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }
    .slideshow-item {
      width: 20%;
      height: 100%;
      float: left;
    }
    .slideshow-item{
      transition: all 0.5s ease-out;
    }




    /* Move slides overflowed container */
    #slide-bullet-1:checked ~ .slideshow-inner {
      margin-left: 0;
    }
    #slide-bullet-2:checked ~ .slideshow-inner {
      margin-left: -100%;
    }
    #slide-bullet-3:checked ~ .slideshow-inner {
      margin-left: -200%;
    }



    ////////////////////
    //// Bullet
    //////////////////
    .bullets-slide{
      position: absolute;
      width: 100%;
      height: 5px;
      z-index: 9;

      .slideshow-bullet-label{
        background: $background-site;

        width: 33.3333333%;
        height: 5px;
        display: inline-block;
        cursor: pointer;
        //margin: 0 5px;
        z-index: 99;
        //border-radius: 15px;
        top: -4px;
        position: relative;

        &:nth-of-type(2){  }

        &[data-type="active"]{
          opacity: 1;
        }
      }
    }

    /* Calculate AUTOPLAY for SLIDES */
    @keyframes bullet {
      0%, 29% { background: $redlab; }
      29.01%, 100%  { background: $background-site; }
    }

    #slide-bullet-0:checked ~ nav.bullets-slide {
      [data-slide="1"]{ animation: bullet 18450ms infinite ; }
      [data-slide="2"]{ animation: bullet 18450ms infinite 5719ms; }
      [data-slide="3"]{ animation: bullet 18450ms infinite 11800ms; }
    }  
    #slide-bullet-1:checked ~ nav.bullets-slide [data-slide="1"]{
      background: $redlab;
    }
    #slide-bullet-2:checked ~ nav.bullets-slide [data-slide="2"]{
      background: $redlab;
    }
    #slide-bullet-3:checked ~ nav.bullets-slide [data-slide="3"]{
      background: $redlab;
    }


    /* Calculate AUTOPLAY for SLIDES */
    @keyframes slide {
      0%, 29%	{ margin-left: 0; }
      33.333333333333336%, 62%	{ margin-left: -100%; }
      66.66666666666667%, 96%	{ margin-left: -200%; }
    }


    #slide-bullet-0:checked ~  .slideshow-inner {
      // animation: slide 18450ms infinite;
      // will-change: auto;
    }
    /* Calculate AUTOPLAY for SLIDES - END */


    //////////////
    ///// Controls 
    /////////////

    @keyframes slideshow-controls-animation {
      0%, 33.32333333333334%  {
        //opacity: 1;
        //visibility: visible;
        z-index: 11;
      }
      33.333333333333336%, 100% {
        //opacity: 0;
        //visibility: collapse;
        z-index: -1;
      }
    }

    nav.slideshow-controls {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;    

        .slide_controls{
          width: $unite*2;
          height: 100%;

          position: absolute;
          top: 0;
          cursor: pointer;
          will-change: z-index;

          &.slide_controls-previous{
            left: 0;
          }
          &.slide_controls-next{
            right: 0;
          }
          &.slide_controls-previous:hover ~ span.controls:before, 
          &.slide_controls-next:hover ~ span.controls:after{
            background: $background-grey !important;
          }
        }

      // Les boutons visibles sont des pseudo éléments sur lequels vont et viennent les labels actionnable. Raison : economiser des performance navigateur
      span.controls{

        position: absolute;
        width: 100%;
        
        &:before, &:after{
          position: absolute;
          //border-top: $border;
          //border-bottom: $border;
          background: $background-site;
          font-size: 20px;
          z-index: 9;

          &:hover{ background: $background-grey;}
        }

        &:before{
          content: "❬";
          left: -1px;
        }

        &:after{
          content: "❭";
          right: -1px;
        }
      }
    }


    #slide-bullet-0:checked ~ .slideshow-controls label{
      // Le Radio 0 se contente d'agir sur l'appartition / disparition de tous les labels Nav
      display: block;

      &:nth-of-type(1), &:nth-of-type(2){
        animation: slideshow-controls-animation 18450ms infinite 0ms; // -1000ms
      }
      &:nth-of-type(3), &:nth-of-type(4){
        animation: slideshow-controls-animation 18450ms infinite 5719ms; 
      }
      &:nth-of-type(5), &:nth-of-type(6){
        animation: slideshow-controls-animation 18450ms infinite 11800ms; 
      }
    }

    #slide-bullet-1:checked ~ .slideshow-controls label{
        z-index: -1;
      &:nth-of-type(1), &:nth-of-type(2){
        z-index: 11;
      }
    }

    #slide-bullet-2:checked ~ .slideshow-controls label{
        z-index: -1;
      &:nth-of-type(3), &:nth-of-type(4){
        z-index: 11;
      }
    }

    #slide-bullet-3:checked ~ .slideshow-controls label{
        z-index: -1;
      &:nth-of-type(5), &:nth-of-type(6){
        z-index: 11;
      }
    }
  }

}