
/////////////////////
//////// Slideshow desktop
/////////////////////



/* Query: min 700px ------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------
*/
@include for-size(desktop) {

	#slideshow{
        
        &:after{
            content: "";
            position: absolute;
            bottom: 4px;
            border-bottom: $border-very-light;
            width: 100%;
        }
        
		.slideshow-container{
			
			.slideshow-inner{

				.slideshow-item{
			
					article{
						height: 100%;
						width: 100%;
						margin-left: 0;

						.image-pre{
							width: 100%;
							height: 100%;
							background-color: $background-site;
							overflow: hidden;
		        			border: none;
		        			pre{ 
			                    font-weight: bold;                
			                    overflow: hidden;
								color: $color-img;
		        			}
						}

						.image-pre-phone{ display: none; }

						.contenu-slide{
							color: $redlab;
							position: absolute;
							top: $unite;
							left: $unite*3;
							padding: $baseline/2 $unite/2;
							z-index: 9;
							text-align: left;
							background: $background-site;
							overflow: hidden;

							&:hover{
								background-color: $background-grey;
								cursor: pointer;
							}

							a{ 
								height: 100%; 
								position: relative; 
								display: inline-block;}
		         			
							.bandeau{
								width: 100%;
								border-bottom: $border-redlab-very-light;
								padding-bottom: $baseline/2;
								text-align: left;
								@include font-size-13();
								.type:before{ display: inline; padding: 5px;}
								.label-news, .subtype-production, .title{
									padding-left: $unite/2;
									margin-left: $unite/2;
									border-left: $border-redlab-very-light;
								}
								p{ display: inline-block;}
							}
							
							
							.date{
								padding: $baseline  0;
								border-bottom: $border-redlab-very-light;						
								.date-news, .hours-news{		
									display: inline-block;
									&::first-letter{ text-transform: capitalize; }
								}
			
								.hours-news{
									padding-left: $unite/2;
									margin-left: $unite/2;
									border-left: $border-redlab-very-light;
								}
			
							}
						

							h1{
								
								margin-top: $baseline*1.5;
								margin-bottom: $baseline*2;
								&::first-letter{ text-transform: capitalize; }
							}


							
							

							 .more{
								@include font-size-13();
								color: $redlab;
								@include linktext();

								position: absolute;
								bottom: 0;
								left: 0;
								&:hover{ color: $redlab-light;}
							 }


						}
					}/* end article*/

				}/* end slideshow-item*/

				/* Navigatin slideshow bullets ----------------------------------------------- */


				.slideshow--bullet {
					position: relative;
					top: calc(100% - #{$unite} - #{$baseline*2});
					left: 55%;
				}

				.slideshow--bullet-label, hr{ display: none; }



			}/* end slideshow*/

		}/* end query 700 */
	}
}





@media screen and (min-width: 1000px) and (max-width: 1200px){
	#slideshow{

		height: $baseline*26;

        .contenu-slide{
            width: 55%;					
            height: -webkit-calc(100% - #{$unite*2});
            height: -moz-calc(100% - #{$unite*2});
			height: calc(100% - #{$unite*2});
			h1{ @include font-size-27(); }
			.date{ @include font-size-16(); }
			.accroche, .authors{ @include font-size-16(); }
		}
		
		.image-pre{ @include ratioImg240(700px);}

	}
}



@media screen and (min-width: 1200px) and (max-width: 1350px){
	#slideshow{

		height: $baseline*30;

		.contenu-slide{
			width: 62%;					
			height: -webkit-calc(100% - #{$unite*2});
			height: -moz-calc(100% - #{$unite*2});
			height: calc(100% - #{$unite*2});
			h1{ @include font-size-40(); }
			.date{ @include font-size-20(); }
			.accroche, .authors{ @include font-size-20(); }
		}
		
		.image-pre{ @include ratioImg240(800px);}

	}
}



@media screen and (min-width: 1350px){
	#slideshow{

		height: $baseline*30;

		.contenu-slide{
			width: 55%;					
			height: -webkit-calc(100% - #{$unite*2});
			height: -moz-calc(100% - #{$unite*2});
			height: calc(100% - #{$unite*2});
			h1{ @include font-size-40(); }
			.date{ @include font-size-20(); }
			.accroche, .authors{ @include font-size-20(); }
		}
		
		.image-pre{ @include ratioImg240(900px);}

	}
}








