/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {

	#topbar{
        &:after{
            content:"";
            border-bottom: $border;
            margin-left: $logo-column;
            width: calc( 100vw - #{$logo-column} - #{$margins-desktop*3} );
            position: absolute;
            bottom: 0;
            z-index: 10;
        }
	}

	main{
		
		margin-left: $logo-column;
		margin-bottom: 40vh;

		@include flex;
		@include flex-wrap(wrap);

		hgroup{
			
			flex-basis: 100%;

			h1{
				@include font-size-60();
				padding-bottom: $baseline*1;
				margin-top: $baseline*3;
				max-width: 1100px;
			}

			h2{ 
				padding-bottom: $baseline*1.5; 
				@include font-size-27();
				max-width: 1100px;
			}
		}

		.contenu{
			max-width: 900px;
			margin-right: $unite*2;
		}	

		h3{
			padding-top: $baseline*3;
			margin-bottom: $baseline*2.5;
			@include font-size-27();
			font-weight: bold;
		}

		p{
			@include font-size-27;
		}
	}		
	
	#inshort{
		display: block;
		max-width: 300px;

		p{
			@include font-size-16;
		}
	}	

	footer{
		margin-left: $logo-column;
		width: calc( 100% - #{$margins-desktop*2} - #{$logo-column});
		margin-bottom: 2px;
	}
}

////////////////////////
////// Hidden part /////
////////////////////////

.minified {
	p{
		@include font-size-27;
		//max-width: 66%;
	}	
}