/* assets/scss/common/_top-bar-desktop-flex.scss */


@include for-size(desktop) {
    @supports (display: flex) {
        
        #topbar-content{
            display: flex;       
            // align-items: flex-end;

            nav{
                display: flex;
                align-items: flex-end;
                // align-content: flex-end;
                // min-width: 800px;
            }

            #langue{
                flex-grow: 1;
                justify-content: end;
                text-align: right;
                display: flex;
                align-items: flex-end;
                p{
                    width: 100%;
                    text-align: right;
                }
            }
        }
    } 
}