.toggle-lang{
    border: dotted 1px $text-color;
    padding: $baseline*2 $unite*2;
    margin-top: $baseline*3;

        @include font-size-16();

        span{
            border-bottom: $border; 
            white-space: nowrap;
            cursor: pointer;
            &:hover{ 
                color: $redlab;
                border-bottom: $border-redlab;
            }
        }

}


#fr-to-en:checked + label { color: red;}
#en-to-fr:checked + label { color: red;}

#fr-to-en:checked ~ .fr{
  display: none; 
}

#en-to-fr:checked ~ .en{
    display: none; 
  }