@supports(display: grid) {
    .container{

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2rem;

        padding: 0 2rem;
        width: calc( 100vw - 2rem);

        #enavant{
            grid-column: 1 / 7;
            grid-row: 2 / 3;

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 2rem;

            /*display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2.5rem;*/

            article{
            }

            section#liste_item{
                grid-column: 1/5;
                grid-row-start: 1;

            }

            section#flux{
                grid-column: 5/7;
                position: sticky;
                height: 50vh;
                top: 0;

                &:after{
                    content:".";
                    border-bottom: 1px solid grey;
                }

                h3{
                        font-size: $font-size*4;
                        line-height: $baseline*3.5;
                        font-weight: 100;
                        letter-spacing: -1px;

                        padding: 1rem 0 1rem 0;
                }

                .date{
                    font-style: italic;
                    font-weight: 500;

                }

                .name{
                    font-weight: 500;
                }
            }
        }
    }
} 