///// Global 

#elements-associes-liste{
	///// Filtre
	// chekbox elements
	input.filtre_objet{cursor:pointer; &+label{cursor:pointer; padding: 0 $unite 0 5px;}}
	input.filtre_objet:checked ~ .contenu li{display: none !important;}
	input#filtre_equipe:checked ~ .contenu li[data-type="people"]{ display: block !important; }
	input#filtre_production:checked ~ .contenu li[data-type="production"]{ display: block !important; }
	input#filtre_activite:checked ~ .contenu li[data-type="activite"]{ display: block !important; }

	ul.liste_objet{ 
			
		padding: $unite 0;

		li{
			

			a{
				@include flex();
				@include justify-content(flex-start);
				width: 100%;
				
				padding: $baseline 0;
				border-bottom: $border;
		
				*{@include text-overflow();}

				h1{
					@include font-size-16();
					@include flex-order(2);
					padding-right: $unite/2;
					font-weight: bold;
					width: 33%;
				}

				h2{
					@include font-size-16();
					@include flex-order(3);
					padding-right: $unite/2;
					font-weight: bold;
					width: 33%;
				}

				p{
					@include font-size-16();
					@include flex-order(4);
				}

				.image-pre{
					display: none;
					height: $unite;
					overflow: hidden;
					width: $unite;

					@include flex-order(1);
				}
			}
		}
	}

	@include for-size(phone) {}

	@include for-size(desktop) {

	}
}
