@import 'common';

// Index

@import 'pages/index/index';





@import 'fragments/miniatures/index_now-desktop';
@import 'fragments/miniatures/index_now-phone';
@import 'fragments/miniatures/index_now';
@import 'fragments/miniatures/people_highlight';
@import 'fragments/elements-associes';
@import 'fragments/toggle-lang';
@import 'fragments/nav';




// @import 'common/pages/highlights';



// HOME ///////////////////////////////////////////////

@import 'pages/index/slideshow/slideshow-phone';
@import 'pages/index/slideshow/slideshow-desktop';
@import 'pages/index/slideshow/slideshow-nav';

@import 'pages/index/introduction';

@import 'pages/index/agenda/agenda-phone';
@import 'pages/index/agenda/agenda-desktop-slider';
@import 'pages/index/agenda/agenda-desktop-structure'; 
@import 'pages/index/agenda/agenda-desktop-style'; 

@import 'pages/index/flux/flux-style';
@import 'pages/index/flux/flux-structure';

@import 'pages/index/flux/follow';


// PAGES LIST ///////////////////////////////////////////////

@import 'pages/pages_list/page_liste-desktop';
@import 'pages/pages_list/page_liste-phone';


@import 'pages/pages_list/item-list/list-all';
@import 'pages/pages_list/item-list/list-activities';
@import 'pages/pages_list/item-list/list-news';
@import 'pages/pages_list/item-list/list-productions';

@import 'pages/pages_list/filtres/filtre';
@import 'pages/pages_list/filtres/filtre-style-desktop';
@import 'pages/pages_list/filtres/filtre-style-phone';

@import 'pages/pages_list/filtres/filtre_production';
@import 'pages/pages_list/filtres/filtre_activite';
@import 'pages/pages_list/filtres/filtre_news';



// PAGES EQUIPE ///////////////////////////////////////////////

@import 'pages/page_equipe/page_equipe';
@import 'pages/page_equipe/page_equipe-desktop';
@import 'pages/page_equipe/page_equipe-phone';
@import 'pages/page_equipe/filtre';
@import 'pages/page_equipe/filtre_equipe';
@import 'pages/page_equipe/filtre_equipe_pattern';


// PAGES OBJET ///////////////////////////////////////////////

@import 'pages/pages_objet/page_objet';
@import 'pages/pages_objet/page_objet-desktop';
@import 'pages/pages_objet/page_objet-phone';






// PAGES PEOPLE ///////////////////////////////////////////////

@import 'pages/pages_people/page_people';
@import 'pages/pages_people/page_people-desktop';
@import 'pages/pages_people/page_people-phone';










// Page About

@import 'pages/apropos/apropos';
@import 'pages/apropos/apropos-desktop';
@import 'pages/apropos/apropos-phone';



// Archive

//@import 'pages/archive/_archive';
//@import 'pages/archive/_archive-desktop';
//@import 'pages/archive/_archive-phone';