/* page objet */
/* julie: node-sass --watch index.scss ../css-compiled/index.css */

@import 'common';


//parts/page_list
@import 'parts/page_objet/page_objet';
@import 'parts/page_objet/page_objet-desktop';
@import 'parts/page_objet/page_objet-phone';

@import 'common/pages/toggle-lang';
@import 'common/pages/nav-article';
@import 'common/pages/fichiers-associes';
@import 'common/pages/elements-associes';
//@import 'parts/index/now-desktop';
//@import 'parts/index/now-phone';


// Specific to the nature of Page 
// Uniquement pour les pags People / Production ou Actualite
// Les pages Personne se distingue. Trop differente

#elements-associes .more{ display: none;}