//Global rules for home
$hunit: 4vh;

/* all */
.page-home{
    //overflow-x: hidden;
    .time::before{
        content: "◷ ";
    }

    #introduction{ border-bottom: $border; }

    #home{ overflow-x: hidden; }
    
    hr{ border: none; }

}




@include for-size(phone) {

    .page-home { 

        main{ 
            margin: $topbar-phone auto 0 auto;
        }   
        
        #introduction, #flux{
            border-bottom: $border;
            padding-bottom: $baseline*4;
        }

        section#now > h1,
        section#agenda > h1,
        section#git > h1,
        section#tweet > h1 { 
            display: none;
        }

        section label.responsive-now,
        section label.responsive-flux{
            @include font-size-20-phone;
            margin-bottom: $baseline/2;
            margin-top: $baseline/2;
            text-align: center;
            width: 100%;
            display: block;
            cursor: pointer;
            padding: $baseline/2 0;
            border-bottom: $border;    
        }
    }
}



@include for-size(desktop) {
    
    .page-home{
    
        main{ 
           
            max-width: $max-width-main + $margins-desktop*2;
            margin: 0 auto;
            margin-top: $height-top-bar;
        }

        section > h1{
            @include font-size-20;
            text-transform: uppercase; 
            font-weight: 500;
            border-bottom: $border;
            padding: $baseline*1 0;
        }

        section label.responsive-now,
        section label.responsive-flux{
            display: none;
        }


        /*#slideshow:after{
            content:'';
            width: 100%;
            border-bottom: $border;
            position: absolute;
            bottom: -1px;
            left: 0;

        }*/
    }
}





@media screen and (min-width: 1000px) {
    #home{
        position: fixed;
        top: $height-top-bar;
        height: calc(100vh - #{$height-top-bar});
        overflow-y: scroll;
        padding-bottom: $height-footer;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
    #home{ width: 700px + $size-scrollbar; }
    #slideshow, #introduction, #now { width: 700px; }

    #flux{ margin-left: 700px + $margins-desktop; }  
   .flux_selection_container{ width: calc(100vw - 700px - #{$margins-desktop*3}); }

}



@media screen and (min-width: 1200px) and (max-width: 1350px){

    #home{ width: 800px + $size-scrollbar; }
    #slideshow, #introduction, #now { width: 800px; }

    #flux{ margin-left: 800px + $margins-desktop; }  
    .flux_selection_container{ width: calc(100vw - 800px - #{$margins-desktop*3}); }

}



@media screen and (min-width: 1350px){

    #home{ width: $max-width-article + $size-scrollbar; }
    #slideshow, #introduction, #now { width: $max-width-article; }

    #flux{ margin-left: $max-width-article + $margins-desktop; }  
    .flux_selection_container{ width: calc(100vw - #{$max-width-article} - #{$margins-desktop*3}); }

}


@media screen and (min-width: 1650px){
    #flux, .flux_selection_container{ width: $max-width-main - $max-width-article - $margins-desktop; }  
}