//Global rules for home
$hunit: 4vh;

/* all */
.page-home{
    overflow-x: hidden;
    .time::before{
        content: "◷ ";
    }
}




@include for-size(phone) {

    .page-home { 
        #topbar{
            ul{
                &#nav-home{
                    display: block !important;
                }

                &:first-of-type {
                    margin-top: $baseline*0.5;
                    border-top: $border-redlab;
                }

                &:nth-of-type(2){
                    margin-top: inherit;
                    border-top: inherit;
                }
            }

        }

   
        
        #introduction, #now, #flux{
            border-bottom: $border;
            padding-bottom: $baseline*4;
            margin-left: $margins-phone;
            margin-right: $margins-phone;
        }
        

        section > h1{
            @include font-size-27-phone;
            margin-bottom: $baseline*1;
            margin-top: $baseline*4;
            text-align: center;
        }
    }
}



@include for-size(desktop) {
    
    .page-home{
    
        main{ 
           
            max-width: $max-width-main;
            margin: 0 auto;
            margin-top: $height-top-bar;
        }


    
        #slideshow, #introduction, #flux{ border-bottom: $border; }
        

        #flux{
          
            // top: $height-top-bar;
            //max-height: 100%;
            // max-height: calc( 100vh - #{$height-top-bar} );
            // overflow: hidden;
            // padding-right: $margins-desktop;


            // .container{
            //     width: 100%;
            //     height: 100%;                
            //     padding-right: $unite;
            //     margin-bottom: $height-footer;
            //     box-sizing: content-box;
            //     overflow-y: scroll;
            //     max-height: calc( 100vh - #{$height-top-bar} );

            // }            
        }


        section > h1{
            @include font-size-20;
            text-transform: uppercase; 
            font-weight: 500;
            border-bottom: $border;
            padding: $baseline*1 0;
        }

        #slideshow:after{
            content:'';
            width: 100%;
            border-bottom: $border;
            position: absolute;
            bottom: -1px;
            left: 0;

        }
    }
}





@media screen and (min-width: 1000px) {
    #home{
        position: fixed;
        top: $height-top-bar;
        height: calc(100vh - #{$height-top-bar});
        overflow-y: scroll;
        padding-bottom: $height-footer;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px){
    #home{ width: 700px + $size-scrollbar; }
    #slideshow, #introduction, #now { width: 700px; }

    #flux{ margin-left: 700px + $margins-desktop; }  
   .flux_selection_container{ width: calc(100vw - 700px - #{$margins-desktop*3}); }

}



@media screen and (min-width: 1200px) and (max-width: 1350px){

    #home{ width: 800px + $size-scrollbar; }
    #slideshow, #introduction, #now { width: 800px; }

    #flux{ margin-left: 800px + $margins-desktop; }  
    .flux_selection_container{ width: calc(100vw - 800px - #{$margins-desktop*3}); }

}



@media screen and (min-width: 1350px){

    #home{ width: $max-width-article + $size-scrollbar; }
    #slideshow, #introduction, #now, #flux{ width: $max-width-article; }

    #flux{ margin-left: $max-width-article + $margins-desktop; }  
    .flux_selection_container{ width: calc(100vw - #{$max-width-article} - #{$margins-desktop*3}); }

}


@media screen and (min-width: 1650px){
    #flux, .flux_selection_container{ width: $max-width-main - $max-width-article - $margins-desktop; }  
}