/////////////////////
//////// Introduction phone
/////////////////////

@include for-size(phone) {

    #introduction{
        @include font-size-16-phone();
        text-align: left;
        //margin: 0 $margins-phone;
        padding-top: $baseline*2;
        padding-bottom: $baseline*2;

        h1{ display: none;}
        p{ 
            a{
                @include font-size-13-phone();
                display: block;
                margin-top: $baseline;
                color: $text-color-light;
                text-decoration: underline;
            }
        }
    }

}



/////////////////////
//////// Introduction desktop
/////////////////////

@include for-size(desktop) {
        
    #introduction{
        width: 100%;
        //margin: auto;
        text-align: left;
        padding-top: $baseline*2;
        padding-bottom: $baseline*5;

        h1{ display: none;}

        a{
            @include font-size-16();
            margin-top: $baseline*1;
            color: $text-color-light;
            text-decoration: underline;
            display: none;
        }

        p{
            @include font-size-27();
            z-index: 9;
            max-width: 800px; 
            //margin: 0 auto;
            // padding: 2rem 0px;
            // font-style: italic;
            transition: 0.2s;
            &:hover{
                @include font-size-40();
                max-width: 1000px;
                a{ display: block;}
            }
        }
    }/* end #introduction */

}


