/////////////////////
//////// Introduction phone
/////////////////////

@include for-size(phone) {

    #introduction{
        text-align: left;
        //margin: 0 $margins-phone;
        padding-top: $baseline*2;
        padding-bottom: $baseline*2;

        h1{ display: none;}

        p:first-of-type{
            @include font-size-16();
            z-index: 9;
        }


        p:nth-of-type(2){

            a{
                @include font-size-13-phone();
                display: block;
                margin-top: $baseline;
                color: $text-color-light;
                text-decoration: underline;
            }
        }         
    }

}



/////////////////////
//////// Introduction desktop
/////////////////////

@include for-size(desktop) {
        
    #introduction{
        width: 100%;
        text-align: left;
        padding-top: $baseline*2;
        padding-bottom: $baseline*5;

        h1{ display: none;}

        p:first-of-type{
            @include font-size-27();
            z-index: 9;
            max-width: 800px; 
        }


        p:nth-of-type(2){
            //position: absolute;
            //right: 0;
            //bottom: 0;
            text-align: right;
            padding-right: $unite;

            a{
                @include font-size-13();
                //margin-top: $baseline*1;
                color: $text-color-light;
                text-decoration: underline;
                display: block;
            }
        }        
    }/* end #introduction */

}


