// Manage global structure and responsive. 
// For details see fragments/miniatures





@include for-size(desktop) {
	#now{
	
		overflow: hidden;
		position: relative;
		border-bottom: none;


	}

}

