// Manage global structure and responsive. 
// For details see fragments/miniatures





@include for-size(desktop) {
	#now{
		width: 100%;
		max-width: $max-width-article;
		overflow: hidden;
		position: relative;
		border-bottom: none;


	}

}