/////////////////////
//////// Agenda style
/////////////////////

@include for-size(phone) {

    .agenda_moving_left, .agenda_moving_right, .past{ display: none; }

    #agenda{

        #agenda-contenu{
            margin-top: $baseline*4;
            margin-bottom: $baseline*0;
        }

     

        article{

            border-top: $border;
            padding: $baseline*2 0;


            .year-main{ display: none; }
            
            .internal{
                font-size: 11px;
                position: absolute;
                top: $baseline/4 + $baseline*2;
                // left: $unite-phone*-4;
                right: 0;
                span{
                    display: block;
                    padding-top: 3px;
                    height: $baseline*1.3;
                    width: $baseline*1.3;
                    color: $text-color-light;
                    border: $border; 
                    border-radius: 50%;
                    text-align: center;
                }
            }


            .date-news{ 
                @include font-size-13-phone();
                font-weight: 600;
                .week{ display: none; }
                .year{ display: none; }

      
            }

            h1{ 
                @include font-size-16-phone();
                padding: $baseline 0 $baseline/2 0;
                &::first-letter { text-transform: capitalize; }  
            }

            h2{ 
                @include font-size-13-phone();
                padding-bottom: $baseline;

                &::first-letter { text-transform: capitalize; }  
            }

            .place, .hours-news{ @include font-size-13-phone(); color: $text-color-light;  align-items: baseline;}

        }

    } /* end agenda*/

} /* end phone*/

