/* page objet */
/* julie: node-sass --watch index.scss ../css-compiled/index.css */

@import 'common';


//parts/page_list
@import 'parts/page_personne/page_personne';
@import 'parts/page_personne/page_personne-desktop';
@import 'parts/page_personne/page_personne-phone';

@import 'common/pages/nav-article';
@import 'common/pages/fichiers-associes';
@import 'common/pages/elements-associes';
@import 'parts/index/now-desktop';
@import 'parts/index/now-phone';


#elements-associes .more{ display: none;} 