//ajouter ici les mixins cross browsers



/////////////////////
//////// Flex elements 
/////////////////////


@mixin flex() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex-order($value) {
    -webkit-box-ordinal-group: $value;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: $value;      /* OLD - Firefox 19- */
    -ms-flex-order: $value;              /* TWEENER - IE 10 */
    -webkit-order: $value;               /* NEW - Chrome */
    order: $value;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}


@mixin flex-direction($value: row) {
	@if $value == row-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: horizontal;
	} @else if $value == column {
		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
	} @else if $value == column-reverse {
		-webkit-box-direction: reverse;
		-webkit-box-orient: vertical;
	} @else {
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
	}
	-webkit-flex-direction: $value;
	-moz-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit/FF Box fallback.
  -webkit-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

@mixin justify-content($value: flex-start) {
    @if $value == flex-start {
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
    } @else if $value == flex-end {
      -webkit-box-pack: end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
    } @else if $value == space-between {
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
    } @else if $value == space-around {
      -ms-flex-pack: distribute;
    } @else {
      -webkit-box-pack: $value;
      -moz-box-pack: $value;
      -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    justify-content: $value;
}



@mixin align-items($value: stretch) {
    @if $value == flex-start {
      -webkit-box-align: start;
      -moz-box-align: start;
      -ms-flex-align: start;
    } @else if $value == flex-end {
      -webkit-box-align: end;
      -moz-box-align: end;
      -ms-flex-align: end;
    } @else {
      -webkit-box-align: $value;
      -moz-box-align: $value;
      -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    align-items: $value;
  }


  @mixin align-self($value: auto) {
    // No Webkit Box Fallback.
    -webkit-align-self: $value;
    @if $value == flex-start {
      -ms-flex-item-align: start;
    } @else if $value == flex-end {
      -ms-flex-item-align: end;
    } @else {
      -ms-flex-item-align: $value;
    }
    align-self: $value;
  }


  @mixin align-content($value: stretch) {
    // No Webkit Box Fallback.
    -webkit-align-content: $value;
    @if $value == flex-start {
      -ms-flex-line-pack: start;
    } @else if $value == flex-end {
      -ms-flex-line-pack: end;
    } @else {
      -ms-flex-line-pack: $value;
    }
    align-content: $value;
  }

@mixin column-count($value: 3){
    -webkit-column-count: $value;
    -moz-column-count: $value; 
    column-count: $value;
}

@mixin column-gap($value: $unite){
  -webkit-column-gap: $value;
  -moz-column-gap: $value; 
   column-gap: $value;
}

@mixin column-width($value){
  -webkit-column-width: $value;
  -moz-column-width: $value; 
   column-width: $value;
}

@mixin column-fill($value: auto){
  -webkit-column-fill: $value;
  -moz-column-fill: $value; 
   column-fill: $value;
}

@mixin column-rule($value){
  -webkit-column-rule: $value;
  -moz-column-rule: $value; 
   column-rule: $value;
}









@mixin ratioImg240($value){
  font-size: -webkit-calc((#{$value}/240)*1.89);
  font-size: -moz-calc((#{$value}e/240)*1.89);
  font-size: calc((#{$value}/240)*1.89);
  //line-height: -webkit-calc((#{$value}/240)*1.89); 
  //line-height: -moz-calc((#{$value}/240)*1.89); 
  //line-height: calc((#{$value}/240)*1.89);
  line-height: 94%;
}

@mixin ratioImg120($value){
  font-size: -webkit-calc((#{$value}/120)*1.89);
  font-size: -moz-calc((#{$value}e/120)*1.89);
  font-size: calc((#{$value}/120)*1.89);
  line-height: 94%;
}

@mixin ratioImg60($value){
  font-size: -webkit-calc((#{$value}/60)*1.89);
  font-size: -moz-calc((#{$value}e/60)*1.89);
  font-size: calc((#{$value}/60)*1.89);
  line-height: 94%;
}