/* desktop */
$unite: 25px;
// $height-top-bar: $unite*6;
$height-top-bar: $unite*5;
$height-footer: $unite*7;
$margins-desktop: $unite;
$logo-column: $unite*10;
$logo-column-medium: $unite*8;
$height-sticky: 75px;
$max-width-article: 900px;
$max-width-main: 1600px;
$size-scrollbar: 17px;
$height-sticky: $baseline*5;



/*  phone  */
$unite-phone: 10px;
$height-top-bar-phone: $unite-phone*7;
$margins-phone: $unite-phone*1.5;
$topbar-phone: $unite-phone*7;
$mobile-container-width : calc(100vw - #{$margins-phone*2});


/*  bordures  */
$border: 0.5px solid #9e9d9d;
$border-very-light: 0.5px solid rgb(235, 235, 235);
$border-redlab: 0.5px solid $redlab;
$border-redlab-light: 0.5px solid $redlab-light;
$border-redlab-very-light: 0.5px solid #fad5d8;


/*  unicode catégories */
// $actualites: "∾ ";
$actualites: "◊ ";
$productions: "☵ ";
$activites: "⋇ ";
$people: "= ";
$files: "¤ ";
$git: "⊶ ";
$tweet: "⟐ ";
$time: "◷ ";
$place: "⦿ ";
$scrolltop: "↸ ";
$goto: " ⤤";



/*  autre */
::selection, ::-moz-selection{
    background: $redlab;
    color: $background-site;
} 

@mixin text-overflow($value: ellipsis) {
    @if $value == clip {
		text-overflow: clip;
	}
	@else {
		text-overflow: $value;
	}
	white-space: nowrap;
	overflow: hidden;
}


@mixin linktext(){
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	text-decoration-color: currentColor;
	text-decoration-style: dotted;
}

////////////////
//// EXPERIMENTAL
///////////////

@mixin stroke_hover($balise: &, $placement : top, $colorstroke: $redlab){
	#{$balise}::after {
		border: none;
	    border-#{$placement}: 1px solid transparent;
	    box-sizing: border-box;
	    content: '';
	    pointer-events: none;
	    position: absolute;
	    width: 0; height: 0;
	    left: 0; 
	    #{$placement} : 0;

	}
	&:hover {
		#{$balise}::after {
			border-color: $colorstroke;
			transition: border-color 0s, width .25s, height .25s;
			width: 100%;
			height: 100%;
			left: 0; 
			#{$placement} : 0;
		}
	}
}


@mixin text-background($padding: 0 0 0 0, $couleur: $background-site){
	span{
		display: inline;
		background: $couleur;
		padding: $padding;
	}
	//&:after{content: "\A"; white-space: pre;}
}