$font-main: sans-serif;
$font-mono: 'Bel', courier, monospace; 
$font-size: 10px; // Base 10 pour simplifier les calculs
$baseline: 15px;


:root{
	--font-size: $font-size;
    --baseline: $baseline;

    --font-main: $font-main;
    --font-mono: $font-mono;
    color: $text-color;
}


html{
    font-family: $font-main;
    font-size: $font-size;
}


//// BONNE TYPO

@mixin font-size-80() {
    font-size: $font-size*8;
    font-weight: 100;
    line-height: $baseline*7.5;
    letter-spacing: -1px;
}

@mixin font-size-60() {
    font-size: $font-size*6;
    font-weight: 100;
    line-height: $baseline*5.5;
    letter-spacing: -0.5px;
}


@mixin font-size-60-phone() {
    font-size: $font-size*5;
    font-weight: 100;
    line-height: $baseline*4;
    letter-spacing: -0.5px;
}

@mixin font-size-40() {
    font-size: $font-size * 4;
    font-weight: 100;
    line-height: $baseline*3;
    letter-spacing: -0.5px;
}

@mixin font-size-27() {
    font-size: $font-size*2.7;
    font-weight: 100;
    line-height: $baseline*2.5;
}// ancien typo-list_title

@mixin font-size-27-phone() {
    font-size: $font-size*2.7;
    font-weight: 300;
    line-height: $baseline*2.5;
}


@mixin font-size-20() {
    font-size: $font-size*2;
    font-weight: 300;
    line-height: $baseline*1.8;
}// ancien typo-list_title

@mixin font-size-20-phone() {
    font-size: $font-size*2;
    font-weight: 400;
    line-height: $baseline*1.8;
}


@mixin font-size-16() {
    font-size: $font-size*1.6;
    line-height: $baseline*1.6;
    font-weight: 100;
}//ancien typo-labeur

@mixin font-size-16-phone() {
    font-size: $font-size*1.6;
    line-height: $baseline*1.6;
    font-weight: 300;
}


@mixin font-size-13(){
    font-size: $font-size*1.3;
    line-height: $baseline*1.3;
    font-weight: 100;
}// ancien typo-home-nomenclature


@mixin font-size-13-phone(){
    font-size: $font-size*1.3;
    line-height: $baseline*1.3;
    font-weight: 300;
}




////////
/// Objectif Supprimer après à terme ↓ 
///////


@mixin typo-labeur() {
    font-size: $font-size*1.8;
    line-height: $baseline*1.8;
    font-weight: 100;
}

@mixin typo-header() {
    font-size: $font-size*1.3;
    font-weight: 300;
    line-height: $baseline;
    line-height: $baseline*1.3;
}

@mixin typo-list_title() {
    font-size: $font-size*2;
    font-weight: normal;
    line-height: $baseline;
    line-height: $baseline*1.8;
}


@mixin menu-object-accroche-desktop() {
    font-size: $font-size * 4;
    font-weight: 100;
    line-height: $baseline*3;
}





@mixin article_h1() {
    font-size: $font-size*6;
    line-height: $baseline*5.5;
    font-weight: 100;
    letter-spacing: -1px;

    padding: 2rem 0 4rem 0;
}

@mixin article_h2() {
    font-size: $font-size*3;
    line-height: $baseline*3;
    font-weight: 100;
}

@mixin article_h3() {
    font-size: $font-size*1.8;
    line-height: $baseline*1.8;
    font-weight: 500;

    padding: 1rem 0 2rem 0;
}


// Home

@mixin typo-home-titre-container{
        font-size: $font-size*2.7;
        line-height: $baseline*2.7;
        font-weight: 300;
        text-align: center;
}

@mixin typo-home-titre-container_2{
        font-size: $font-size*6;
        line-height: $baseline*4.5;
        font-weight: 300;
        text-align: left;
}

@mixin typo-home-article-title() {
    font-size: $font-size*2;
    font-weight: normal;
    line-height: $baseline;
    line-height: $baseline*1.8;
    letter-spacing: -.05px;
}

@mixin typo-home-nomenclature(){
    font-size: $font-size*1.2;
    line-height: $baseline*1.2;
    font-weight: 100;
    letter-spacing: -.05px;
}

@mixin typo-agenda-labeur{
    font-size: $font-size*1.4;
    line-height:  $baseline*1.4;
}
