/* page objet */
/* julie: node-sass --watch page_objet_02.scss ../css-compiled/page_objet_02.css */

// variables and mixins
@import 'vars/colors';
@import 'vars/queries';
@import 'vars/typo_5.2';
@import 'vars/z-index';
@import 'vars/divers';

// common
@import 'parts/common/body';
@import 'parts/common/normalize';
@import 'parts/common/clean';
@import 'parts/common/top-bar_5.1/top-bar';
@import 'parts/common/flux_01/flux';
@import 'parts/common/_pure_css_slideshow.scss';

//Parts
@import 'parts/index_5.3/index.scss';
@import 'parts/index_5.3/grid';