/* page listing publication */
/* julie: node-sass --watch page_objet_02.scss ../css-compiled/page_objet_02.css */

// variables and mixins
@import 'vars_listing/colors';
@import 'vars_listing/queries';
@import 'vars/typo_5.2';
@import 'vars_listing/z-index';
@import 'vars_listing/divers';



$margin-desktop: 20px;
$height-nav: 80px;
$width-nav: 75px;

// common
@import 'parts/common/body';
@import 'parts/common/normalize';
@import 'parts/common/clean';
@import 'parts/common/top-bar_6/top-bar';
@import 'parts/common/liste_objet_listing/liste_objet';


//Parts
@import 'parts/page_objet_6/page_objet.scss';
@import 'parts/page_objet_6/elements-associes';
@import 'parts/page_objet_6/menu-inside-article';

