/* Regles typographique de bases communes à toutes les pages de contenu */


@include for-size(desktop) {

	.page-production, 
	.page-news, 
	.page-activity, 
	.page-people,
	.page-about{


		/// Typo Header hgroup
		#article-contenu, 
		#biographie,
		#about-contenu {

			@media screen and (min-width: 700px) { 
				hgroup{			
					h1{ @include font-size-40(); }
					h2, h3{ 
						@include font-size-27();
						margin-top: $baseline*1.5;
						margin-right: 80px;
					}
				}	
			}


			@media screen and (min-width: 900px) {

			}

			@media screen and (min-width: 1080px) {
				hgroup{
					h1{ @include font-size-60(); }				
					h2, h3{ 
						@include font-size-27();
						margin-top: $baseline*1.5;
					}
				}		
			}
		}

		.article-contenu, 
		.biographie-contenu,
		.about-contenu {

							
			/* Regles de Base */
			figure, img + img, p + img{
				margin: $baseline*3 0 $baseline*4 0;
				width: 90%;
				margin-left: $unite;
			}

			iframe{
				width: 100%;
				min-height: 50vh;
				margin: $baseline*3 0 $baseline*4 0;	
				border: none;					
			}

			
			h1, h2, h3, h4, h5{
				@include font-size-20;
				font-weight: bold;
				margin-top: $baseline*4;
				margin-bottom: $baseline*2;
			}


			[data-style-level="1"]{
				@include font-size-20;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: $baseline*4;
				margin-bottom: $baseline*2;
			}

			[data-style-level="2"]{
				@include font-size-20;
				font-weight: bold;
				margin-top: $baseline*4;
				margin-bottom: $baseline*2;
			}

			[data-style-level="3"]{
				@include font-size-20;
				font-weight: 300;
				font-style: italic;
				margin-top: $baseline*2;
				margin-bottom: $baseline*1;
			}


			[data-style-level="1"] + p,
			[data-style-level="2"] + p,
			[data-style-level="3"] + p,
			[data-style-level="1"] + ul,
			[data-style-level="2"] + ul,
			[data-style-level="3"] + ul,
			[data-style-level="1"] + figure,
			[data-style-level="2"] + figure,
			[data-style-level="3"] + figure,
			[data-style-level="1"] + [data-style-level="3"]{
				margin-top: 0!important;
			}


			p + p {  margin-top: $baseline*2; }

			p, li{ 
				@include font-size-20(); 
				margin-bottom: $baseline*2;
			}
					
			li{ 
				left: $unite*1.5;
				text-indent: -15px;
				&:before{ content: "⁘"; left: -15px;}
			}
		}

		//////////////
		// Layout : Barre laterale 
		/////////////
		@media screen and (min-width: 700px) and (max-width: 1080px){
			main{ margin-left: $logo-column-medium;}
		}

		@media screen and (min-width: 1080px){
			main{ margin-left: $logo-column;}
		}


		@media screen and (min-width: 2060px) { 
			main{ 
				margin-left: 0;
				margin: 0 auto;
			}
		}		
	}
}