/* Regles typographique de bases communes à toutes les pages de contenu */


@include for-size(phone) {

	.page-production, 
	.page-news, 
	.page-activity, 
	.page-people,
	.page-about{
		top: 0!important;


		/// Typo Header hgroup
		#article-contenu, 
		#biographie,
		#about-contenu {


			hgroup {
				margin: $baseline*1 0 $baseline*2 0;
				h1{
					@include font-size-40();
					font-weight: 600;
					margin-bottom: $baseline*1.5;
				}
				h2, h3{ @include font-size-20-phone();}
				h2 { margin-bottom: $baseline*1; }
				h3 { margin-bottom: $baseline*3; }
			}
		}

		.article-contenu, 
		.biographie-contenu,
		.about-contenu {
							
			/* Regles de Base */

			h1, h2, h3, h4, h5{
				@include font-size-20-phone;
				font-weight: bold;
				margin-top: $baseline*4;
				margin-bottom: $baseline*1.5;
			}


			.title-style-level-1,
			[data-style-level="1"]{
				@include font-size-16-phone;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: $baseline*4;
				margin-bottom: $baseline*1.5;
			}

			.title-style-level-2,
			[data-style-level="2"]{
				@include font-size-16-phone;
				font-weight: bold;
				margin-top: $baseline*3;
				margin-bottom: $baseline*1.5;
			}

			.title-style-level-3,
			[data-style-level="3"]{
				@include font-size-16-phone;
				font-weight: 300;
				font-style: italic;
				margin-top: $baseline*3;
				margin-bottom: $baseline*1.5;
			}

			h3 + h4, 
			.title-style-level-1 + .title-style-level-2,
			[data-style-level="1"] + [data-style-level="2"]{ margin-top: 0;}


			p + p {  margin-top: $baseline*2; }

			p, li{ 
				@include font-size-16-phone(); 
				margin-bottom: $baseline*2;
			}
					
			li{ 
				left: $unite-phone*2.5;
				text-indent: #{$unite-phone*-1};
				width: calc(100% - #{$unite-phone*2.5});
				&:before{ content: "⁘"; left: #{$unite-phone*-1.5};}
			}	
		}
	}
}