$height-sticky: $baseline*5;

@include for-size(desktop) {

	.page-production, 
	.page-news, 
	.page-activity, 
	.page-people,
	.page-about{

		.titre-sticky{
			
			position: fixed;
			top: -1px;
			left: 0;
			width: 100vw;
			height: $height-sticky;
			background-color: $background-site;
            z-index: 9; // So gets upon fullscreen Image Process in nav
			white-space: nowrap;
			border-bottom: $border-very-light;

			#logo-sticky, p{ 
				display: inline-block;
				vertical-align: top;
			}

			#logo-sticky{
				width: $logo-column + $margins-desktop;
				svg{
                    width: $logo-column/3 + $unite/2;
                    margin: calc(#{$unite} + 5px) 0 5px $margins-desktop;
					fill: $text-color; 
				}
			}

			p{
				@include font-size-20();
				white-space: nowrap;
				margin-top: $baseline*2;
				[data-icon]{ 
					padding-right: $unite/2;
				}
				span{ 
					display: inline-block;
					vertical-align: top;			
				}
				
			}

		
			
			

			.title{ 			
				font-weight: bold;
				@include text-overflow;
				width: 90%;	
				max-width: $max-width-article;
						
			}

			
		}	
	}

	
		/* Page People --------------------------------------------------------------- 
		------------------------------------------------------------------------------ */
		
		.page-people .titre-sticky{
	
			.retour{
				padding-right: $unite/2;
			}
	
			.personne{
				font-weight: 100;
				&:before{
					content: "/";
					padding-left: $unite/2;
					padding-right: $unite/2;
				}
			} 
			span:hover{ 
				color: $text-color-light;
				&:before{ color: $text-color;}
			}
		}
	

}