/* list-tools */

$card-image-height: 180px;

.page-tool-list #liste {
  li.tool-portrait {
    padding: 10px;
    border-bottom: none !important;
    a {
      @include flex();
      @include justify-content(stretch);
      flex-flow: row nowrap;
      height: 100%;
      &:hover {
        background-color: $background-grey;
        color: currentColor;
      }
    }

    img {
      max-height: $card-image-height;
      filter: grayscale(1);
      &:hover{
        filter: none;
      }
    }

    .description {
      padding: 10px 0 0 15px;
      h1 {
        font-size: 36px !important;
        margin-bottom: $baseline;
      }
  
      h2 {
        @include font-size-20();
        line-height: 1.2;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }

      .details {
        border-top: $border-very-light;
        border-bottom: $border-very-light;
        padding: $baseline/2 0;
        @include font-size-13;
        @include for-size(phone) {
          @include font-size-13-phone;
        }
  
        p.important {
          color: $redlab;
  
        }
        .detail-usages {
          border-bottom: $border-very-light;
          padding-bottom: $baseline/2;
          margin-bottom: $baseline/2;
        }
        .detail-date {
          display: inline-block;
          padding-left: $unite/2;
          border-left: $border-very-light;
        }
        .detail-external {
          display: inline-block;
          padding-right: $unite/2;
        }
      }
    }


  }

  /* Desktop */
  @include for-size(desktop) {
    ul {
      @include flex();
      flex-wrap: wrap;
  
      li.tool-portrait {
        margin-bottom: $baseline * 2;
        @include flex();
        width: 50%;
  
        .description {
          @include flex();
          @include justify-content(stretch);
          flex-flow: column nowrap;
          .header {
            flex: 1;
          }
          .details {
            margin-top: $baseline;
          }
        }
      }
    }
  
  }

  /* Phone */
  @media screen and (max-width:800px)  {
    margin-bottom: 0;
    figure {
      display: none !important;
    }
    .description {
      width: 100% !important;
      padding-top: $baseline;
      padding-bottom: $baseline;
    }
  }
}
