/* list-tools */

$card-image-height: 180px;

.page-tool-list #liste {

  @include for-size(desktop) {
    ul {
      width: 100%;
      display: inline-block;
      @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
    }
  }

  li.tool-portrait {
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: none!important;
    height: 100%!important;

    a {
      display: flex!important;
      flex-flow: row nowrap;
      justify-content: stretch;
      height: 100%;
    }

    .left-column img {
      max-height: $card-image-height;
      filter: grayscale(1);
      &:hover{
        filter: none;
      }
    }

    .right-column {
      padding: 10px 15px 0 15px;
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: stretch;
      flex: 1;

      .header {
        flex: 1;
        h1 {
          margin: 0!important;
          padding: 0!important;
          font-size: 36px!important;
          padding-bottom: 15px!important;
        }
  
        h2 {
          @include font-size-20();
          line-height: 1.2;
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }
  
      .info-row {
        border-top: $border-very-light;
        padding: 5px;
        @include font-size-13();
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
  
        &:last-of-type {
          border-bottom: $border-very-light;
        }

        p.important{
          color: $redlab;
        }
        p:not(:first-of-type) {
          padding-left: 10px;
        }
  
        .date-news {
          margin-left: $baseline * 1;
          padding-left: $baseline * 1;
          border-left: $border-very-light;
        }
      }
    }

    /* Desktop grid */
    @media screen and (min-width: 1300px) {
      .right-column {
        max-height: $card-image-height;
      }
    }

    /* Phone */
    @media screen and (max-width:800px)  {
      margin-bottom: 0;
      .left-column {
        display: none;
      }
      .right-column {
        padding-top: $baseline;
        padding-bottom: $baseline;
      }
    }
  }
}