/////////////////////
////////  Phone 
/////////////////////

@include for-size(phone) {

	body.page-people{
		
		main{
			margin: $height-top-bar-phone $margins-phone;
		
			aside{
				padding-top: 100px;
			}
		
			.titre-sticky{
				@include font-size-20-phone;
				position: relative;
				width: 100%;
				height: 101px;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				border-bottom: $border;

				span.personne{ display: none; }
			}

			#biographie{

				figure{	}

				header{
					@include flex-order(1);
					min-width: 50%;
					padding-top: $baseline*1.5;
					padding-bottom: $baseline*3;

					h1{
						@include font-size-27();
						font-weight: bold;
					}
			
					h2{ 
						@include font-size-27();
						padding-bottom: $baseline*1.5; 
					}

					p{
						@include font-size-20();
					}

					[data-type="domaine"],[data-type="statut"]{
						padding: 0 $unite-phone 0 0;
					}		

					[data-type="activite"]{
						margin: $unite-phone 0;
					}

					.contact {
						margin-top: $unite-phone*2;	
					}
				}
		
				.biographie-contenu{
					width: 100%;
					p{ @include font-size-20();}
				}
			}		
		} /* main */

		#elements-associes > h1, #fichiers-associes > h1{
			padding-top: $baseline*3;
			margin-bottom: $baseline*2.5;
			@include font-size-27();
		}
	}
}

