/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {

	body.page-people{

		#topbar{ 
	        &:after{ // Si Titre-Sticky. Topbar herite de la Border-bottom
	            content:"";
	            border-bottom: $border;
	            margin-left: $logo-column;
	            width: calc( 100vw - #{$logo-column} - #{$margins-desktop*3} );
	            position: absolute;
	            bottom: 0;
	            z-index: 10;
	        }
		}
		main{
			margin-left: $logo-column;
			margin-bottom: 40vh;
			transition: .25s ease-in-out;

	

			.titre-sticky{
				@include font-size-20();
				position: sticky;
				top: -1px;
				width: 100%;
				height: $sticky-height;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				border-bottom: $border;

			}

			
			#biographie{
				

				header{
					@include flex-order(1);

					h1{
						max-width: 1100px;
						font-weight: bold;
					}
			
					h2{ 
						max-width: 1100px;
						padding-bottom: $baseline*1.5; 
					}

					p{
						@include font-size-20();
					}

					[data-type="domaine"],[data-type="statut"]{
						padding: 0 $unite 0 0;
					}		

					[data-type="activite"]{
						margin: $unite 0;
					}
				}
		
				.biographie-contenu{
					width: 100%;
					max-width: 900px;
					min-width: calc( 700px - #{$logo-column});
					@include for-size(desktop-1000) { 
						min-width: 600px;
					}

					p{
						@include font-size-20();
					}
				}

			

			}	
		} /* end main */

	

		footer{
			margin-left: $logo-column;
			width: calc( 100% - #{$margins-desktop*2} - #{$logo-column});
			margin-bottom: 2px;
		}
	}
}



@media screen and (min-width: 700px) and (max-width: 1000px) {

	body.page-people #biographie {
		figure{
			margin-top: $baseline*4;
			margin-bottom: $baseline*2;
		}
		header{
			margin-bottom: $baseline*4;
			h1{ @include font-size-40(); }
			h2{ @include font-size-40(); }
		}
		
	}

}

@media screen and (min-width: 1000px) and (max-width: 1150px) {

	body.page-people #biographie header{
		h1{ @include font-size-27(); }
		h2{ @include font-size-27(); }
	}

}

@media screen and (min-width: 1150px) {

	body.page-people #biographie header{
		h1{ @include font-size-40(); }
		h2{ @include font-size-40(); }
	}

}



@media screen and (min-width: 1000px) {

	body.page-people{

		#biographie{
				
			margin-top: $unite*2;

			figure{
				float: right;
				width: 400px;
				padding-left: $baseline*2;
			}

			header{
				min-height: 300px;
				margin-bottom: $baseline*3;
				
			}
		}

	}/* body.page-people */

}



@media screen and (min-width: 1441px) {

	body.page-people #biographie figure{
		width: 35vw;
		padding-bottom: $baseline*1;
	}

}




@media screen and (min-width: 1800px) {

	body.page-people{

		#biographie{		
			margin-top: $unite*3;

			figure{
				position: absolute;
				left: 900px + $margins-desktop*2;
				width: calc(100vw - 900px - #{$logo-column} - #{$margins-desktop*4});
			}

			header{
				max-width: 900px;
				margin-bottom: $baseline;		
			}
		}

	}

}



@media screen and (min-width: 2000px) {

	body.page-people{

		#biographie{
				
			figure{
				left: 610px;
				width: 400px;
			}

			header{ max-width: 1000px; }
		}

	}

}