/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {
 
	body.page-people{

		#topbar{ 
	        &:after{ // Si Titre-Sticky. Topbar herite de la Border-bottom
	            content:"";
	            border-bottom: $border;
	            margin-left: $logo-column;
	            width: calc( 100vw - #{$logo-column} - #{$margins-desktop*3} );
	            position: absolute;
	            bottom: 0;
	            z-index: 10;
	        }
		}
		main{
			margin-left: $logo-column;
			margin-bottom: 40vh;
			transition: .25s ease-in-out;

	

			.titre-sticky{
				@include font-size-20();
				position: sticky;
				top: -1px;
				//width: 100%;
				width: calc(100% + #{$unite});
				height: 101px;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				//border-bottom: $border;
				
				&::after{
					content: "";
					border-bottom: $border;
					width: calc(100% - #{$unite});
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			#highlight{ 
				margin-top:  $sticky-height;
				border-top: $border;
				padding-top: $baseline*3;
				border-bottom: $border;
				padding-bottom: $baseline*3;
			 }

			 .cache{
			 	position: absolute;
				left: -1px;
				font-size: 1vw;
				color: white;
			 }
			
			#biographie{
				
				
				header{
					
					//@include flex;
					//@include flex-direction(column);
					//@include flex-wrap(wrap);
					//@include flex-order(1);

					width: 50%;
					padding-top: $unite*2;
					margin-bottom: $unite*2;


					h1{
						max-width: 1100px;
						font-weight: bold;
						display: inline-block;
						//@include flex-order(1);
						//@include flex-grow(3);

					}
			
					h2{ 
						max-width: 1100px;
						//@include flex-order(2);
					}

					p{
						@include font-size-20();
					}

					[data-type="domaine"]{
						position: absolute;
						right: 0;
						top: calc(#{$unite*2} + #{$baseline});
						width: auto;
						padding-right: 25px;
					}	

					[data-type="status"]{
						//@include flex-order(3);
					}		

					[data-type="membership"]{
						//@include flex-order(3);
					}

					.contact{
						& >p { 
							@include font-size-13; 
							padding: $baseline*1 0; 
						}

						//@include flex-order(4);
						margin: $baseline*2 0;

						li{
							width: 5vw;
							min-width: 60px;
							display: inline-block;
						}
					}
				}

				figure{
					float: right;
					width: 50%;
					img{
						z-index: -1;
					}
				}
		
				.biographie-contenu{
					width: 100%;
					max-width: 720px;
					min-width: calc( 700px - #{$logo-column});
					@include for-size(desktop-1000) { 
						min-width: 600px;
					}

					p{
						@include font-size-20();
					}
				}

			

			}	
			

		} /* end main */


		footer{
			margin-left: $logo-column;
			width: calc( 100% - #{$margins-desktop*2} - #{$logo-column});
			margin-bottom: 2px;
		}
	}
}



@media screen and (min-width: 700px) and (max-width: 1000px) {

	body.page-people #biographie {
		figure{

		}
		header{
			h1{ @include font-size-27(); padding-bottom: $baseline; }
			h2{ @include font-size-27(); padding-bottom: $baseline; }
		}
		
	}

}

/*@media screen and (min-width: 1000px) and (max-width: 1080px) {

	body.page-people #biographie header{
		h1{ @include font-size-27(); }
		h2{ @include font-size-27(); }
	}

}*/

@media screen and (min-width: 1080px) {

	body.page-people #biographie header{
		h1{ @include font-size-40(); padding-bottom: $baseline*1.5; }
		h2{ @include font-size-20(); padding-bottom: $baseline*1; }
	}

}



@media screen and (min-width: 1000px) {

	body.page-people #biographie{					

		figure{
		}

		header{

		}
	}
}



@media screen and (min-width: 1200px) {
	body.page-people #biographie { 
		header{ }
		figure{ }
	}
}

@media screen and (min-width: 1600px) {

	body.page-people #biographie{

		figure{

		}
		
		header{ }

	} 

	/*body.page-people #highlight article{
		width: calc(33% - #{$unite*1.5});
		margin-right: $unite*1.5;
		margin-bottom: $unite*1.5;
	}*/
	

	/* grid support */
    /*@supports(display: grid) {
        body.page-people #highlight .contenu{
            display: grid;
			grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            grid-template-rows: auto auto;
            grid-gap: $unite*1.5;
		
			article{
				width: 100%!important;
				margin-left: 0!important;
				margin-right: 0!important;
				margin-bottom: 0!important;
			}
		}
	}*/	

}

@media screen and (min-width: 1800px) {
	body.page-people #biographie figure{  }
}