/* all */
body, html{
	overflow: inherit;
}

#topbar{
	z-index: 30;
	background-color: $background-site;

}

#nav-inside-article #img-article {
    visibility: hidden !important;
}

.titre-sticky{

	.retour{
		padding-right: $unite/2;
	}

	.personne{
		font-weight: 100;
		&:before{
			content: " / ";
		}
	}
}

#biographie{
	figure{
		max-height: auto;
		overflow: hidden;

		img{
			width: 100%;
			filter: grayscale(1);
		}
		figcaption{
			margin-top: $baseline*1;
		}
	}

	header{

		& *{
			width: 100%;
		}

		[data-type="domaine"],[data-type="statut"]{
			@include font-size-13();
			width: inherit;
			display: inline;
		}

		[data-type="activite"]{
			@include font-size-20();
			margin: $unite 0;
			font-style:italic;

			&:before{
				content: '“';
			}
			&:after{
				content: '”';
			}
		}
	}

	.contact {

		li{
			@include font-size-13();
			
			border-left: $border-light;
			padding: 0 $unite/1.5;
			width: auto;
			color: $text-color-light;
			text-align: center;
			display: inline-block;
			margin-right: -4px;

			&:last-of-type{
				border-right: $border-light;
			}

			&:hover{	
				color: $redlab;
				border-left: $border-light;
				cursor: pointer;
				z-index: 99;
			}
		}
	}
}