/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {

	body.page-people{

		#topbar{ 
	        &:after{ // Si Titre-Sticky. Topbar herite de la Border-bottom
	            content:"";
	            border-bottom: $border;
	            margin-left: $logo-column;
	            width: calc( 100vw - #{$logo-column} - #{$margins-desktop*3} );
	            position: absolute;
	            bottom: 0;
	            z-index: 10;
	        }
		}
		main{
			margin-left: $logo-column;
			margin-bottom: 40vh;
			transition: .25s ease-in-out;

	

			.titre-sticky{
				@include font-size-20();
				position: sticky;
				top: -1px;
				width: 100%;
				height: $sticky-height;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				border-bottom: $border;

			}

			#highlight{ 
				margin-top:  $sticky-height;
				border-top: $border;
				padding-top: $baseline*3;
				border-bottom: $border;
				padding-bottom: $baseline*3;
			 }

			
			#biographie{
				
				
				header{
					@include flex-order(1);

					h1{
						max-width: 1100px;
						font-weight: bold;
					}
			
					h2{ 
						max-width: 1100px;
						padding-bottom: $baseline*1.5; 
					}

					p{
						@include font-size-20();
					}

					[data-type="domaine"],[data-type="statut"]{
						padding: 0 $unite 0 0;
					}		

					[data-type="activite"]{
						margin: $unite 0;
					}
				}
		
				.biographie-contenu{
					width: 100%;
					max-width: 900px;
					min-width: calc( 700px - #{$logo-column});
					@include for-size(desktop-1000) { 
						min-width: 600px;
					}

					p{
						@include font-size-20();
					}
				}

			

			}	
			

		} /* end main */


		footer{
			margin-left: $logo-column;
			width: calc( 100% - #{$margins-desktop*2} - #{$logo-column});
			margin-bottom: 2px;
		}
	}
}



@media screen and (min-width: 700px) and (max-width: 1000px) {

	body.page-people #biographie {
		figure{
			margin-top: $baseline*4;
			margin-bottom: $baseline*2;
		}
		header{
			margin-bottom: $baseline*4;
			h1{ @include font-size-40(); }
			h2{ @include font-size-40(); }
		}
		
	}

	body.page-people #highlight{

		.image-pre{
            font-size: $font-size*2.3;
            width: 100%;
            // height: $font-size*20;
            overflow: hidden;
			border-top: $border-light;
			height: $font-size*10; 
        	border-bottom: $border-light;
        }
	}

}

@media screen and (min-width: 1000px) and (max-width: 1080px) {

	body.page-people #biographie header{
		h1{ @include font-size-27(); }
		h2{ @include font-size-27(); }
	}

}

@media screen and (min-width: 1080px) {

	body.page-people #biographie header{
		h1{ @include font-size-40(); }
		h2{ @include font-size-40(); }
	}

}



@media screen and (min-width: 1000px) {

	body.page-people #biographie{				
		margin-top: $unite*2;
		

		figure{
			float: right;
			width: 350px;
			padding-left: $baseline*2;
		}

		header{
			min-height: 250px; 
			margin-bottom: $baseline*3;	
		}
	}

	body.page-people #highlight{
		
		width: 100%;
		max-width: 1500px;
		
		article{
			display: inline-block;
			vertical-align: top;
			width: calc(50% - #{$unite*0.75});
			margin-bottom: $unite*1.5;
			&:nth-last-of-type(2n){ margin-left: $unite*1.5; }
		}
	}	

}



@media screen and (min-width: 1200px) {
	body.page-people #biographie { 
		header{ min-height: 350px; }
		figure{ width: 500px; }
	}
}

@media screen and (min-width: 1600px) {

	body.page-people #biographie{

		max-width: 1500px;
		figure{
			float: right;
			width: 33%;
			padding-bottom: $baseline*1;
		}
		
		header{ min-height: auto!important; }

	} 

	body.page-people #highlight article{
		width: calc(33% - #{$unite*1.5});
		margin-right: $unite*1.5;
		margin-bottom: $unite*1.5;
	}
	

	/* grid support */
    @supports(display: grid) {
        body.page-people #highlight .contenu{
            display: grid;
			grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            grid-template-rows: auto auto;
            grid-gap: $unite*1.5;
		
			article{
				width: 100%!important;
				margin-left: 0!important;
				margin-right: 0!important;
				margin-bottom: 0!important;
			}
		}
	}	

}

@media screen and (min-width: 1800px) {
	body.page-people #biographie figure{ width: 505px; }
}