@charset "UTF-8";
/* page objet */
/* julie: node-sass --watch index.scss ../css-compiled/index.css */
:root {
  --font-size: 10px;
  --baseline: 15px;
  --font-main: sans-serif;
  --font-mono: monospace;
  color: #444; }

html {
  font-family: sans-serif;
  font-size: 10px; }

/* desktop */
/*  phone  */
/*  bordures  */
/*  unicode catégories */
/*  autre */
::selection, ::-moz-selection {
  background: #f7323f;
  color: white; }

/* assets/scss/common/body.scss */
@media (max-width: 700px) {
  body {
    overflow-x: hidden;
    background-color: white; } }
@media (min-width: 700px) {
  body {
    margin: 0 25px !important;
    overflow-x: hidden;
    background-color: white; } }
[data-type="actualite"] .type::before {
  content: "⁙ "; }

[data-type="production"] .type::before {
  content: "☵ "; }

[data-type="activite"] .type::before {
  content: "⋇ "; }

a:hover {
  color: #f7323f; }

label .span-nochecked {
  display: block; }
label .span-checked {
  display: none; }

input:checked + label .span-nochecked {
  display: none; }
input:checked + label .span-checked {
  display: block; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box;
  text-decoration-skip-ink: auto; }

body, html {
  max-width: 100vw;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: never;
  -moz-font-smooth: never; }

em {
  font-style: italic; }

button {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: currentColor; }

a:hover {
  text-decoration: none; }

ul {
  list-style-type: none;
  list-style-position: inside; }

*:focus {
  outline: none; }

#topbar input {
  display: none; }
#topbar label {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 99; }
  #topbar label svg {
    width: 30px;
    fill: #444; }
#topbar li[data-type="actualite"]::before {
  content: "⁙ "; }
#topbar li[data-type="production"]::before {
  content: "☵ "; }
#topbar li[data-type="activite"]::before {
  content: "⋇ "; }

@media (max-width: 700px) {
  #topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 15px;
    color: #444;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    background-color: white;
    border-bottom: 0.5px solid;
    z-index: 90; }

  #topbar-content {
    background-color: white;
    color: #f7323f;
    width: 100%;
    height: calc(70px - 30px);
    z-index: 90; }
    #topbar-content #logo-medialab svg {
      height: 30px;
      fill: #444; }
    #topbar-content ul {
      padding-top: 30px;
      padding-bottom: 22.5px;
      border-bottom: 0.5px solid #f7323f; }
      #topbar-content ul li {
        margin-bottom: 7.5px; }
      #topbar-content ul:first-of-type {
        margin-top: 7.5px;
        border-top: 0.5px solid #f7323f; }
    #topbar-content #langue {
      padding-top: 30px;
      text-align: right; }

  /* end topbar-content */
  #topbar-content nav, #topbar-content #langue {
    display: none; }

  #topbar input:checked ~ #topbar-content {
    height: 100vh; }

  #topbar input:checked ~ #topbar-content svg {
    fill: #f7323f; }

  #topbar input:checked + label svg {
    fill: #f7323f; }

  #topbar input:checked ~ #topbar-content nav,
  #topbar input:checked ~ #topbar-content #langue {
    display: block; } }
@media (min-width: 700px) {
  #topbar {
    padding: 25px 0;
    width: 100%;
    height: 150px;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100; }

  #topbar label {
    display: none;
    cursor: pointer; }

  #topbar-content {
    height: 100%;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-pack: stretch;
    -moz-box-pack: stretch;
    -ms-flex-pack: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch; }
    #topbar-content #logo-medialab svg {
      width: 150px;
      fill: #444;
      margin-right: 100px;
      top: 70%;
      transform: translateY(-50%); }
    #topbar-content li::before {
      display: inline-block;
      text-align: center;
      width: 15px;
      margin-right: 11.25px; }
    #topbar-content nav {
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      -webkit-box-align: end;
      -moz-box-align: end;
      -ms-flex-align: end;
      -webkit-align-items: flex-end;
      align-items: flex-end; }
      #topbar-content nav ul {
        width: 200px; }
        #topbar-content nav ul li {
          margin-top: 3.75px; }
    #topbar-content #langue {
      width: 100%;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end; }
      #topbar-content #langue p {
        width: 100%;
        text-align: right; }

  /* end #topbar-content */ }
/* end desktop */
/* all */
body, html {
  overflow: inherit; }

#topbar {
  z-index: 30;
  background-color: white; }

@media (min-width: 700px) {
  a:hover {
    color: #E6142D; }
    a:hover svg {
      fill: #E6142D; }

  main {
    margin-left: 250px;
    margin-right: 50px;
    max-width: 1100px;
    margin-bottom: 40vh; }
    main .article-contenu {
      max-width: 900px; }
    main aside {
      padding-top: 100px; }

  main .titre-sticky {
    position: sticky;
    top: -1px;
    width: 100%;
    height: 101px;
    background-color: white;
    z-index: 5;
    padding-top: 50px;
    font-weight: bold;
    border-bottom: 0.5px solid; }
  main .date, main .type {
    display: inline-block;
    padding-bottom: 60px; }
  main .type:before {
    content: " – "; }
  main h1 {
    font-size: 60px;
    line-height: 82.5px;
    font-weight: 100;
    letter-spacing: -1px;
    padding: 2rem 0 4rem 0;
    padding-bottom: 15px; }
  main hgroup h2 {
    padding-bottom: 22.5px; }
  main h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 100; }
  main p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 100; }
  main h3 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    padding: 1rem 0 2rem 0; }
  main figure {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 600px; }
    main figure img {
      width: 100%;
      box-shadow: 0 0 0 1px #888;
      margin-left: 2px; }
    main figure figcaption {
      margin-top: 15px; } }
#nav-inside-article {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 25px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch; }
  #nav-inside-article .nav-inside-item {
    height: 75px;
    width: 125px;
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    align-items: center; }
    #nav-inside-article .nav-inside-item:first-of-type {
      border-bottom: none;
      height: calc(75px - 1px);
      align-items: flex-start; }
      #nav-inside-article .nav-inside-item:first-of-type img, #nav-inside-article .nav-inside-item:first-of-type svg {
        width: 95.83333px;
        margin: calc(25px + 5px) 0 5px 0;
        fill: #444; }
    #nav-inside-article .nav-inside-item a {
      width: 83.33333px; }
  #nav-inside-article #img-article {
    border-top: 1px solid black;
    flex-grow: 1;
    width: 125px;
    overflow: hidden;
    transition: width .25s linear; }
    #nav-inside-article #img-article .image-generator {
      transition: opacity 1s linear; }
      #nav-inside-article #img-article .image-generator pre {
        font-size: 2vw !important; }
    #nav-inside-article #img-article div {
      background-color: white;
      position: absolute;
      top: 0;
      left: 0; }
      #nav-inside-article #img-article div img {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        filter: blur(20px); }
  #nav-inside-article #img-article:hover {
    width: calc( 100vw - 75px); }
    #nav-inside-article #img-article:hover .image-generator {
      z-index: 2; }
    #nav-inside-article #img-article:hover img {
      width: calc(calc( 100vw - 75px) * 2);
      opacity: 1;
      transition: opacity 1s linear;
      height: 100%;
      z-index: 9999;
      position: relative;
      top: 18px;
      width: 121vw;
      mix-blend-mode: color; }

input.filtre_objet:checked ~ #ul-content li {
  display: none; }

input#filtre_equipe:checked ~ #ul-content .equipe {
  display: block !important; }

input#filtre_publication:checked ~ #ul-content .publication {
  display: block !important; }

@media (min-width: 700px) {
  #elements-associes h2, #fichiers-associes h2 {
    margin-bottom: 25px; }

  #fichiers-associes li {
    margin-bottom: 25px; }
    #fichiers-associes li svg, #fichiers-associes li p {
      display: inline-block;
      vertical-align: middle; }
    #fichiers-associes li p {
      margin-left: 25px; }
    #fichiers-associes li svg {
      width: 50px; }

  #elements-associes label {
    padding: 0 25px 0 5px;
    bottom: 2px; }
  #elements-associes #ul-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    grid-gap: 25px;
    margin-top: 25px; }
    #elements-associes #ul-content li {
      border-top: 0.5px solid;
      padding-top: 15px;
      padding-bottom: 15px; }
    #elements-associes #ul-content .equipe a, #elements-associes #ul-content .publication a {
      display: grid; }
      #elements-associes #ul-content .equipe a img, #elements-associes #ul-content .equipe a .img-generative, #elements-associes #ul-content .publication a img, #elements-associes #ul-content .publication a .img-generative {
        height: 150px; }
      #elements-associes #ul-content .equipe a hgroup, #elements-associes #ul-content .publication a hgroup {
        margin-left: 25px; }
        #elements-associes #ul-content .equipe a hgroup h1, #elements-associes #ul-content .publication a hgroup h1 {
          font-size: 20px;
          font-weight: 300;
          line-height: 27px;
          padding: 0;
          letter-spacing: 0.1px; }
      #elements-associes #ul-content .equipe a .type, #elements-associes #ul-content .publication a .type {
        margin-left: 25px;
        align-self: flex-end;
        padding: 0; }
      #elements-associes #ul-content .equipe a:hover .img_container, #elements-associes #ul-content .publication a:hover .img_container {
        background-color: #f7323f; }
        #elements-associes #ul-content .equipe a:hover .img_container img, #elements-associes #ul-content .publication a:hover .img_container img {
          mix-blend-mode: screen;
          -webkit-filter: grayscale(100%) contrast(200%);
          filter: grayscale(100%) contrast(200%);
          opacity: 1; }
    #elements-associes #ul-content .equipe a {
      grid-template-columns: 150px 1fr;
      grid-template-rows: auto; }
      #elements-associes #ul-content .equipe a .type:before {
        content: "⁙ "; }
      #elements-associes #ul-content .equipe a .img_container img {
        width: 150px;
        grid-row: 1/3;
        filter: contrast(1.4) grayscale(1); }
    #elements-associes #ul-content .publication a {
      grid-template-columns: 75px 1fr;
      grid-template-rows: auto; }
      #elements-associes #ul-content .publication a .img-generative {
        width: 75px;
        grid-row: 1/3;
        overflow: hidden; }
      #elements-associes #ul-content .publication a .type:before {
        content: "☵ "; }
      #elements-associes #ul-content .publication a hgroup .titre {
        text-transform: uppercase;
        letter-spacing: 0.1px;
        padding-bottom: 2rem; } }

/*# sourceMappingURL=page_objet.css.map */
