

/////////////////////
//////// Equipes
/////////////////////


input:checked + .filtre_equipe{ 
	span{ 
		transform: rotate(90deg);
		top: 5px;
	}
}



@include for-size(desktop) {

	.filtre_equipe:nth-of-type(2){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 1; }

	.filtre_equipe:nth-of-type(3){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 2; }

	.filtre_domaine_title{ top: $height-top-bar + $baseline* 2.5 * 4.5;}

	.filtre_equipe:nth-of-type(4){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 4.5; }

	.filtre_equipe:nth-of-type(5){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 5.5; }

	.filtre_equipe:nth-of-type(6){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 6.5; }

	.filtre_equipe:nth-of-type(7){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 7.5; }

	.filtre_equipe:nth-of-type(8){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 8.5; }

	.filtre_membre_title{ top: $height-top-bar + $baseline* 2.5 * 11;}

	.filtre_equipe:nth-of-type(9){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 11; }

	.filtre_equipe:nth-of-type(10){ top: $height-top-bar + $baseline* 2.5 + $baseline* 2.5 * 12; }

	.filtre_equipe{ z-index: 10; }

}