/* all */

#liste{
    
    position: relative;
        
    a:hover{
        figure{
            background-color: $redlab;
            img{ mix-blend-mode: screen; filter: grayscale(1) contrast(2);}
        }
    }
}
