/* assets/scss/common/_top-bar-desktop.scss */


$height-top-bar: 180px;
:root{ --height-topbar: 180px; }

@include for-size(desktop) {


    #topbar{
        height: $height-top-bar;
        padding-top: $margins-desktop*2;
        padding-bottom: $margins-desktop;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $topbar-desktop;
        
        #logo-medialab{
            width: 25%;
            max-width: 400px;
            vertical-align: bottom; 
            margin-left: $margins-desktop;
            margin-right: $margins-desktop;
            svg{ max-width: 150px; }
        }

        nav{
            width: 50%;
            // max-width: 1400px;
        }

        nav ul{
            width: 33%;
            max-width: 300px;
            
        }
    
    }

    #langue{
        margin-right: $margins-desktop;
        // max-width: 100px;
    }

}

@import 'top-bar-desktop-flex';
