
@supports(display: grid) {
    .container{

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 7rem 80vh 10vh ;

        padding: 0 2rem;
        width: calc( 100vw - 2rem);

        #enavant{
            grid-column: 1 / 7;
            grid-row: 2 / 3;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2.5rem;

            article{


            }
        }

        #flux{
            grid-column: 1 / 7;
            grid-row: 3 / 4;    
        }
    }
} 