/////////////////////
//////// Now desktop
/////////////////////



/* no support of grid */
@include for-size(desktop){
    #now .contenu article{
        display: inline-block;
        width: 46%;
        margin-right: $unite;
        margin-bottom: $unite;
        vertical-align: top;
    }
}

@include for-size(desktop-900) {
    #now .contenu article{  width: 30%; }
}

@include for-size(desktop-1300) {
    #now .contenu article{  width: 22%; }
}



@include for-size(desktop) {

    /* grid support */
    @supports(display: grid) {
        #now .contenu{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: auto auto;
            grid-gap: $unite;
            article{
                width: 100%;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    /* grid support for Edge (old syntax) */
    @supports (display: -ms-grid) {

        #now .contenu{
            display: -ms-grid;
            -ms-grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            -ms-grid-template-rows: auto auto;
            grid-gap: $unite;
            article{
                width: 100%;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }


    #now {

        .contenu{ margin-top: $baseline*3; }

        article{

            .image-pre{
                font-size: $font-size*2.3;
                width: 100%;
                height: $font-size*20;
                overflow: hidden;
                border-top: $border-light;
            }

            .nomenclature{
                @include font-size-16();
                margin-bottom: $baseline/2;
            }

            h1{
                @include font-size-20();
                margin-top: $baseline*1;
                margin-bottom: $baseline*1;
            }

            h2, .time{
                @include font-size-16();
            }

        

            .more{
                margin-top: $baseline*1;
                margin-bottom: $baseline*1;
                @include font-size-13();
                color: $text-color-light;
                text-decoration: underline;	

            }

            &:hover{
                cursor: pointer;
                color: $redlab;
                .more{ color: $redlab-light; }
                .image-pre{ border-top: $border-redlab-light; }
            }


            
        }/* end article*/

    } /* end #now*/

}