$redlab: #e6142d;
$redlab-light: desaturate(lighten($redlab, 15%), 30%);

$background-site: white;
$text-color: #444;
$text-color-light: rgba(68, 68, 68, 0.6);
$color-img: $redlab;

$color-hover: $redlab;
// $background-grey: #fafafa;
$background-grey: #f5f5f5;
