/* all */

.page-about{
	/*

	////////////////////////
	//////    color    /////
	////////////////////////
	background-color: #fc424e; 

	::selection, ::-moz-selection{
	    background: #fc424e;
	    color: $background-site;
	}
	
	a:hover {
	    color: $background-site;
	    svg{ fill:$background-site !important;}
	}



	nav, nav .nav-inside-item{
		background-color:  #fc424e !important;
	}

	.nav-inside-item{
		border-color: $background-site;
		&:hover{ border-color: $background-site !important; }
	}




	////////////////////////
	//////    Divers   /////
	////////////////////////

	hgroup + .contenu > h3{ padding-top: 0; } // Anihile l'espace  superieur au h3 si juste après titraille

	////////////////////////
	//////   Nav bar   /////
	////////////////////////

	/* Masquer image dans Navbar */

	////////////////////////
	////// Hidden part /////
	////////////////////////

	#about-contenu{ padding-bottom: 20vh;}
	
	.minified { display: none; }

	.minify{
		& + label h3{
			&:before{content:"⋁"; padding-right: 10px !important;}
		}
		&:checked + label h3{
			&:before{content:"⋀";}
		}
	}

	input.minify{display: none;}
	input.minify{cursor:pointer; &+label{cursor:pointer; padding: 0 $unite 0 0;}}
	input.minify:checked ~ .minified{display: block !important;}

	.about-contenu{
		p{ margin-bottom: $baseline*2; }

		a{
			@include linktext();
			transition: .25s linear;

			&:hover{
				color: $redlab;
				text-decoration-color: $redlab;

			}
		}
	}
}