/////////////////////
//////// Flux style
/////////////////////

#agenda, #git, #tweet {

    width: 100%;


    article{

        border-bottom: $border;
        padding-left: $unite/2;
        padding-right: $unite/2;


        &> a{
            display: block;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

   

        aside.divers{
            @include font-size-13();
            p{ display: inline-block; }
            border-bottom: $border-very-light;
            padding: $baseline/2 0;

            .label{
                border-right: $border-very-light;
                margin-right: $unite/2;
                padding-right: $unite/2;
            }

            .date-news{
                .week{ display: none; }   
                &::first-letter{ text-transform: capitalize; }    
            }
        }


        aside.details{ 
            width: 100%;
           
            @include font-size-13();

        }


    }
} 


// all queries
#agenda .date-news::before,
#git .date-news::before,
#tweet .date-news::before{ 
    content: none; 
}


#agenda article:hover,
#git article:hover,
#tweet article:hover{
    background-color: $background-grey;
}



@include for-size(desktop) {


    #agenda, #git{
        margin-bottom: $baseline*8;
    }

    #agenda, #git, #tweet {
        > h1{
            position: sticky;
            top: $height-top-bar + $baseline*3.5;
            background: $background-site;
            z-index: 8;
        }
    }

    label.responsive-flux{display: none;}
}

@include for-size(phone) {

    #agenda > h1{ border-top: $border;}
    #agenda, #git, #tweet {
        margin: 0;

       #agenda-content, #git-content, #tweet-content{
           border-bottom: $border;
       }

        label.responsive-flux{
            display: block;
            width: 100vw;
            height: $baseline*2.5;
            position: absolute;
            top: 0;
            left: 0;

            span{

                display: block; 
                width: $baseline*1.2;
                height: $baseline*1.2;
                margin-top: $baseline/2;
                position: absolute;
                right: $margins-phone/2;
                top: 2px;
            }
            

        }

        input:checked + label span,
        label:hover span{
            svg{
                transform: rotate(90deg);
                transform-origin: center center;
            } 
            top: 4px;
            right: $margins-phone/2 + 2px;
        }
    



        

    }
} /* end phone*/

