/////////////////////
//////// Flux style
/////////////////////

#agenda, #git, #tweet {

    width: 100%;


    article{

        border-bottom: $border;
        padding-left: $unite/2;
        padding-right: $unite/2;


        &> a{
            display: block;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

   

        aside.divers{
            @include font-size-13();
            p{ display: inline-block; }
            border-bottom: $border-very-light;
            padding: $baseline/2 0;

            .label{
                border-right: $border-very-light;
                margin-right: $unite/2;
                padding-right: $unite/2;
            }

            .date-news{
                .week{ display: none; }   
                &::first-letter{ text-transform: capitalize; }    
            }
        }


        aside.details{ 
            width: 100%;
           
            @include font-size-13();

        }


    }
} 


// all queries
#agenda .date-news::before,
#git .date-news::before,
#tweet .date-news::before{ 
    content: none; 
}


#agenda article:hover,
#git article:hover,
#tweet article:hover{
    background-color: $background-grey;
}



@include for-size(desktop) {


    #agenda, #git{
        margin-bottom: $baseline*8;
    }

    #agenda, #git, #tweet {
        > h1{
            position: sticky;
            top: $height-top-bar + $baseline*3.5;
            background: $background-site;
            z-index: 8;
        }
    }
}

@include for-size(phone) {
    #agenda, #git, #tweet {

        margin: 0;

        > h1{ display: none }

        label.responsive-flux{ 

            position: sticky;
            top: $height-top-bar-phone;
            background: $background-site;
            z-index: 8;
        }

    }
} /* end phone*/

