/////////////////////
//////// tweet style
/////////////////////

// all queries

#tweet {

    .divers{
        .date{
            padding-left: $unite/2;
            margin-left: $unite/2;
            border-left: $border-very-light;
        }
    }
 
    .tweet-content{

        a{
            color: $redlab;

            &:last-of-type:not(.mention):not(.hashtag){

                color: $text-color-light;
                

            }
        }
        a.hashtag,
        a.mention {
            color: $redlab;
        }

        .link-external-tweet{ color: $text-color-light;}
    }


    .account{
        color: $redlab;
    }

    .original-tweet{

        margin-left: $unite;

        &:before{
            content: "↳";
            position: absolute;
            left: $unite*-1;
            top: $baseline;
            font-size: 25px;
            line-height: 0;              
            color: rgb(235, 235, 235);
        }
    }
    .tweet-content + .orginal-tweet { border-top: $border-very-light; } // Exclude simple RT

}






@include for-size(desktop) {

    #tweet article {
             
        .tweet-content{
            @include font-size-20();  
            padding-top: $baseline;
            padding-bottom: $baseline*1.5;
            &::first-letter { text-transform: capitalize; }
        }


        aside.details{ 
                
            border-top: $border-very-light;
            padding: $baseline/2 0;

        }
    } 
   
}





@include for-size(phone) {


    #tweet{
    

        article{
 
        }

    } /* end tweet*/

} /* end phone*/

