#flux{

	background: $background-site;
	z-index: 9;


	////////////////
	/// Input
	///////////////

	.flux_selection_container{

		z-index: 9;
		background-color: $background-site;
		border-bottom: $border;
		padding: $baseline 0;
		height: $baseline*3.5;

		li{

			@include font-size-13-uppercase;
			color: $text-color;
			display: inline-block;
			padding-right: $unite/2;
			margin-right: $unite/2;	
			border-right: $border;	
			cursor: pointer;
			&:hover{ @include linktext(); }
		}
	}

	section > h1 a{
		@include linktext();
		&:hover{ color: $redlab-light; }
	}

	section:target article:first-of-type{
		margin-top: $baseline*8.5;
	}
	@include for-size(desktop) {
		.flux_selection_container{
			position: fixed;
			top: $height-top-bar;
		}
	}

	@include for-size(phone) {
		.flux_selection_container{
			position: relative;
			display: none;
		}

		#agenda, #git, #tweet{
			article{ display: none;}
		}
		#radio_agenda:checked ~ article{
			display: block !important;
		}

		#radio_git:checked ~ article{
			display: block !important;
		}	
		#radio_tweet:checked ~ article{
			display: block !important;
		}
	}
}
