#flux{

	background: $background-site;
	z-index: 9;

	////////////////
	/// Input
	///////////////

	.flux_selection_container{

		position: sticky;
		width: 100%;
		top: 0;
		z-index: 9;
		background-color: $background-site;
		border-bottom: $border-very-light;

		label.flux_selection-label{

			@include font-size-16;
			color: $text-color-light;
			display: inline-block;
			padding: $baseline $unite/2;		
			cursor: pointer;

			&:hover{  }
		}
	}

	// Comportement si Checké 
	#flux_selection-agenda:checked ~ .flux_selection_container label.for_agenda,
	#flux_selection-git:checked ~ .flux_selection_container label.for_git,
	#flux_selection-tweet:checked ~ .flux_selection_container label.for_tweet{
			color: $text-color;
			font-weight: 600;
	}

	input#flux_selection-agenda + label:after{
		width: 100%;
		border-bottom: 1px solid black;
	}
	//input#flux_selection-tweet + label{ border-right: none;}




	////////////////
	/// Structure
	///////////////


	#agenda, #git, #tweet{
		display: none;
	}

	#flux_selection-agenda:checked ~ #agenda,
	#flux_selection-git:checked ~ #git,
	#flux_selection-tweet:checked ~ #tweet{
		display: inline-block !important;
		padding-bottom: 25vh;
		padding-left: $unite/2;
		width: 100%;
	}

}