$medialab-red: #f7323f;
$background-site: white;

/* header */
$color-header-text: #808080;
$color-header-logo: $medialab-red;

// Colors
$black-color: #666;

:root{
	--redlab: $medialab-red;
}

$backgroundsite: white;