$font-main: 'MuseosSans';
$font-mono: monospace;
$font-size: 10px; // Base 10 pour simplifier les calculs
$baseline: 13px;


:root{
	--font-size: $font-size;
    --baseline: $baseline;
}


html{
    font-family: $font-mono;
    font-size: $font-size;
}


@mixin typo-header() {
    font-size: $font-size*1.3;
    font-weight: normal;
    line-height: $baseline;
    line-height: $baseline*1.3;
}

@mixin typo-list_title() {
    font-size: $font-size*2;
    font-weight: normal;
    line-height: $baseline;
    line-height: $baseline*2;
}

@mixin typo-labeur() {
    font-size: $font-size*1.8;
    line-height: $baseline*1.8;
    font-weight: normal;
}

@mixin article_h1() {
    font-size: $font-size*5;
    line-height: $baseline*5;
    font-weight: normal;
}

@mixin article_h2() {
    font-size: $font-size*3;
    line-height: $baseline*3;
    font-weight: normal;
}
  