// Variables override
$modal-background-background-color: rgba(black, 0.4);

// Importing Bulma
@import '~bulma';

// Generic rules
html, body, #app {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

// Listings
.listing {
  a {
    color: $black !important;
  }

  // .is-draft a {
  //   color: $grey !important;
  // }
}

// Editor
.Draftail-Editor iframe {
  // TODO...
  border: 1px solid black;
}

.editor {

  &.image-container {
    background-color: #ccc;
    padding: 20px;
  }

  &.link {
    border-bottom: 1px dotted $link;
    color: $black !important;
    background-color: lighten($link, 40%);
  }

  img {
    border: 1px solid black;
    max-height: 200px;
  }
}

// Helper classes
.handle {
  cursor: pointer;
}

.modal {
  z-index: 10000;
}

.tags-container {
  display: flex;
  flex-flow: row wrap;

  > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.form-group {
  margin-bottom: 4rem;

  &.is-important {
    background: $white-ter;// rgba(0,0,0,0.1);
    padding: 1rem;
  }
}
