// Variables override
$modal-background-background-color: rgba(black, 0.4);
$header-height: 41px;

*, *::before, *::after {
  box-sizing: border-box !important;
}

// Importing Bulma
@import '~bulma';

// Importing fonts
@import './font/Bel2/stylesheet.css';

// Generic rules
html, body, #app {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

img.black-and-white {
  filter: grayscale(100%);
}

.checkered, .ReactCrop {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
  background-repeat: repeat, repeat;
  background-position: 0px 0, 5px 5px;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size: 10px 10px, 10px 10px;
  background-size: 10px 10px, 10px 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scaleX(1) scaleY(1) scaleZ(1);
  transform: scaleX(1) scaleY(1) scaleZ(1);
}

// Listings
.listing {
  a {
    color: $black;
  }
}

// Editor
.Draftail-Editor iframe {
  // TODO...
  border: 1px solid black;
}

.Draftail-Editor--focus .Draftail-Toolbar {
  top: $header-height;
}

.editor {

  &.image-container {
    background-color: #ccc;
    padding: 20px;
  }

  &.link {
    border-bottom: 1px dotted $link;
    color: $black !important;
    background-color: lighten($link, 40%);
  }

  img {
    border: 1px solid black;
    max-height: 200px;
  }
}

// Helper classes
.handle {
  cursor: pointer;
}

.modal {
  z-index: 10000;
}

.tags-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5px;

  > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.form-group {
  margin-bottom: 4rem;

  &.is-important {
    background: $white-ter;// rgba(0,0,0,0.1);
    padding: 1rem;
  }
}

.table{
  width: 100%;
}

.table--header {
  background-color: hsl(0, 0%, 96%);
}
$table-header-color: #dbdbdb;
.table {
  &.is-bordered {
    tr:first-child td {
      border-top: none;
    }
    .table--header__sticky {
      height: $header-height;
      padding: 0;

      position: sticky;
      top: $header-height - 1;

      border: none;
      border-right: 1px $table-header-color solid;
      border-top: 1px $table-header-color solid;
      user-select: none;

      &:first-child {
        border-left: 1px $table-header-color solid;
      }
      .table--header--container {
        padding: 0.5em 0.75em;
        border-bottom: 1px $table-header-color solid;
        height: 100%;
        white-space: nowrap;
        &::after {
          content: "▼";
          margin-left: 5px;
          opacity: 0;
          display: inline-block;
          transition: opacity 0.2s ease, transform 0.2s ease 0.3s;
        }
        &.up--arrow::after {
          opacity: 1;
          transform: rotate(180deg);
          transition: opacity 0.2s ease, transform 0.2s ease;
        }
        &.down--arrow::after {
          opacity: 1;
          transition: opacity 0.2s ease, transform 0.2s ease;
        }
      }
    }
  }
  &.is-fake-bordered {
    td, th {
      box-shadow: inset 0px 0px 0 1px #dbdbdb;
      border: none;
    }
  }
}

.tabs.header {
  position: sticky;
  top: 0;
  max-height: $header-height;
  z-index: 10;
  background-color: white;
}

.table tr.is-draft {
  a{color: darkgrey;}
  &:hover{
      a{color: grey;}
  }
}

.multilevel-selector__first-level__menu-list  {
  background: whitesmoke;
}
.multilevel-selector__second-level__menu-list, .multilevel-selector__first-level__menu-list {
  overflow-x: hidden;
}
div.multilevel-selector__first-level__option {
  position: relative;
  text-transform: capitalize;
  cursor: pointer;
  .multilevel-selector__option-container {
    display: inline-block;
    font-weight: bold;
  }
  &::after {
    content: "▶";
    transition: transform 0.2s ease;
    position: absolute;
    right: 20px;
  }
}
.multilevel-selector__menu-header {
  background-color: transparent;
  color: inherit;
  cursor: default;
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: 8px 12px;
  width: 100%;
  font-weight: bold;
  background: whitesmoke;
}
.multilevel-selector__menu-header-button {
  border-radius: 50%;
}
.multilevel-selector__menu-header-text {
  padding-left: 12px;
}

div.multilevel-selector__second-level__menu-list {
  padding-top: 0;
}
.footer-container {
  border-top: 1px solid #dbdbdb;
  box-shadow: 0px -5px 7px -5px #ddd;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  background-color: white;
  z-index: 1100;
}
$duration: 0.2s;

.fade-enter-active {
  height: 0;
}

.multilevel-selecto__animation__first-level.fade-enter {
  transform: translateX(-100%);
}
.multilevel-selecto__animation__first-level.fade-enter-active {
  transform: translateX(0%);
  transition: transform $duration ease-in;
}
.multilevel-selecto__animation__first-level.fade-exit {
  transform: translateX(0%);
}
.multilevel-selecto__animation__first-level.fade-exit-active {
  transform: translateX(-100%);
  transition: transform $duration ease-in;
}

.multilevel-selecto__animation__second-level.fade-enter {
  transform: translateX(100%);
}
.multilevel-selecto__animation__second-level.fade-enter-active {
  transform: translateX(0%);
  transition: transform $duration ease-in;
}
.multilevel-selecto__animation__second-level.fade-exit {
  transform: translateX(0%);
}
.multilevel-selecto__animation__second-level.fade-exit-active {
  transform: translateX(100%);
  transition: transform $duration ease-in;
}

.button__animated-color {
  transition: background-color 0.3s ease;
}

label em {
  display: block;
  color: grey;
  font-style: italic;
  font-weight: lighter;
}

// NOTE: this is to prevent bugs from the 'fill-available' property
.ReactCrop__image {
  max-height: 200px !important;
}
