// Variables override
$modal-background-background-color: rgba(black, 0.4);
$header-height: 41px;

*, *::before, *::after {
  box-sizing: border-box !important;
}

// Importing Bulma
@import '~bulma';

// Generic rules
html, body, #app {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

// Listings
.listing {
  a {
    color: $black;
  }
}

// Editor
.Draftail-Editor iframe {
  // TODO...
  border: 1px solid black;
}

.Draftail-Editor--focus .Draftail-Toolbar {
  top: $header-height;
}

.editor {

  &.image-container {
    background-color: #ccc;
    padding: 20px;
  }

  &.link {
    border-bottom: 1px dotted $link;
    color: $black !important;
    background-color: lighten($link, 40%);
  }

  img {
    border: 1px solid black;
    max-height: 200px;
  }
}

// Helper classes
.handle {
  cursor: pointer;
}

.modal {
  z-index: 10000;
}

.tags-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;

  > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.form-group {
  margin-bottom: 4rem;

  &.is-important {
    background: $white-ter;// rgba(0,0,0,0.1);
    padding: 1rem;
  }
}

.table{
  width: 100%;
}

.table--header {
  background-color: hsl(0, 0%, 96%);  
}
$table-header-color: #dbdbdb;
.table {
  &.is-bordered {
    tr:first-child td {
      border-top: none;
    }
    .table--header__sticky {
      height: $header-height;
      padding: 0;

      position: sticky;
      top: $header-height - 1;

      border: none;
      border-right: 1px $table-header-color solid;
      border-top: 1px $table-header-color solid;
      user-select: none;

      &:first-child {
        border-left: 1px $table-header-color solid;
      }
      .table--header--container {
        padding: 0.5em 0.75em;
        border-bottom: 1px $table-header-color solid;
        height: 100%;
      }
    }
  }
  &.is-fake-bordered {
    td, th {
      box-shadow: inset 0px 0px 0 1px #dbdbdb;
      border: none;
    }
  }
}

.tabs.header {
  position: sticky;
  top: 0;
  max-height: $header-height;
  z-index: 10;
  background-color: white;
}

.table tr.is-draft {
  a{color: darkgrey;}
  &:hover{
      a{color: grey;}
  }
}

.hide-list__menu-list  {
  background: whitesmoke;
}
div.hide-list__option {
  position: relative;
  cursor: pointer;
  .option-container {
    transition: transform 0.2s ease;
    display: inline-block;
    font-weight: bold;
  }
  &.hide-list__option--is-focused {
    &::after {
      transform: translate(10px);
    }
    .option-container {
      transform: translate(10px);
    }
  }
  &::after {
    content: ">";
    transition: transform 0.2s ease;
    position: absolute;
    right: 20px;
  }
}