// Variables override
$modal-background-background-color: rgba(black, 0.4);
$header-height: 41px;

*, *::before, *::after {
  box-sizing: border-box !important;
}

// Importing Bulma
@import '~bulma';

// Generic rules
html, body, #app {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

// Listings
.listing {
  a {
    color: $black !important;
  }
}

// Editor
.Draftail-Editor iframe {
  // TODO...
  border: 1px solid black;
}

.editor {

  &.image-container {
    background-color: #ccc;
    padding: 20px;
  }

  &.link {
    border-bottom: 1px dotted $link;
    color: $black !important;
    background-color: lighten($link, 40%);
  }

  img {
    border: 1px solid black;
    max-height: 200px;
  }
}

// Helper classes
.handle {
  cursor: pointer;
}

.modal {
  z-index: 10000;
}

.tags-container {
  display: flex;
  flex-flow: row wrap;

  > li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.form-group {
  margin-bottom: 4rem;

  &.is-important {
    background: $white-ter;// rgba(0,0,0,0.1);
    padding: 1rem;
  }
}

.table--header__sticky {
  position: sticky;
  top: $header-height - 1;
}

.table--header {
  background-color: hsl(0, 0%, 96%);  
}

.table.is-fake-bordered td, .table.is-fake-bordered th {
  box-shadow: inset 0 0 0 1px #dbdbdb;
  border: none;
}

.tabs.header {
  position: sticky;
  top: 0;
  max-height: $header-height;
  z-index: 10;
  background-color: white;
}
