
#liste{
  left: 250px;
}
@media screen and (max-width:700px)  {
  #liste{
    left: unset;
  }
}

.liste_objet hgroup{
  display: flex;
}

.tool-title-container h1{
  padding-left: 25px;
}
.authors{
  padding-left: 25px!important;
}
.tool-status{
  position: absolute;
  left: 530px;
}
@media screen and (min-width:1200px) {
  .tool-status{
    left: 56%;
  } 
}

.accroche{
  margin-top: 30px!important;
}

@media screen and (max-width: 840px)  {
  .tool-status{
    display: none!important;
  } 
  .tool-title-container h1{
    padding-left: 0;
  }
  .authors{
    padding-left: 0!important;
  }
  .accroche{
    margin-top: unset!important;
    margin-left: 15px;
  }  
}

/**
 * SINGLE TOOL PAGE
 */
.tool-big-attachments
{
  display: flex;
  flex-flow: column wrap;
}

.tool-big-attachments li{
  font-size: 27px;
  /* line-height: 22.5px; */
  font-weight: 100;
  border-bottom: .5px solid #ebebeb;
  border-bottom-color: rgb(235, 235, 235);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  padding: 15px;
  padding-left: 25px;
  /* min-width: 50%;
  max-width: 50%; */
}

.tool-big-attachments li:hover{
  color: #e6142d;
}