
#liste{
  left: 250px;
}
@media screen and (max-width:700px)  {
  #liste{
    left: unset;
  }
}

.subtype-production.subtype-origin{
  color: inherit!important;
}

.liste_objet hgroup{
  display: flex;
}



hgroup h1 .label
{
  font-style: italic;
  color: rgba(68,68,68,0.6);
  font-size: 27px;
  position: relative;
  bottom: 2px;
  left: 5px;
}
@media screen and (max-width: 840px)  {
  hgroup h1 .label{
    font-size: 20px;
  }
  .type-objet:last-of-type{
    border-bottom: none!important;
  }
}
.authors{
  padding-left: 25px!important;
}
.tool-status{
  position: absolute;
  right: 15px;
}

.startDate{
  border-left: .5px solid #ebebeb;
  padding-left:10px;
}

.date-news{
  position: absolute;
  right: 80px!important;
  border-right: .5px solid #ebebeb;
  border-left: none!important;
  padding-right: 15px;
}

.accroche,
.liste_objet hgroup{
  margin-top: 30px!important;
  border-left: none!important;
}

@media screen and (max-width:1200px) {
  .tool-status{
    right: 50px!important;
  } 
  .date-news{
    right: 105px!important;
  }
}


@media screen and (max-width: 840px)  {
  .tool-status,
  .date-news{
    display: none!important;
  } 
  .tool-title-container h1{
    padding-left: 0;
  }
  .authors{
    padding-left: 0!important;
  }
  .accroche,.liste_objet hgroup{
    margin-top: unset!important;
    margin-left: 15px;
  }  
}

/**
 * SINGLE TOOL PAGE
 */
.tool-big-attachments
{
  display: flex;
  flex-flow: row nowrap;
  max-width: 900px;
  /* justify-content: space-between; */
  justify-content: flex-start;
  border-bottom: .5px solid #ebebeb;
}

.tool-big-attachments li{
  font-size: 16px;
  font-weight: 100;
  margin: 15px;
  margin-right: 25px;
  padding-right: 25px;
  margin-left: 0;
  min-width: 166px;
  /* flex: 1; */
}

.tool-big-attachments li:not(:last-of-type)
{
  /* padding-left: 15px; */
  border-right: .5px solid #ebebeb;
}

.tool-big-attachments li:hover{
  color: #e6142d;
}

.tool-big-attachments li:first-of-type
{
  color: #e6142d;
}

.type-objet.important{
  color: #e6142d;
}

.details.no-top-border{
  border-top: none!important;
}
.details.margin-bottom{
  margin-bottom: 25px;
}
@media screen and (min-width: 900px)
{
  .details.no-top-border{
    border-top: none!important;
  } 
}

/**
 * Design listing option 2
 */
 .list-grid-layout{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}

.tool-portrait{
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: none!important;
  height: 100%;
}
.tool-portrait > a{
  display: flex!important;
  flex-flow: row nowrap;
  justify-content: stretch;
  height: 100%;
}

:root{
  --card-image-height: 180px;
}

.tool-portrait .left-column img{
  max-height: var(--card-image-height);
  filter: grayscale(1);
}
/* 
.tool-portrait .left-column,
.tool-portrait .right-column
{
  flex: 1;
} */
.tool-portrait .right-column
{
  padding: 0 15px;
  padding-top: 10px;
  position :relative;
  max-height: var(--card-image-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  flex: 1;
}

.tool-portrait .header
{
  flex: 1;
}
.tool-portrait .header h1{
  margin: 0!important;
  padding: 0!important;
  font-size: 36px!important;
  padding-bottom: 15px!important;
}


.tool-portrait .header h2{
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  line-height: 1.2;
  padding-bottom: 10px!important;
}

.tool-portrait .info-row{
  border-top: .5px solid #ebebeb;
  padding: 5px;
  font-size: 13px;
  line-height: 22.5px;
  font-weight: 100;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
}

.tool-portrait .info-row p:not(:first-of-type) {
  padding-left: 10px;
}
.tool-portrait .info-row:last-of-type {
  border-bottom: .5px solid #ebebeb;
}
.tool-portrait .info-row p.important{
  color: #e6142d;
}

@media screen and (max-width:800px)  {
  .tool-portrait .left-column{
    display: none;
  }
  .tool-portrait{
    margin-bottom: 0;

  }
  .tool-portrait .right-column{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
