/* assets/scss/common/body.scss */

@include for-size(phone) {
    body{
        overflow-x: hidden;
        background-color: $background-site;
    }
}

@include for-size(desktop) {
    body{
        // max-width: 1800px;
        margin: 0 $margins-desktop!important;
        overflow-x: hidden;
        background-color: $background-site;
    }
}



[data-type="actualite"] .type::before{
    content: $actualites;
}
[data-type="production"] .type::before{
    content: $productions;
}
[data-type="activite"] .type::before{
    content: $activites;
}


a:hover{ color: $redlab; }

label{
    .span-nochecked{ display: block; }
    .span-checked{ display: none; }
}
input:checked + label{
    .span-nochecked{ display: none; }
    .span-checked{ display: block; }
}

.nomenclature p{
    display: inline; 
    & + p::before{
        content: " / "
    }
}



/* virgules après les auteurs. ATTENTION = il faut plutôt le mettre depuis le CMS car au copier/coller les éléments after ne restent pas*/
.author span{ 
    white-space: nowrap;
    &:after{ content: ", "}
    &:last-of-type:after{ content: ""}
}


/////////////////////
//////// Checkbox
/////////////////////


.checkbox-medialab{
    @include flex();
	@include align-items(center);
}

.checkbox-medialab:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: $baseline;
    height: $baseline;
    background: $background-site;
    border: $border-light; 
}

.checkbox-medialab:hover:before{
    background: $text-color;
    border: $border; 
}

input:checked + .checkbox-medialab:before,
input:checked + label .checkbox-medialab_link:before{
    background: $text-color;
    border: $border; 
}

input:checked + .checkbox-medialab:after,
input:checked + label .checkbox-medialab_link:after {
    content: '';
    position: absolute;
    left: 10px;
    // top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }

  

  input:checked + .filtre_objet_value:after{
    margin-left: $margins-desktop - 7px;
    }
 

  // si checkbox = reconfiguration du build (par lien)
  input:checked + label .checkbox-medialab_link:after { left: 2px; }
  .checkbox-medialab_link:hover { color: currentColor;}



