article{

	--tabsize: 60px;

    > #boussole{

        @include typo-header();

        ul{
        	max-width: 75px;

            li{

                border-bottom: 1px solid black;

                &:nth-of-type(1) {
                    min-height: 4rem;
                    border-top: 1px solid black;
                    }
            }
        }
    }


	main, > section{
		

		p{
			@include typo-labeur();
		}

		h3{
			margin-top: $baseline*2;
			@include article_h3();
		}
	}

	main{

		h1{
			@include article_h1();
		}
		
		h2{
			@include article_h2();
		}
	}

	#rel_personnes{

        //border-top: $bordersize solid $bordercolor;
	}

	#rel_publications{
        //border-top: $bordersize solid $bordercolor;
	}



}

$hauteur-item-personne-grid: 80px;

#item-3 ul, #item-4 ul{
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 30px;
	li img{
		width: 100%;
		height: $hauteur-item-personne-grid*2;
	}
	h1{ @include typo-labeur(); }
	
	
}

.other-random{
	margin-bottom: 100px;
	ul{ opacity:0.4; }
}


hgroup .date, hgroup .type{
	padding-top: $baseline * 1.5!important;
	padding-bottom: $baseline * 6!important;
	display: inline-block; 
	@include article_h3();
}

hgroup .date::after{
	content: "–";
}

// hgroup + section p:first-of-type{
// 	padding-top: $baseline * 6;
// }

#item-4 ul {
	li{ 
		border-top: var(--border);
		padding-top: $baseline;
		// border-bottom: var(--border);
	}
	.titre{
		padding-bottom: $baseline;
	}
	h1{
		padding-bottom: $baseline;
	}
}

