// Hauteur d'un item
$Hunite: $unite*4;

#highlights{
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: $unite*4;

    .contenu{
        position: relative;
        width: 100%;
        margin: $unite*2 0 $unite*2 0;
 
    }
}


/* no support of grid */

#highlights{
    display: inline-block;
    width: 100%;
    margin-right: $margins-phone;
    margin-bottom: $margins-phone;
    vertical-align: top;
}


#highlights {
    
    .contenu{
        
        margin-top: 45px;
        overflow: hidden;

        h1{
            margin-bottom: $baseline*2;
        }

        ul{
        
        width: 100%;
        

            li{
                
                width: 100%;
                background: $background-site;
                text-align: left;
                margin: $baseline*2 0;
                transition: .5s cubic-bezier(.77,0,.18,1);
                overflow: hidden;

                .texte {
                    @include flex();
                    @include flex-direction(row);
                    //@include align-items(baseline);
                    background: $background-site;
                    z-index: 2;
                    height: 100%;
                    overflow: hidden;

                        .numero{
                            @include font-size-13();
                            @include flex-grow(0);
                            @include flex-shrink(1);
                            @include flex-basis($unite); 

                            @include align-self(first baseline);
                            @include justify-content(center);

                        }

                        .embleme{
                            @include font-size-80();
                            width: 70px;

                            @include flex-grow(1);
                            @include flex-shrink(1);
                            @include flex-basis(20px); 
                            z-index: 1;

                        }

                        .type{
                            @include font-size-80();
                            line-height: 80px;
                            height: 80px;

                            @include flex-grow(1);
                            @include flex-shrink(1);
                            @include flex-basis(40px); 
                            z-index: 1;

                        }


                        h2{
                            font-weight: bold;
                            padding: $unite/2 $unite/2 0 $unite/2;
                            @include align-self(baseline);

                            @include flex-grow(2);
                            @include flex-shrink(0);
                            @include flex-basis(50%);
                            z-index: 1;
                            word-break: keep-all;
                            max-height: $Hunite;                     
                            overflow: hidden;

                        }

                        h3{
                            flex: 1 9 25%;
                            padding: $unite/2 $unite/2 0 $unite/2;
                            @include align-self(baseline);
                            z-index: 1;
                            word-break: keep-all;

                            @include flex-grow(1);
                            @include flex-shrink(9);
                            @include flex-basis(25%);                         
                        }
                    }

                    .image-pre{
                        font-size: 80px;
                        line-height: 90px;
                        overflow: hidden;
                        width: 25%;
                        height: 100%;
                        max-height: 80px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transition: 0.25s cubic-bezier(1,0,0,1); // Transition to Normal

                        z-index:1;                       

                        pre{
                            float: right;
                        }                       
                    }
                   
                    .complement{
                        position: absolute;
                        top: $Hunite;
                        display: block;
                        z-index: 3;
                        color: $text-color-light;
                    }

                    &:hover{
                        transition: 0.5s 0.05s cubic-bezier(1,0,0,1);
                        
                        .image-pre{
                            width: 100%;
                            max-height: inherit;
                            font-size: 1vw;
                            line-height: 1.15vw;
                            transition: 0.5s 0.05s cubic-bezier(1,0,0,1);

                        }
                        .complement{

                        }
                    }
                }
            
        }
        
    } /* End flux container*/
}   

@media screen and (min-width: 700px) {
    h2{ @include font-size-20();}
    h3{ @include font-size-16();}        
}

@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1600px) {
    h2{ @include font-size-27();}
    h3{ @include font-size-20();}        
}

@media screen and (min-width: 1800px) {}            



@include for-size(desktop){
    #highlights {
        .contenu{
            li{ height: $Hunite;}
            li:hover{ height: $Hunite*3; }

            .texte{
                width: 75%;
            }
            .image-pre{
                width: 25%;
                display: block;
            }
            .complement{
                width: 75%;
                padding: $baseline/2 $unite ;
                [data-type="description"]{ @include font-size-20;}
                [data-type="time"]{ @include font-size-13; margin: $baseline 0;}
            
            }            
        }
    }
}

/* no support of grid */
@include for-size(phone){
    #highlights {
        .contenu{
            li{ height: $Hunite; min-height: $Hunite;}
            li:hover{ height: auto; min-height: $Hunite*3;}

            .texte{
                width: 100%;
            }
            .image-pre{
                display: none;
            }
            .complement{
                width: 100%;
                padding: 0 $unite ;
                [data-type="description"]{ @include font-size-16;}
                [data-type="time"]{ @include font-size-13; margin: $baseline 0;}
            }
        }
    }
}