// Hauteur d'un item
$Hunite: $unite*5;

#highlight3{
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: $unite*4;

    .contenu{
        position: relative;
        width: 100%;
        margin: $unite*2 0 $unite*2 0;
 
    }
}



/////////////////////
//////// Flux desktop
/////////////////////

/* no support of grid */
@include for-size(desktop){
    #highlight3{
        display: inline-block;
        width: 100%;
        margin-right: $margins-phone;
        margin-bottom: $margins-phone;
        vertical-align: top;
    }

}

@include for-size(desktop-900) {
}

@include for-size(desktop-1300) {
}

@include for-size(desktop) {

    #highlight3 {
        
        .contenu{
            
            margin-top: 45px;
            overflow: hidden;

            ul{
            
            width: 100%;
            

                li{
                    
                    width: 100%;
                    background: $background-site;
                    text-align: left;
                    height: $Hunite;
                    margin: $baseline*2 0;
                    transition: .25s cubic-bezier(.77,0,.18,1);
               
                div:not(.image-pre) {
                    width: 75%;
                    @include flex();
                    @include flex-direction(row);
                    //@include align-items(baseline);
                    background: $background-site;
                    z-index: 2;

                        .numero{
                            @include font-size-13();
                            @include flex-grow(0);
                            @include flex-shrink(1);
                            @include flex-basis($unite); 

                            @include align-self(first baseline);
                            @include justify-content(center);

                        }

                        .embleme{
                            @include font-size-80();
                            width: 70px;

                            @include flex-grow(1);
                            @include flex-shrink(1);
                            @include flex-basis(20px); 
                            z-index: 1;

                        }

                        .type{
                            @include font-size-80();

                            @include flex-grow(1);
                            @include flex-shrink(1);
                            @include flex-basis(40px); 
                            z-index: 1;

                        }


                        h2{
                            @include font-size-27();
                            font-weight: bold;
                            padding: $baseline $unite;
                            @include align-self(baseline);

                            @include flex-grow(2);
                            @include flex-shrink(0);
                            @include flex-basis(50%);
                            z-index: 1;                       
                        }

                        h3{
                            flex: 1 9 25%;
                            @include font-size-20();
                            padding: $baseline $unite;
                            @include align-self(baseline);
                            z-index: 1;

                            @include flex-grow(1);
                            @include flex-shrink(9);
                            @include flex-basis(25%);                         
                        }
                    }

                    .image-pre{
                        @include font-size-27();
                        line-height: 30px;
                        overflow: hidden;
                        width: 25%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;

                        z-index:1;                       

                        .complement{
                            position: absolute;
                            top: $Hunite;
                            margin: $unite;
                            padding: $baseline $unite/2;
                            display: block;
                            max-width: 75%;

                            background: $background-site;

                            [data-type="description"]{ @include font-size-20;}
                            [data-type="time"]{ @include font-size-13; color: $text-color-light; }

                        }
                        pre{
                            float: right;
                        }                       
                    }

                    &:hover{
                        height: $Hunite*4;
                        transition: .5s cubic-bezier(.77,0,.18,1);

                        
                        .image-pre{
                            width: 100%;

                        }
                    }
                } 
            }
            
        } /* End flux container*/
        
    } /* end #flux*/

}


/////////////////////
//////// Flux phone
/////////////////////

/* no support of grid */
@include for-size(phone){
    #flux li{
        display: inline-block;
        width: 100%;
        margin: 0 $margins-phone $margins-phone $margins-phone;
        vertical-align: top;
    }
}
