#highlight2{
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-top: $unite*4;

    .contenu{
        position: relative;
        width: 100%;
        margin: $unite*2 0 $unite*2 0;
        
        // General
        ul{
            display: inline-block;
            text-align: left;

            vertical-align: top; 
            display: inline-block;
            width: 50%;
            

            li.title{
                width: 100%;
                border-bottom: $border;
                margin-top: $unite*-3;

                h1{
                    @include font-size-20;
                    padding: $unite 0;

                }
            }

            li.text{
                border-bottom: $border-very-light;
                height: $unite*5;
                width: 100%;
                background-color: $background-site;

                //@include text-overflow;

                h2{ @include font-size-20(); }
                h3, .time{ @include font-size-13(); }

                p{
                    @include font-size-13();
                }

                &:hover{ cursor: pointer;}
                &[data-item="1"]{ margin-top: $unite;}
            } 
        }  

        ul:first-of-type{
                    
        }

        ul:last-of-type{

        }
    }
}
@include for-size(desktop) {
    #highlight2{

        .contenu{
            &:hover{
                ul{ 
                    //transition: .5s cubic-bezier(.77,0,.18,1);
                    opacity: .2;

                    &:first-of-type{
                        left: -100%;
                    }

                    &:last-of-type{
                        right: -100%;
                    }
                }
            }
            
            // General
            ul{
                li.accroche{
                    width: $unite*2;
                    height: 100%;
                    position: absolute;
                    top: $unite*0;
                    z-index: -1;
                    opacity: 0;
                    transition: none;
                    overflow: hidden;

                    *{
                        position: relative;
                        min-width: 100px;
                        transition: none;
                    }
                }

                &:hover{

                    opacity: 1 !important;
                    //transition: .5s cubic-bezier(.77,0,.18,1);
                    //transition-property: left, right, transform, padding, margin;
                    
                    li.title, li.text{
                        width: 50%;                
                    }
                  
                    li.accroche{ 
                        transition: 0.25s cubic-bezier(0.86, 0, 0.07, 1);
                    }
                }
            }

            // Specific
            ul:first-of-type, ul:last-of-type{
                @for $i from 0 through 5 {                
                    [data-item="#{$i}"]:hover ~ [data-item-accroche="#{$i}"]{ 
                        width: calc(50% - 25px);
                        opacity: 1;
                        z-index: 1;
                    }
                }

                li.accroche{
                    
                    [data-type="description"]{
                        margin: $baseline $unite/2;
                        @include font-size-20;
                        max-width: 90%;
                        background: $background-site;
                        z-index: 1;
                    }

                    .image-pre{
                        position: absolute;
                        top: 0;
                        font-size: 2vw;
                    } 

                    // Maintenir
                    &:hover{
                        width: calc(50% - 25px);
                        opacity: 1;
                        z-index: 1;                    
                    }               
                }
            }

            ul:first-of-type{
                
                padding-right: $unite/2;

                left: 0;

                li.text{ }

                li.accroche{ }

                &:hover{ 
                    position: absolute;
                    left: 0;
                    width: 100%;
                    li.text{}

                    li.accroche{
                        right: 0;                 
                    }

                }            
            }

            ul:last-of-type{
                padding-left: $unite/2;

                right: 0;

                li{
                }

                li.text{ }

                li.accroche{ }
                &:hover{ 
                    position: absolute;
                    right: 0;
                    width: 100%;
                    padding-left: 0;
                    li.text, li.title{transform: translateX(calc(100% + #{$unite/2}));}
                    li.accroche{
                                        
                    }
                }            
            }
        }
    }
}

@include for-size(phone) {
    #highlight2{
        .contenu{
            ul{
                display: block;
                width: 100%;

                li{
                    width: 100%;

                    &.text{
                        
                    }

                    &.accroche{
                        display: none;
                    }
                }

                & + ul{ margin-top: $unite*4; }
            }
            
            &:hover{
                ul{ 
                    //transition: .5s cubic-bezier(.77,0,.18,1);
                    &:first-of-type{
                        left: inherit;
                    }

                    &:last-of-type{
                        right: inherit;
                    }
                }
            }
            &:hover{

                li.title, li.text{
                }
              
                li.accroche{ 
                }
            }
            ul:first-of-type, ul:last-of-type{
            }
            ul:first-of-type{
            }
            ul:last-of-type{
            }
        }
    }
}
