$width-main-image: calc( 80vw - #{$margins-desktop*2});

@include for-size(desktop) {
    #nav-inside-article{
        padding-top:$margins-desktop;
        padding-bottom: $margins-desktop;
        height: 100%;


        position: fixed;
        top: 0;
        left: $margins-desktop;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-content: stretch;

        #img-article{

        }

        .nav-inside-item{
            //height: $height-nav;
            height: $unite*3;
            width: $logo-column - $margins-desktop;
            //background-color: white;

            &:after{
                content: "";
                width:  $logo-column/2;
                border-bottom: $border;
                position: absolute;
                bottom: 0;
            }
            //fonts

            @include font-size-16();

            display: flex;
            align-items: center;
            &:first-of-type{

                //height: $height-top-bar - $margins-desktop;
                //height: calc(#{$unite*3} - 1px);
                align-items: flex-start;

                // Fill the hole around
                width: $unite*11;
                left: $unite*-1;
                padding: $unite 0 0 $unite;
                height:  $unite*4;
                top:  $unite*-1;
                background-color: $background-site;
                height: calc(#{$unite*4} - 1px);


                &:after{border-bottom: none;}

                img, svg{
                    width: $logo-column/3 + $unite/2;
                    margin: calc(#{$unite} + 5px) 0 5px 0;
                    fill: $text-color; }
            }

            a{
                width: $logo-column/3;
            }

            // &[data-type="main-article"] a::before{
            //     content: $productions;
            // }
            &[data-type="main"] a::before{
                content: $scrolltop;
            }
            &[data-type="productions"] a::before{
                content: $productions;
            }
            &[data-type="activities"] a::before{
                content: $activites;
            }
            &[data-type="attachments"] a::before{
                content: $files;
            }
            &[data-type="people"] a::before{
                content: $people;
            }
            &[data-type="news"] a::before{
                content: $actualites;
            }

        }



        #img-article{
            //border-top: 1px solid black;
            flex-grow: 1;
            width: $logo-column/2;
            overflow: hidden;
            transition: all .25s cubic-bezier(.76,.05,.86,.06);
            font-size: $font-size*1.3!important;
            line-height: 1.15!important;
            font-weight: bold;

            div{
                //background-color: white;
                position: relative;
                top: 0;
                left: 0;
                img{
                    position: absolute;
                    width: #{$width-main-image};
                    height: auto;
                    opacity: 0;
                    z-index: 2;
                    transform: translateY(-50%);
                    top: 50%;
                    //filter: blur(3px);
                }

                .image-generator{
                    transition: opacity 1s linear;
                    position: relative;
                    z-index: 1;

                    pre{
                        font-size: 2vw !important;
                    }
                }
            }

            &:hover{
                width: $width-main-image;

                &:before{
                    content:"";
                    border-top: $border;
                    //margin-left: $logo-column;
                    position: absolute;
                    top: 0;
                    z-index: 10;
                }

                img{
                    width: #{$width-main-image};
                    //height: auto;
                    opacity: 1;
                    transition: all .25s cubic-bezier(.76,.05,.86,.06);
                    //transform: translateY(-50%);
                    //top: 50%;
                    //height: 100%;
                    //mix-blend-mode: color;

                }
            }
        }
    }
}

@include for-size(phone) {
    #nav-inside-article{ display: none;}
}
