/* Regles typographique de bases communes à toutes les pages de contenu */


@include for-size(desktop) {

	.page-production, 
	.page-news, 
	.page-activity, 
	.page-people,
	.page-about{

		.article-contenu, 
		.biographie-contenu,
		.about-contenu {
							
			/* Regles de Base */
			figure, img + img, p + img{
				margin: $baseline*3 0 $baseline*4 0;
				width: 90%;
				margin-left: $unite;
			}

			iframe{
				width: 100%;
				min-height: 50vh;
				margin: $baseline*3 0 $baseline*4 0;	
				border: none;					
			}

			
			h1, h2, h3, h4, h5{
				@include font-size-20;
				font-weight: bold;
				margin-top: $baseline*4;
				margin-bottom: $baseline*2;
			}


			.title-style-level-1,
			[data-style-level="1"]{
				@include font-size-20;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: $baseline*6;
				margin-bottom: $baseline*2;
			}

			.title-style-level-2,
			[data-style-level="2"]{
				@include font-size-20;
				font-weight: bold;
				margin-top: $baseline*4;
				margin-bottom: $baseline*2;
			}

			.title-style-level-3,
			[data-style-level="3"]{
				@include font-size-20;
				font-weight: 300;
				font-style: italic;
				margin-top: $baseline*4;
				margin-bottom: $baseline*2;
			}

			.title-style-level-1 + .title-style-level-2,
			[data-style-level="1"] + [data-style-level="3"]{ margin-top: 0;}



			p + p {  margin-top: $baseline*2; }

			p, li{ 
				@include font-size-20(); 
				margin-bottom: $baseline*2;
			}
					
			li{ 
				left: $unite;
				text-indent: $unite*-.70;
				&:before{ content: "⧆"; left: $unite/-2;}
			}
		}
	}
}