.toggle-lang{ 
    @include flex-order(2); 
    border: dotted 1px $text-color;
    max-width:900px;

    span{
        border-bottom: $border; 
        white-space: nowrap;
        cursor: pointer;
        &:hover{ 
            color: $redlab;
            border-bottom: $border-redlab;
        }
    }

}

@include for-size(phone) {

    .toggle-lang{
   
        padding: $baseline*1 $margins-phone;
        margin-top: $baseline*2;
        @include font-size-16();
    
           
    }
    
}



@include for-size(desktop) {

    .toggle-lang{
   
        padding: $baseline*2 $unite*2;
        margin-top: $baseline*3;
        @include font-size-16();
    
           
    }
    
}





#fr-to-en:checked ~ .fr{ display: none !important; }

#en-to-fr:checked ~ .en{ display: none !important; }