/* Regles typographique de bases communes à toutes les pages de contenu */


@include for-size(phone) {

	.page-production, 
	.page-news, 
	.page-activity, 
	.page-people,
	.page-about{
		top: 0!important;


		/// Typo Header hgroup
		#article-contenu, 
		#biographie,
		#about-contenu {


			hgroup {
				margin: $baseline*1 0 $baseline*2 0;
				h1{
					@include font-size-40();
					font-weight: 400;
					margin-bottom: $baseline*1.5;
				}
				h2, h3{ @include font-size-20-phone();}
				h2 { margin-bottom: $baseline*1; }
				h3 { margin-bottom: $baseline*3; }
			}
		}

		.article-contenu, 
		.biographie-content,
		.about-contenu {
							
			/* Regles de Base */

			iframe{
				width: 100%;
				margin: $baseline*1.5 0 $baseline*2 0;	
				border: none;					
			}

			h1, h2, h3, h4, h5{
				@include font-size-20-phone;
				font-weight: bold;
				margin-top: $baseline*4;
				margin-bottom: $baseline*1.5;
			}


			.title-style-level-1,
			[data-style-level="1"]{
				@include font-size-16-phone;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: $baseline*4;
				margin-bottom: $baseline*1.5;
			}

			.title-style-level-2,
			[data-style-level="2"]{
				@include font-size-16-phone;
				font-weight: bold;
				margin-top: $baseline*3;
				margin-bottom: $baseline*1.5;
			}

			.title-style-level-3,
			[data-style-level="3"]{
				@include font-size-16-phone;
				font-weight: 300;
				font-style: italic;
				margin-top: $baseline*3;
				margin-bottom: $baseline*1.5;
			}

			h3 + h4, 
			.title-style-level-1 + .title-style-level-2,
			[data-style-level="1"] + [data-style-level="2"]{ margin-top: 0;}


			p + p {  margin-top: $baseline*2; }

			p, li{ 
				@include font-size-16-phone(); 
				margin-bottom: $baseline*2;
			}
					
			li{ 
				left: $unite-phone*2.5;
				text-indent: #{$unite-phone*-1};
				width: calc(100% - #{$unite-phone*2.5});
				&:before{ content: "⁘"; left: #{$unite-phone*-1.5};}
			}

			iframe{
				max-width: 100%;
				height: auto;
				//height: auto;
				margin-bottom: $baseline;
			}

			img, figure{ max-width: 100%;}
 
			//////////////////////////
			///        Image 	/////
			/////////////////////////

			figure{
								
				figcaption{
					@include font-size-13;
					color: $text-color-light;
					margin-top: $baseline*1;
				}

				&.figure-logo{
					display: inline-block;
					max-width: 33% !important;
					width: auto;
				    vertical-align: middle;
					text-align: center;
				    padding: $baseline $unite*1.5 $baseline 0;
					margin: 0;

					img{
						max-width: $unite*4 !important;
					    max-height: $baseline*6;						
					}
				}
				&.serie-pair{
					display: inline-block;
					padding: $baseline $unite $baseline 0;
					width: 50%;

				}

				&.serie-pair + p{ display: none; }
				
				&.vignette-block, &.vignette-inline-paysage{
					
					transition: .25s ease-in-out;						
					cursor: pointer;

					&:after{
						content: "🔎\00FE0E";
						top: 50%;
						left: 50%;
						transform: translate(-50%);
						position: absolute;
						opacity: 0;
						font-size: 30px;
						color: $redlab;
						transition: 0.1s 0s ease-in-out;
						line-height: 0;
					}
					&:hover:after{
						opacity: 1;
						transition: .25s ease-in-out;
					}				
				}
				&.vignette-block, &.vignette-inline-paysage{
					text-align: center;
					display: block;
					padding: $baseline*2 $unite $baseline*2 $unite;

					img{
						max-width: 75%;
						max-height: 66vh;
					}
				}

				&.vignette-inline-paysage + p{ display: none;}

				&.illustration{
					width: 100%;
					display: inline-block;
					padding: $baseline*2 0 $baseline*4 0; 
				}			
			}
		}
	}
}