$activity-statuses: 'active', 'past';
$activity-types: 'research', 'teaching', 'seminar';
$activity-attributes: 'active', 'past', 'research', 'teaching', 'seminar';

.page-activity-list {
  // CHEKED CHECKBOX ------------------------------------------------------------------------------------ //

  @each $attr in $activity-attributes {
    #filtre-activity_#{$attr}:checked
      ~ .aside-filters
      #filtre-activity_#{$attr}_label {
      font-weight: 600 !important;
      &:before {
        border: 5px solid $text-color;
      }
      @include for-size(desktop) {
        &:hover:before {
          border: 5px solid $text-color-light !important;
        }
      }
    }
  }

  // FILTERS PATTERNS ------------------------------------------------------------------------------------ //

  .filtre-activity_statut:checked ~ #liste #liste-activity {
    .list-item {
      display: none;
    }
  }

  @each $status in $activity-statuses {
    #filtre-activity_#{$status}:checked ~ #liste #liste-activity {
      @each $type in $activity-types {
        .#{$type}-#{$status} {
          display: block;
        }
      }
    }
  }

  /* type only */
  .filtre-activity_type:checked ~ #liste #liste-activity {
    .list-item {
      display: none;
    }
  }

  @each $type in $activity-types {
    #filtre-activity_#{$type}:checked ~ #liste #liste-activity {
      @each $status in $activity-statuses {
        .#{$type}-#{$status} {
          display: block;
        }
      }
    }
  }

  /* statut + type */

  #filtre-activity_active:checked
    ~ #filtre-activity_research:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_teaching:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_teaching:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_teaching:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_past:checked
    ~ #filtre-activity_teaching:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_past:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: block !important;
    }
  }

  #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_teaching:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: block !important;
    }
  }

  #filtre-activity_past:checked
    ~ #filtre-activity_teaching:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: block !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_teaching:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: block !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_teaching:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: none !important;
    }
    .seminar-past {
      display: none !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: none !important;
    }
    .teaching-past {
      display: none !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: block !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_teaching:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: none !important;
    }
    .research-past {
      display: none !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: block !important;
    }
  }

  #filtre-activity_active:checked
    ~ #filtre-activity_past:checked
    ~ #filtre-activity_research:checked
    ~ #filtre-activity_teaching:checked
    ~ #filtre-activity_seminar:checked
    ~ #liste
    #liste-activity {
    .research-active {
      display: block !important;
    }
    .research-past {
      display: block !important;
    }
    .teaching-active {
      display: block !important;
    }
    .teaching-past {
      display: block !important;
    }
    .seminar-active {
      display: block !important;
    }
    .seminar-past {
      display: block !important;
    }
  }
}
