$filters_usages: 'collect' 'curation' 'processing' 'exploration' 'visualization'
  'writing';
$filters_audience: 'developers' 'all';
$filters_status: 'usable' 'experimental' 'archived';
$filters_groups: $filters_usages $filters_audience $filters_status;

.page-tool-list {
  // FILTER GROUPS ------------------------------------------------------------------------------------ //
  .filter-container {
    label.filter-group-label {
      position: absolute;
      width: 100%;
      height: $baseline * 2.5;
      z-index: 99;
      cursor: pointer;

      span {
        display: block;
        width: $baseline * 0.75;
        height: $baseline * 0.75;
        margin-top: $baseline/2;
        position: absolute;
        right: 0;
        top: 6px;
      }
    }

    p.filter-group-title {
      @include font-size-13-uppercase;
      width: 100%;
      padding: $baseline/2 0;
      border-bottom: $border-very-light;
    }

    .filter-group {
      display: none;
    }

    input.filter-group-checkbox:hover {
      & + label.filter-group-label {
        svg {
          transform: rotate(90deg);
          transform-origin: center center;
        }
      }
      & ~ p.filter-group-title {
        color: $text-color;
        font-weight: 600;
      }
    }

    input.filter-group-checkbox:checked {
      & + label.filter-group-label {
        svg {
          transform: rotate(90deg);
          transform-origin: center center;
        }
      }
      & ~ p.filter-group-title {
        color: $text-color;
        font-weight: 600;
        border-bottom: none;
      }
      & ~ .filter-group {
        display: block;
        padding-top: 0;
      }
    }
  }

  // FILTERS CHECKBOXS ------------------------------------------------------------------------------------ //
  @each $filters_group in $filters_groups {
    @each $filter in $filters_group {
      #filtre-tool_#{$filter}:checked
        ~ .aside-filters
        #filtre-tool_#{$filter}_label {
        font-weight: 600 !important;
        &:before {
          border: 5px solid $text-color;
        }
        @include for-size(desktop) {
          &:hover:before {
            border: 5px solid $text-color-light !important;
          }
        }
      }
    }
  }

  // FILTERS PATTERNS ------------------------------------------------------------------------------------ //

  input.input_usages:checked ~ #liste,
  input.input_audience:checked ~ #liste,
  input.input_status:checked ~ #liste {
    #liste-tools .list-item {
      display: none;
    }
  }

  // one type of group filter only
  @each $filters_group in $filters_groups {
    @each $filter in $filters_group {
      input#filtre-tool_#{$filter}:checked ~ #liste #liste-tools {
        .#{$filter} {
          display: block;
        }
      }
    }
  }

  // usages x audience
  input.input_usages:checked ~ input.input_audience:checked ~ #liste {
    #liste-tools .list-item {
      display: none !important;
    }
  }

  @each $filter_usages in $filters_usages {
    @each $filter_audience in $filters_audience {
      #filtre-tool_#{$filter_usages}:checked
        ~ #filtre-tool_#{$filter_audience}:checked
        ~ #liste
        #liste-tools {
        .#{$filter_usages}.#{$filter_audience} {
          display: block !important;
        }
      }
    }
  }

  // audience x status
  input.input_audience:checked ~ input.input_status:checked ~ #liste {
    #liste-tools .list-item {
      display: none !important;
    }
  }

  @each $filter_audience in $filters_audience {
    @each $filter_status in $filters_status {
      #filtre-tool_#{$filter_audience}:checked
        ~ #filtre-tool_#{$filter_status}:checked
        ~ #liste
        #liste-tools {
        .#{$filter_audience}.#{$filter_status} {
          display: block !important;
        }
      }
    }
  }

  // usages x status
  input.input_usages:checked ~ input.input_status:checked ~ #liste {
    #liste-tools .list-item {
      display: none !important;
    }
  }

  @each $filter_usages in $filters_usages {
    @each $filter_status in $filters_status {
      #filtre-tool_#{$filter_usages}:checked
        ~ #filtre-tool_#{$filter_status}:checked
        ~ #liste
        #liste-tools {
        .#{$filter_usages}.#{$filter_status} {
          display: block !important;
        }
      }
    }
  }

  // usages x audience x status
  input.input_usages:checked
    ~ input.input_audience:checked
    ~ input.input_status:checked
    ~ #liste {
    ul#liste-tools li.list-item {
      display: none !important;
    }
  }

  @each $filter_usages in $filters_usages {
    @each $filter_audience in $filters_audience {
      @each $filter_status in $filters_status {
        #filtre-tool_#{$filter_usages}:checked
          ~ #filtre-tool_#{$filter_audience}:checked
          ~ #filtre-tool_#{$filter_status}:checked
          ~ #liste
          #liste-tools {
          .#{$filter_usages}.#{$filter_audience} {
            display: none !important;
          }
          .#{$filter_audience}.#{$filter_status} {
            display: none !important;
          }
          .#{$filter_usages}.#{$filter_status} {
            display: none !important;
          }
          .#{$filter_usages}.#{$filter_audience}.#{$filter_status} {
            display: block !important;
          }
        }
      }
    }
  }
}
