/* desktop */
$unite: 25px;
$height-top-bar: $unite*6;
$margins-desktop: $unite;
$logo-column: $unite*10;


/*  phone  */
$unite-phone: 10px;
$height-top-bar-phone: $unite-phone*7;
$margins-phone: $unite-phone*1.5;
$topbar-phone: $unite-phone*6;
$mobile-container-width : calc( 100vw - #{$margins-phone*3});


/*  bordures  */
$border: 0.5px solid ;
$border-light: 0.5px solid #9e9d9d;
$border-bold: 3px double;
$border-redlab: 0.5px solid $redlab;
$border-redlab-light: 0.5px solid $redlab-light;


/*  unicode catégories */
$actualites: "⁙ ";
$productions: "☵ ";
$activites: "⋇ ";


/*  autre */
::selection, ::-moz-selection{
    background: $redlab;
    color: $background-site;
} 



