/////////////////////
////////  Desktop 
/////////////////////

@include for-size(phone) {
		
	main{
		margin-left: $margins-phone;
		margin-right: $margins-phone;
		margin-bottom: 40vh;

		margin: $height-top-bar-phone $margins-phone;
	
		aside{
			padding-top: 100px;
		}
	
		.titre-sticky{
			@include font-size-20-phone;
			position: relative;
			width: 100%;
			height: 101px;
			background-color: white;
			z-index: 5;
			padding-top: 50px;
			font-weight: bold;
			border-bottom: $border;

			span{
				display: none;
			}
		}

		#biographie{


			h2{
				@include font-size-27();
				max-width: 1100px;
			}
	
			p{
				@include font-size-20-phone();
			}
	
			h3{
				margin-top: $baseline*4;
				@include article_h3();
			}

			div{
				@include flex-order(2);
				min-width: 50%;
				padding-bottom: $baseline*2;
				text-align: center; // Apax, Bizarre c'est le seul text align center de tout le site..

				& *{
					width: 100%;
				}

				h1{
					@include font-size-40();
					padding-bottom: $baseline 0 $baseline*3 0
				}
				h2{
					@include font-size-27-phone();
				}


				[data-type="domaine"],[data-type="statut"]{
					@include font-size-13();
					width: inherit;
					display: inline;

					padding: 0 $unite 0 0;
				}		

				[data-type="activite"]{
					@include font-size-20();
					margin: $unite 0;
					font-style:italic;

					&:before{
						content: '“';
					}
					&:after{
						content: '”';
					}
				}
			}
	
			figure{

				margin: $baseline*2 0;
				width: 100%;
				text-align: center;

				img{

					max-width: 150px;
					box-shadow: 0 0 0 1px #888;
					margin-left: 2px;
					border-radius: 75px;
					filter: grayscale(1);
				}
				figcaption{
					margin-top: $baseline*1;
				}
			}

			.biographie-contenu{
				width: 100%;
			}

		}/* #article-contenu */

		
	} /* main */

	#elements-associes > h1, #fichiers-associes > h1{
		padding-top: $baseline*3;
		margin-bottom: $baseline*2.5;
		@include font-size-27();
	}


}
