.page-production, 
.page-news, 
.page-activity{

	
	
	
	#article-contenu{

		// flex permet de mettre le choix de la langue en dernier (alors qu'il doit être en premier dans l'HTML pour pouvoir marcher)
		@include flex();
		@include flex-direction(column);

		
		hgroup{
			h1:first-letter{ text-transform: uppercase;}	
		}

		.details{
			width: 100%;
			border-top: $border-very-light;
			border-bottom:$border-very-light;
			color: $text-color-light;

			.production-ref{ border-top: $border-very-light; }
			.type-news{ text-transform: uppercase; }

			[data-icon]{ padding-right: $unite/2;}

			.date-news-block{ 
				width: 100%;
				border-bottom: $border-very-light;
				p{ display: inline-block; }
				.date-news{ margin-right: $unite; }
				.hours-news{ 
					white-space: nowrap; 
					padding-left: $unite;
					border-left: $border-very-light;
				};
				.hours-news::before{ content:$time; }		
				.endDate, .startDate{ white-space: nowrap;}
			}	

		}

		

		.details{ max-width: 900px; }
		
		
		.article-contenu{ 

			@include flex-order(1); 
				max-width: 900px;
		
			
			a{
				@include linktext();
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;

				}
			}


			li{ 
				left: $unite;
				&:before{ content: "⧆"; left: -5px;}
			}

		}

		


		
	}
}


