@media screen and (max-width: 800px) {

	.page-production, 
	.page-news, 
	.page-activity{

		main{

			margin-top: $height-top-bar-phone;

			#article-contenu{
				width: 100%;
				padding: 0 $margins-phone;
			}

			#article-contenu{
				// Regles typo (communes à toutes les pges de contenu) transférées dans fragments/content-typo
			}


			#img-article{

				left: 0;
				top: 0;
				position: relative;
				z-index: 9;

				.activator{
					display: none;       
				}	

				.container{
					width: $logo-column - $margins-desktop*2;
					width: 100vw;
					overflow: hidden;
				}

				pre{ 
			        font-size: calc(((100vw - #{$margins-phone*2})/240)*1.89); // Should change with width
			        line-height: 95%;
				}
			}

			.details{
				margin: $baseline*1 0 $baseline*2.5 0;
				padding: $baseline/2 0;
				border-top: $border;
				border-bottom:$border;				
				@include font-size-13-phone();
				p, li{ 
					&:not(:last-of-type){padding: 0 0 $baseline/2 0;}
					display: block;
				}
				//p:not(:first-of-type){ border-bottom: $border-very-light; }

				.type-objet{
					border-bottom: $border-very-light;
					margin-bottom: $baseline/2;
				}
				.date-news, .hours-news, .date{ 
					display: inline-block;
				}
				.date-news + .hours-news{ 
					padding-left: $unite/2; 
					margin-left: $unite/2; 

					&:after{
						content: "";
						width: 1px;
						height: calc(100% - #{$baseline});
						position: absolute;
						top: $baseline/2;								
						left: 0;
						border-left: $border-very-light;
					}
				}

				p + #attachments{ margin-top: $baseline/2;} //compenser l'absence de marge

				#attachments{
					//width: 100%; 
					border-top: $border-very-light;
					display: block;
					padding-top: $baseline/2;
					li{ 
						display: inline-block;
						padding: 0;
						&:not(:last-of-type){
							padding-right: $unite/2; 
							margin-right: $unite/2; 
							border-right: $border-very-light;
						}
					}
				}

				.production-ref{
					padding: $baseline/2 0;
				}
			}
			
		
			.toggle-lang{ @include font-size-13-phone(); }
		}
	}

}


/* tablet */
@media screen and (min-width: 700px) and (max-width: 800px) {

	.page-production, 
	.page-news, 
	.page-activity{
		main{ margin-top: 0;}
		#img-article{
			position: relative;
			left: $margins-desktop * -1!important;
			max-height: 280px;
			width: 100vw;
			overflow: hidden;
		}
		#article-contenu{
			hgroup{ margin-top: $baseline*2;}
			hgroup h3{ margin-right: 0; }
		}
		
	}
}