/////////////////////
//////// Phone 
/////////////////////


@include for-size(phone) {

	.page-production, 
	.page-news, 
	.page-activity{

		main{

			margin: $height-top-bar-phone 0;

			#article-contenu, #all-aside{
				width: 100%;
				padding: 0 $margins-phone;
			}

			#article-contenu{
				margin-top: $baseline*2;

				// Regles typo (communes à toutes les pges de contenu) transférées dans common/pages/* 
			}


			#img-article{

				left: 0;
				top: 0;
				position: relative;
				z-index: 9;

				.activator{
					display: none;       
				}	

				.container{
					width: $logo-column - $margins-desktop*2;
					width: 100vw;
					overflow: hidden;
				}

				pre{ 
			        font-size: calc(((100vw - #{$margins-phone*2})/240)*1.89); // Should change with width
			        line-height: 95%;
				}
			}

			.details{
				border-top: $border-very-light;
				border-bottom:$border-very-light;				
				@include font-size-13-phone();
				p, li{ 
					padding: $baseline/2 0;
					display: inline-block;
				}
				//p:not(:first-of-type){ border-bottom: $border-very-light; }

				.date-news, .hours-news, .date{ 
					display: inline-block;
				}
				.date-news + .hours-news{ 
					padding-left: $unite/2; 
					margin-left: $unite/2; 

					&:after{
						content: "";
						width: 1px;
						height: calc(100% - #{$baseline});
						position: absolute;
						top: $baseline/2;								
						left: 0;
						border-left: $border-very-light;
					}
				}

				.fichiers-associes, #attachments { 
					width: 100%; 
					border-top: $border-very-light;
					li:first-of-type { 
						border-left: none; 
						padding-left: 0;
						margin-left: 0;
					}
				}

			}
			
		
			.toggle-lang{ @include font-size-13-phone(); }
		}
	}

}
