@media screen and (min-width: 900px) {

	.page-production, 
	.page-news, 
	.page-activity{

			hgroup{ 
				max-width: $max-width-article; 
			}
			
			#img-article{

				
				left: 0;
				top: 0;
				top: $height-sticky;
				position: fixed;
				z-index: 99;

				.activator{
					display: block;
					position: absolute;
					width: $logo-column-medium;
					height: 100%;
					z-index: 9;

					&:hover{
						
						& + .container{
							width: 100vw;
						}
					}        
				}	

				.container{
					width: $logo-column - $margins-desktop*2;
					overflow: hidden;
					transition: width 0.25s ease-in-out;
				}

				pre{ 
			        font-size: calc(((100vw - #{$unite*2})/240)*1.89); // Should change with width
			        line-height: 95%;
				}
			}
			
			#article-contenu{

				hgroup{			
					padding-top: $baseline*3;
					padding-bottom: $baseline*2;
				}
				
				.details {

					padding-top: $baseline*1;
					border-top: $border-very-light;
					border-bottom:$border-very-light;

					p, li{ 
						@include font-size-16(); 
						display: inline-block;
						margin-bottom: $baseline;
						
					}

					.production-ref{
						width: 100%;
						margin-top: $baseline*1;
						padding-top: $baseline*1;
					}

					.type-objet, .date-news, .hours-news, .date{ 
						margin-right: $unite;
						padding-right: $unite;
						border-right: $border-very-light;
					}

					.fichiers-associes, #attachments{
						display: inline-block;
						li:not(:last-of-type){ 
							border-right: $border-very-light;
							padding-right: $unite;
							margin-right: $unite;
						}
					}
	
					& > *:last-child{ border-right: none !important;}

					.place{
						border-top: $border-very-light;
						width: 100%;
						padding-top: $baseline*1;
						&:before{
							content: "\29BF ";
							font-family: "Symbol", sans-serif;
							padding-right: 5px;
						}
					}
	
				}
		
				.article-contenu{
					p:first-of-type{ margin-top: $baseline*3; }			
					// Regles typo (communes à toutes les pges de contenu) transférées dans common/pages/* 
				}
			}/* #article-contenu */

		
	}
}


// spécifique page séminaire
#all-aside.in-seminar aside:first-of-type::before{
    display: none;
}
#all-aside.in-seminar aside:first-of-type {
    padding-top: 0;
}
#all-aside.in-seminar aside:first-of-type .liste_seminaire{
    margin-bottom: 60px;
    min-height: unset;
}
#all-aside.in-seminar aside:last-of-type{
    padding-top: 60px;
}
// fin spécifique page séminaire


//////////////////
/// image sur toute la hauteur (même si l'image est coupée)
////////////////
/*
@media screen and (min-width: 800px) and (max-width: 899px) and (max-aspect-ratio:1/1) { 
	#img-article{
		pre{ 
	        font-size: calc(((100vw - #{$unite*2})/240)*4.5) !important; // Should change with width
			left: -50%;
			transform: translateX(50%);	        
		}
	}
}*/

@media screen and (min-width: 900px) and (max-aspect-ratio:1/1) { 
	#img-article{
		pre{ 
	        font-size: calc(((100vw - #{$unite*2})/240)*4) !important; // Should change with width
			left: -50%;
			transform: translateX(50%);	        
		}
	}
}

@media screen and (min-aspect-ratio:1/1) and (max-aspect-ratio:9/6) {
	#img-article{
		pre{ 
	        font-size: calc(((100vw - #{$unite*2})/240)*2.75) !important; // Should change with width
		}
	}
}

