/////////////////////
//////// Phone 
/////////////////////


@include for-size(phone) {

	.page-production, 
	.page-news, 
	.page-activity{

		main{
			margin-left: $margins-phone;
			margin-right: $margins-phone;
			margin-bottom: 40vh;

			margin: $height-top-bar-phone $margins-phone;

			
			.titre-sticky{
				display: none;
			}


			hgroup {
				margin: $baseline*2 0;
				h1{
					@include font-size-20-phone();
					font-weight: 600;
					margin-bottom: $baseline;
				}

				h2{
					@include font-size-20-phone();
					margin-bottom: $baseline*1.5;;
				}				
			

			}

			.details{
				@include font-size-16-phone();
				.date{ border-top: $border;}
				p{ padding: $baseline/2 0;}
			}
			
			.article-contenu{
				margin-top: $baseline*2;

				// Regles typo (communes à toutes les pges de contenu) transférées dans common/pages/* 

				figure{

					margin-top: $baseline*2;
					margin-bottom: $baseline*2;
					max-width: 600px;
					text-align: center;

					figcaption{
						@include font-size-13;
						color: $text-color-light;
						text-align: left;
					}

					img{
						width: 100%;
						box-shadow: 0 0 0 1px #888;
						margin-left: 2px;
					}
					figcaption{
						margin-top: $baseline*1;
					}
				}
			}

			.toggle-lang{ @include font-size-13-phone(); }
		}
	}

}
