/////////////////////
////////  Desktop 
/////////////////////


@include for-size(desktop) {

	.page-production, 
	.page-news, 
	.page-activity{

		#topbar{
			position: absolute!important; 
			top: calc(#{$hack-sticky}*-1);
		}

		main{
			margin-left: $logo-column;
			margin-bottom: 40vh;	
			margin-top: $hack-sticky; /* set sticky title */

			#article-contenu{

				.details {

					padding: $baseline*1 0;

					p{ 
						@include font-size-16(); 
						display: inline-block; 
					}

					.production-ref{
						width: 100%;
						margin-top: $baseline*1;
						padding-top: $baseline*1;
					}

					.date{ 
						margin-left: $unite;
						padding-left: $unite;
						border-left: $border-very-light;
					}

					.date-news-block{
						margin-bottom: $baseline*1;
						padding-bottom: $baseline*1;
					}

					


				}
		
				.article-contenu{
										
					// Regles typo (communes à toutes les pges de contenu) transférées dans common/pages/* 

					//////////////////////////
					///        Grid 	/////
					/////////////////////////

					/* if support of grid */
					@supports(display: flex) {
			            @include flex;
			            @include flex-wrap(wrap);
			            @include flex-direction(column);


			            *:not(.duo) { 	// Tous les éléments s'etire sur toute la largeur. Sauf les Images .Duo
  							flex: 0 0 100%; /* Let it fill the entire space horizontally */
  			                max-width: 100%;
			            }
			         	figure, p + img, img + img{
							//margin: $unite*3 0 $unite*2 0; // Si grid, diminnue les margins car Grid-gap s'ajoute à ces marges
						}
						h3{
							//margin-top: $baseline*2; // Si grid, diminnue les margins car Grid-gap s'ajoute à ces marges
						}
					}

					/* End Support */

					//////////////////////////
					///        Image 	/////
					/////////////////////////

					figure{

						text-align: left;

	  					figcaption{
	  						@include font-size-13;
	  						color: $text-color-light;
	  					}

						&.duo{
							flex: 1;
						}

						&.vertical{

						}

						&.horizontal{
						}

						img{
							height: auto;
							max-height: 80vh;
							width: auto;
							max-width: 100%;
							box-shadow: 0 0 0 1px #888;
						}
						figcaption{
							margin-top: $baseline*1;
						}
					}
				}
			}/* #article-contenu */
		} /* main */

		footer{
			margin-left: $logo-column;
			width: calc( 100% - /*#{$margins-desktop*2} -*/ #{$logo-column});
			margin-bottom: 2px;
		}
	}
}



@media screen and (min-width: 700px) {

 	#article-contenu {
 		hgroup{
			padding: $baseline*3 0;
			h1{ @include font-size-40(); }
			h2, h3{ 
				@include font-size-27(); 
				margin-top: $baseline*1.5;
				margin-right: 80px;
			}
		}
		.article-contenu{ margin-top: $baseline*3 }
		
	}

}
@media screen and (min-width: 1000px) { }

@media screen and (min-width: 1080px) {

 	#article-contenu {
 		hgroup{
			padding: $baseline*4 0;
			h1{ @include font-size-60(); }
			h2, h3{ 
				@include font-size-27();
				margin-top: $baseline*1.5;
			}
		}
		.article-contenu{ margin-top: $baseline*4 }
	}	
}

@media screen and (min-width: 1200px) { }

@media screen and (min-width: 1600px) { }

@media screen and (min-width: 1800px) { }
