//$hack-sticky: 54px;

/////////////////////
////////  Desktop 
/////////////////////

#img-article{

	
	left: 0;
	top: 0;
	top: $height-sticky;
	position: fixed;

	.activator{
		display: block;
		position: absolute;
		width: $logo-column - $margins-desktop*2;
		height: 100%;
		z-index: 9;

		&:hover{
			
			& + .container{
				width: 100vw;
			}
		}        
	}	

	.container{
		width: $logo-column - $margins-desktop*2;
		overflow: hidden;
		transition: width 0.25s ease-in-out;
	}

	pre{ 
		color: $redlab;
        font-weight: bold;
        font-size: calc(((100vw - #{$unite*2})/240)*1.89); // Should change with width
        line-height: 95%;
        overflow: hidden;
    
	}
}





@media screen and (min-width: 700px) and (max-width: 1080px){
    .page-production, 
	.page-news, 
	.page-activity{
		main{ margin-left: $logo-column-medium;}
	}

}

@media screen and (min-width: 1080px){
    .page-production, 
	.page-news, 
	.page-activity{
		main{ margin-left: $logo-column;}
	}
}


@include for-size(desktop) {

	.page-production, 
	.page-news, 
	.page-activity{

		



		main{
			margin-bottom: 40vh;	
			margin-top: $height-top-bar; /* set sticky title */

			hgroup{ 
				// border-top: $border-very-light;
				// max-width: 1300px; 
				max-width: $max-width-article; 
			}

			#article-contenu{
				
				.details {

					padding: $baseline*1 0;

					p{ 
						@include font-size-16(); 
						display: inline-block; 
						
					}

					.production-ref{
						width: 100%;
						margin-top: $baseline*1;
						padding-top: $baseline*1;
					}

					.date{ 
						margin-left: $unite;
						padding-left: $unite;
						border-left: $border-very-light;
					}

					.date-news-block{
						margin-bottom: $baseline*1;
						padding-bottom: $baseline*1;
					}

					


				}
		
				.article-contenu{
					p:first-of-type{ margin-top: $baseline*3; }			
					// Regles typo (communes à toutes les pges de contenu) transférées dans common/pages/* 

					//////////////////////////
					///        Grid 	/////
					/////////////////////////

					/* if support of grid */
					@supports(display: flex) {
			            @include flex;
			            @include flex-wrap(wrap);
			            @include flex-direction(column);


			            *:not(.duo) { 	// Tous les éléments s'etire sur toute la largeur. Sauf les Images .Duo
  							flex: 0 0 100%; /* Let it fill the entire space horizontally */
  			                max-width: 100%;
			            }
			         	figure, p + img, img + img{
							//margin: $unite*3 0 $unite*2 0; // Si grid, diminnue les margins car Grid-gap s'ajoute à ces marges
						}
						h3{
							//margin-top: $baseline*2; // Si grid, diminnue les margins car Grid-gap s'ajoute à ces marges
						}
					}

					/* End Support */

					//////////////////////////
					///        Image 	/////
					/////////////////////////

					figure{

						text-align: left;

	  					figcaption{
	  						@include font-size-13;
	  						color: $text-color-light;
	  					}

						&.duo{
							flex: 1;
						}

						&.vertical{

						}

						&.horizontal{
						}

						img{
							height: auto;
							max-height: 80vh;
							width: auto;
							max-width: 100%;
							box-shadow: 0 0 0 1px #888;
						}
						figcaption{
							margin-top: $baseline*1;
						}
					}
				}
			}/* #article-contenu */
		} /* main */

		
	}
}



@media screen and (min-width: 700px) {

 	#article-contenu {
 		hgroup{
			
			padding-top: $baseline*3;
			padding-bottom: $baseline*2;
			h1{ @include font-size-40(); }
			h2, h3{ 
				@include font-size-27(); 
				margin-top: $baseline*1.5;
				margin-right: 80px;
			}
		}
		// .article-contenu div{ margin-top: $baseline*3 }
		
	}

}
@media screen and (min-width: 1000px) { }

@media screen and (min-width: 1080px) {

 	#article-contenu {
 		hgroup{
			// padding: $baseline*2 0;
			h1{ @include font-size-60(); }
			h2, h3{ 
				@include font-size-27();
				margin-top: $baseline*1.5;
			}
		}
		// .article-contenu div{ margin-top: $baseline*4 }
	}	
}

@media screen and (min-width: 1200px) { }

@media screen and (min-width: 1600px) { }

@media screen and (min-width: 1800px) { }
