html{
    //background: #f7323fe6 !important;  
    //mix-blend-mode: multiply;
}

:selection{

}

.container{

    p{
        @include typo-labeur();
    }

    #enavant{

        article{
            border-bottom: 1px solid grey;
            padding: 1rem 0 2rem 0;
            margin: 0 0 3rem 0;

            .img{
                border: 0px solid grey;

                //max-width: 30.5vw;
                max-width: calc(58vw/3);
                max-height: 25vh;

                margin: 1rem 0 3rem 0;
                overflow: hidden;


                span{
                    display: block;
                    font-size: 30px;
                    overflow: hidden;
                }
            }

            h3{
                font-size: $font-size*1.2;
                line-height: $baseline*1.2;
                font-weight: 500;
                letter-spacing: -1px;

            }

            h4{
                font-size: $font-size*4;
                line-height: $baseline*3.5;
                font-weight: 100;
                letter-spacing: -1px;

                padding: 1rem 0 1rem 0;

            }

            h5{
                font-size: $font-size*2;
                line-height: $baseline*1.5;
                font-weight: 100;
                letter-spacing: -1px;

                padding: 2rem 0 $baseline*1.5 0;
            }

        }
    }

    #flux{

        h3{
                font-size: $font-size*4;
                line-height: $baseline*3.5;
                font-weight: 100;
                letter-spacing: -1px;

                padding: 1rem 0 1rem 0;
        }

        .date{
            font-style: italic;
            font-weight: 500;

        }

        .name{
            font-weight: 500;
        }
    }
}


#topbar #topbar-content #logo-medialab {
    width: 25%;
    max-width: 400px;
    vertical-align: bottom;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    position: absolute;
    margin: 0 0 0 .5rem;

}


.i0{
    z-index: 999999999;

    input#i0_input{

        display: none !important;

        &:checked + label{
            height:0;
            transition: 0.5s ease-in-out;
            padding-top:0;


            #logo-medialab-intro{
                opacity: 0;
                transition-duration: 0s;
                transition-delay: 0.25s;
            }
        }
    }
 

    label{
        margin: 0 2rem;
        padding: 10vh 33% 0 0;
        overflow: hidden;
        cursor: pointer;

        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

        position: fixed;
        background-color: white;

        font-size: $font-size*5;
        line-height: $baseline*4.5;
        font-weight: 300;

    }

    #logo-medialab-intro{
        max-width: 70px;
        width: calc( 20vw - 5rem );
        position: absolute;
        bottom: 2rem;
        opacity: .5;
        transform: translateY(20%);
    }
}

.separate{

    grid-column: 1/7;
    display-row: 3/3;

    margin: 4rem 0;
    overflow: hidden;

    .in{

        div{
            font-size: 5vw;
            line-height: calc(5vw + 5px);
        }
    }

}