/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {
 
	.page-people{
			 
			 #biographie{
				#container-biographie, #highlights{ max-width: $max-width-article; }
				

				header{
					@include flex-order(1);
					margin-bottom: $baseline*2;
					padding-top: $baseline*2;

					figure, hgroup{
						display: inline-block;
						vertical-align: top;
					}

					figure img{ width: 100%; }
					

					hgroup{ 
						padding-left: $unite;
						margin-bottom: $baseline;
					}

					
					.status{ max-width: 400px; }
					
					.contact{
						li{
							&:not(:last-of-type):after{
								content: "";
								width: 1px;
								height: calc(100% - #{$baseline});
								position: absolute;
								top: $baseline/2;								
								right: 0;
								border-right: $border-very-light;
							}
						}
					}					
				}
			}	
	}
}


// Les comportement Typographiques commun à toutes les pages sont definit à assets/scss/fragments/pages/

@media screen and (min-width: 700px) { 

	.page-people #biographie {
		header{		
			figure{ width: 200px; }
			hgroup{ 
				width: calc(100% - 200px);  
				.status{ @include font-size-16(); }
			}			
		}	
		.biographie-content p, .biographie-content li{ @include font-size-16();}
	}
}


@media screen and (min-width: 900px) {

	.page-people #biographie {
		header{
			figure{ width: 300px; }
			hgroup{ 
				width: calc(100% - 300px);  
				.status{ @include font-size-20(); }
			}
		}
		.biographie-content p, .biographie-content li{ @include font-size-20();}
	}
}




/* mettre les hightlights sur le côté pour les très grand écran */

@media screen and (min-width: 1800px){

	.page-people #biographie{
		display: flex;

		#container-biographie, #highlights{
			display: inline-block; 
			vertical-align: top;
			z-index: 0;
		}

		#highlights{
			width: calc(100% - #{$max-width-article} - #{$unite*2});
			height: auto;
			margin-left: $unite*2;
			margin-top: $baseline*1.5;
			padding: 0;
			& > h1 {
				@include font-size-27();
			}
		}

		#highlights-list-production{
			.bandeau .authors{
				display: block;
				width: 100%;
				border-left: none!important;
				padding-left: 0!important;
				margin-left: 0!important;
				border-top: $border-very-light;
				margin-top: $baseline/2;
				padding-top: $baseline/2;
    			white-space: normal!important;
			}
		
		}
	}
}


