.page-people{

	#nav-inside-article #img-article {
	    visibility: hidden !important;
	}

	.titre-sticky{

		.retour{
			padding-right: $unite/2;
		}

		.personne{
			font-weight: 100;
			&:before{
				content: "/";
				padding-left: $unite/2;
				padding-right: $unite/2;
			}
		} 
		span:hover{ 
			color: $text-color-light;
			&:before{ color: $text-color;}
		}
	}

	#biographie{
		
		figure{
			max-height: auto;
			overflow: hidden;
	
			img{
				width: 100%;
				filter: grayscale(1);
			}
			figcaption{
				margin-top: $baseline*1;
			}
		}
	
		header{
	
		
		
			.status{
				margin-top: $baseline/2;
				font-style: italic;					
				&::before{ content: "“"; }
				&::after{ content: "”"; }

			}


		


			.bandeau{ 
				border-top: $border-very-light;
				border-bottom: $border-very-light;
				margin-top: $baseline;
				padding-top: $baseline/2;
				padding-bottom: $baseline/2;
				
				p{ 
					display: inline-block;
					color: $text-color-light;
					@include font-size-13(); 
				}
				[data-type="role"]{
					color: $redlab;
				}
				[data-type="domaine"]{ 
					margin-right: $unite/2; 
					display: inline-block;
					padding-left: $unite/2;
					margin-left: $unite/2;
					border-left: $border-very-light;
				}
				[data-type="membership"]{ 
					display: inline-block;
					border-left: $border-very-light;
					padding-left: $unite/2; 
				}
			}
		
			.contact {

				border-bottom: $border-very-light;
				padding-top: $baseline/2;
				padding-bottom: $baseline/2;
			
				li{ 
					@include font-size-13();
					color: $text-color-light;
					border-right: $border-very-light;
					padding-right: $unite/2;
					margin-right:  $unite/2;
					display: inline-block;
		
		
					&:last-of-type{ border-right: none; }
		
					
				}
			}
		}

		.biographie-contenu{
			a{
				@include linktext();
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;

				}
			}
		}

	}
}