/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {
 
	.page-people{
			 
		#biographie{
			
			#container-biographie, #highlights{ max-width: $max-width-article; }

			header{
				@include flex-order(1);
				margin-bottom: $baseline*2;
				padding-top: $baseline*2;

				figure, hgroup{
					display: inline-block;
					vertical-align: top;
				}

				figure img{ width: 100%; }
				

				hgroup{ 
					padding-left: $unite;
					margin-bottom: $baseline;
				}

				.bandeau{ 

					margin-top: $baseline;
					padding-top: $baseline/2;
					padding-bottom: $baseline/2;
					
					p{ display: inline-block; }

					[data-type="domaine"]{ 
						margin-right: $unite/2; 
						display: inline-block;
						padding-left: $unite/2;
						margin-left: $unite/2;
						border-left: $border-very-light;
					}
					[data-type="membership"]{ 
						display: inline-block;
						border-left: $border-very-light;
						padding-left: $unite/2; 
						margin-left: $unite/2; 
					}
				}
			
				.contact {

					li{ 
						padding: $baseline/2 $unite/2 $baseline/2 0;
						margin-right:  $unite/2;
						display: inline-block;

						&:not(:last-of-type):after{
							content: "";
							width: 1px;
							height: calc(100% - #{$baseline});
							position: absolute;
							top: $baseline/2;								
							right: 0;
							border-right: $border-very-light;
						}							
					}
				}
				
				.status{ max-width: 400px; }
			}					
		}		
	}
}


// Les comportement Typographiques commun à toutes les pages sont definit à assets/scss/fragments/pages/

@media screen and (min-width: 700px) { 

	.page-people #biographie {
		header{		
			figure{ width: 200px; }
			hgroup{ 
				width: calc(100% - 200px);  
				.status{ @include font-size-16(); }
			}			
		}	
		.biographie-content p, .biographie-content li{ @include font-size-16();}
	}
}


@media screen and (min-width: 900px) {

	.page-people #biographie {
		header{
			figure{ width: 300px; }
			hgroup{ 
				width: calc(100% - 300px);  
				.status{ @include font-size-20(); }
			}
		}
		.biographie-content p, .biographie-content li{ @include font-size-20();}
	}
}




/* mettre les hightlights sur le côté pour les très grand écran */

@media screen and (min-width: 1620px){

	.page-people #biographie{
		display: flex;

		// #container-biographie{ width: 800px!important;}
		#highlights{ 
			width: 500px!important;
			margin-left: $unite!important;
			&> h1{ 
				@include font-size-20; 
				margin-top: $baseline*2;
				margin-bottom: $baseline;
			}
		}

		#container-biographie, #highlights{
			display: inline-block; 
			vertical-align: top;
			z-index: 0;

		}
		#highlights{
			//margin-left: $unite*2;
			padding: $baseline*2 0 $baseline*2 $margins-desktop*1.5;
		}
	}
}


