/////////////////////
////////  Desktop 
/////////////////////



@include for-size(desktop) {
 
	.page-people{

		#topbar{
			position: absolute!important; 
			top: calc(#{$hack-sticky}*-1);
		}
		main{
			margin-left: $logo-column;
			margin-bottom: 40vh;
			transition: .25s ease-in-out;
			margin-top: $hack-sticky; /* set sticky title */
			
			 .cache{
			 	position: absolute;
				left: -1px;
				font-size: 1vw;
				color: white;
			 }
			
			 #biographie{
				
				max-width: 900px;

				header{
					@include flex-order(1);
					margin-bottom: $baseline*2;
					// border-top: $border-very-light;
					padding-top: $baseline*2;

					figure, hgroup{
						display: inline-block;
						vertical-align: top;
					}

					figure img{ width: 100%; }
					

					hgroup{ 
											
						padding-left: $unite;
						margin-bottom: $baseline;
					}

					
					.status{ max-width: 400px; }
			
					
				}
			}	
		} /* end main */


		
	}
}



@media screen and (min-width: 700px) {

	.page-people #biographie {
		header{		
			figure{ width: 200px; }
			hgroup{ 
				width: calc(100% - 200px);  
				.status{ @include font-size-16(); }
			}			
			h1{ @include font-size-40(); }
			h2{ @include font-size-20(); }
		}	
		.biographie-contenu p, .biographie-contenu li{ @include font-size-16();}
	}

}


@media screen and (min-width: 900px) {

	.page-people #biographie {
		header{
			figure{ width: 300px; }
			hgroup{ 
				width: calc(100% - 300px);  
				.status{ @include font-size-20(); }
			}
		}
		.biographie-contenu p, .biographie-contenu li{ @include font-size-20();}
	}

}


@media screen and (min-width: 1100px) {

	.page-people #biographie{
		header{
			h1{ @include font-size-60(); }
			h2{ @include font-size-27(); }
		}		
	}

}




