/////////////////////
////////  Phone 
/////////////////////

@include for-size(phone) {

	.page-people{

			#biographie{

				figure{ 
					margin-bottom: $baseline; 
					width: 100%;
					img{ width: 100%; }
				}

				header{
					@include flex-order(1);
					min-width: 50%;
					padding-top: $baseline*1.5;
					margin-bottom: $baseline*2.5;

					.status{ @include font-size-20(); }
					
					.contact{
						li{
							&:not(:last-of-type):after{
								content: "";
								width: 1px;
								height: calc(100% - #{$baseline});
								position: absolute;
								top: $baseline/2;								
								right: 0;
								border-right: $border-very-light;
							}
						}
					}
				}
		
				.biographie-content{
					width: 100%;
				}
			}		
			#highlight{ margin-top: $baseline*8; }
	}
}

