.page-people{

	#nav-inside-article #img-article {
	    visibility: hidden !important;
	}


	#biographie{

		/* HEADER --------------------------------------------------------------- 
		 ------------------------------------------------------------------------ */
		
		figure{
			max-height: auto;
			overflow: hidden;
	
			img{
				width: 100%;
				filter: grayscale(1);
			}
			figcaption{
				margin-top: $baseline*1;
			}
		}
	
		header{
	
			.status{
				margin-top: $baseline/2;
				font-style: italic;					
				&::before{ content: "“"; }
				&::after{ content: "”"; }
			}

			.bandeau{ 
				border-top: $border-very-light;
				border-bottom: $border-very-light;
				margin-top: $baseline;
				padding-top: $baseline/2;
				padding-bottom: $baseline/2;
				
				p{ 
					display: inline-block;
					color: $text-color-light;
					@include font-size-16(); 
				}
				[data-type="role"]{
					color: $redlab;
				}
				[data-type="domaine"]{ 
					margin-right: $unite/2; 
					display: inline-block;
					padding-left: $unite/2;
					margin-left: $unite/2;
					border-left: $border-very-light;
				}
				[data-type="membership"]{ 
					display: inline-block;
					border-left: $border-very-light;
					padding-left: $unite/2; 
				}
			}
		
			.contact {

				border-bottom: $border-very-light;

			
				li{ 
					@include font-size-16();
					color: $text-color-light;
					padding: $baseline/2 $unite/2 $baseline/2 0;
					margin-right:  $unite/2;
					display: inline-block;
				}
			}
		}


		/* CONTENU --------------------------------------------------------------- 
		 ------------------------------------------------------------------------ */

		.biographie-contenu{
			a{
				@include linktext();
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;
				}
			}
		}

	}

	/* HIGHLIGHT --------------------------------------------------------------- 
		------------------------------------------------------------------------ */

	#highlights{
		width: 100%;
		overflow: hidden;
		position: relative;
		margin-top: $baseline*6;

		> h1{
			margin-bottom: $baseline*2;
			@include font-size-40();
		}

		ul:first-of-type { 
				border-top: $border; 
				padding-top: 1px;
		}
	}



}