.page-people{



	#biographie{

		/* HEADER --------------------------------------------------------------- 
		 ------------------------------------------------------------------------ */
		
		figure{
			max-height: auto;
			overflow: hidden;
	
			img{
				width: 100%;
				filter: grayscale(1);
			}
			figcaption{
				margin-top: $baseline*1;
			}

			&.noImg div{
				transform: translateX(-50%);
				left: 50%;
				opacity: .3;
				position: absolute;
			}			
		}
	
		header{
	
			.status{
				margin-top: $baseline/2;
				font-style: italic;					
			
				&.en:not(:empty){
					&::before{ content: "“"; }
					&::after{ content: "”"; }
				}

				&.fr:not(:empty){
					&::before{ content: "« "; }
					&::after{ content: " »"; }
				}
			}

			.bandeau{ 
				border-top: $border-very-light;
				border-bottom: $border-very-light;
				
				p{  color: $text-color-light; @include font-size-16(); }
				[data-type="role"]{ color: $redlab; }
			}
		
			.contact {

				border-bottom: $border-very-light;

				li{ 
					@include font-size-16();
					color: $text-color-light;

					a{ @include linktext(); }

					&[data-type="Mail"] p{ font-family: $font-symbol}
				}
			}
		}


		/* CONTENU --------------------------------------------------------------- 
		 ------------------------------------------------------------------------ */

		.biographie-content{
			a{
				@include linktext();
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;
				}
			}
		}

	}

	/* HIGHLIGHT --------------------------------------------------------------- 
		------------------------------------------------------------------------ */

	#highlights{
		width: 100%;
		overflow: hidden;
		position: relative;

		ul:first-of-type { 
				border-top: $border; 
				padding-top: 1px;
		}
	}
}