/////////////////////
////////  Phone 
/////////////////////

@include for-size(phone) {

	.page-people{
		
		main{
			margin: $height-top-bar-phone $margins-phone;
		
			.titre-sticky{
				display: none;
				@include font-size-20-phone;
				position: relative;
				width: 100%;
				height: 101px;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				border-bottom: $border;

				span.personne{ display: none; }
			}

			 /*.cache{
			 	display: none;
			 }*/


			#biographie{

				figure{ 
					margin-bottom: $baseline; 
					width: 100%;
					img{ width: 100%; }
				}

				header{
					@include flex-order(1);
					min-width: 50%;
					padding-top: $baseline*1.5;
					margin-bottom: $baseline*2.5;

					.status{ @include font-size-20(); }
					
					.contact{
						li{
							&:not(:last-of-type):after{
								content: "";
								width: 1px;
								height: calc(100% - #{$baseline});
								position: absolute;
								top: $baseline/2;								
								right: 0;
								border-right: $border-very-light;
							}
						}
					}
				}
		
				.biographie-contenu{
					width: 100%;
				}
			}		
			#highlight{ margin-top: $baseline*8; }
		} /* main */
	}
}

