.page-people{

	#nav-inside-article #img-article {
	    visibility: hidden !important;
	}

	.titre-sticky{

		.retour{
			padding-right: $unite/2;
		}

		.personne{
			font-weight: 100;
			&:before{
				content: " / ";
			}
		} 
	}

	#biographie{
		figure{
			max-height: auto;
			overflow: hidden;
	
			img{
				width: 100%;
				filter: grayscale(1);
			}
			figcaption{
				margin-top: $baseline*1;
			}
		}
	
		header{
	
		
		

		.bandeau, .contact{ max-width: 900px; }

		.bandeau{ 
			border-top: $border-very-light;
			border-bottom: $border-very-light;
			padding-top: $baseline;
			padding-bottom: $baseline;
			p{ 
				@include font-size-16(); 
				display: inline-block;
				color: $text-color-light;
				// height: auto;
			}
			[data-type="role"]{
				color: $redlab;
			}
			[data-type="domaine"]{ 
				margin-right: $unite/2; 
				display: inline-block;
				padding-left: $unite/2;
				margin-left: $unite/2;
				border-left: $border-very-light;
			}
			[data-type="membership"]{ 
				display: inline-block;
				border-left: $border-very-light;
				padding-left: $unite/2; 
			}
		}
	
		.contact {

			border-bottom: $border-very-light;
			padding-top: $baseline;
			padding-bottom: $baseline;
	
			li{
				@include font-size-16();
				color: $text-color-light;
				border-right: $border-very-light;
				padding: 0 $unite/1.5;
				width: auto;
				color: $text-color-light;
				text-align: center;
				display: inline-block;
				margin-right: -4px;
	
				&:first-of-type{
					padding-left: 0;
				}
				&:last-of-type{
					border-right: none;
				}
	
				&:hover{	
					color: $redlab;
					border-left: $border-light;
					cursor: pointer;
					z-index: 99;
				}
			}
		}
	}
	

		.biographie-contenu{			
			p + p {  margin-top: $baseline*2; }
			
			li{ 
				left: $unite;
				&:before{ content: "⧆"; left: -5px;}
			}
		}

	}
}