// Manage global structure and responsive. 
// For details see fragments/miniatures

.page-people #highlights {
	
	@include for-size(desktop) {

		max-width: $max-width-article;
		margin-bottom: $baseline*5;

	}

	
	@include for-size(phone) {
		
		//width: calc(100% - #{$max-width-article} - #{$unite*2});
		
		width: 100%;
		height: auto;
		margin-top: $baseline*4;
		padding: 0;

		& > h1 {
			margin: $baseline $margins-phone 0 $margins-phone;
			@include font-size-27();
		}
	
		#highlights-list-production{
			.bandeau .authors{
				display: block;
				width: 100%;
				border-left: none!important;
				padding-left: 0!important;
				margin-left: 0!important;
				border-top: $border-very-light;
				margin-top: $baseline/2;
				padding-top: $baseline/2;
    			white-space: normal!important;
			}
		
		}
		
	}	
}

