/* page_list all */


$width-image-pre-listing: 120px;


@include for-size(desktop) {


    
    .page-production-list #liste .liste_objet,
    .page-activity-list #liste .liste_objet,
    .page-news-list #liste .liste_objet{
        
        margin-bottom: 40vh;
        min-height: calc(100vh - 40vh - #{$height-top-bar-phone});

        [data-item]{
            border-bottom: $border-light;
            width: calc(100vw - #{$logo-column} - #{$margins-desktop*2}); 
            &:first-of-type{ border-top: $border-light; }
            position: relative;
            height: auto;

            a{ 
                width: 100%;
                height: 100%;
                display: inline-block;
                @include flex();
                @include flex-direction(row);
            }


            .image-pre{
                position: absolute;
                max-width: $width-image-pre-listing;
                height: 100%;
                overflow: hidden;
                transition: max-width 0.5s ease-in-out;
                font-size: 1.1vw;
                &:hover{ max-width: calc(#{$width-image-pre-listing} + (100% - #{$width-image-pre-listing})/2); }
            }


            .bandeau{
                position: absolute;
                width: calc(100% - #{$width-image-pre-listing} - #{$unite});
                left: calc(#{$width-image-pre-listing} + #{$unite});           
                border-bottom: $border-very-light;
                padding: $baseline/2 0;
                @include text-overflow();
                p{ 
                    @include font-size-13; 
                    display: inline-block; 
                    vertical-align: top;
                }
                /* activities */
                .title{ 
                    @include text-overflow();
                    padding-left: $unite/2;
                    margin-left: $unite/2;
                    border-left: $border-very-light;
                    font-weight: 600!important;
                }
                /* news */
                .date-news, .hours-news{
                    margin-left: $baseline*1;
                    padding-left: $baseline*1;
                    border-left: $border-very-light;
                }
                .date-news{ 
                    font-weight: 600; 
                    margin-left: $baseline*1;
                    padding-left: $baseline*1;
                    border-left: $border-very-light;
                }
                .hours-news::before{ content: $time; }
                .label-news{
                    // @include font-size-13-uppercase; 
                    position: absolute; 
                    right: 0;
                }
                

            }

            hgroup, .accroche{
                display: inline-block;
                vertical-align: top;
                width: calc((100% - #{$width-image-pre-listing})/2);
                // height: 100%;
                left: $width-image-pre-listing;
                margin-top: $baseline*3.5;
                margin-bottom: $baseline;
                padding: 0 $unite;
                
                
            }


            h1{
                padding-top: $baseline*1;
                padding-bottom: $baseline*1.5;
                 @include font-size-40; 
            }

            .accroche{ 
                border-left: $border-very-light; 
                p{ @include font-size-20; }
            }

      





            &:hover{
                background-color: $background-grey;              
            }


        }

        .list-year{ 
            padding-top: 3px;
            border-bottom: $border-light;
            overflow: hidden;
            &:target{ padding-top: $height-top-bar + 3px;  }
        }

    }


    


}
