/* page_list all */


$width-image-pre-listing: 90px;


@include for-size(desktop) {


    
    .page-production-list #liste .liste_objet,
    .page-activity-list #liste .liste_objet,
    .page-news-list #liste .liste_objet{
        
        margin-bottom: 40vh;
        min-height: calc(100vh - 40vh - #{$height-top-bar-phone});

        li{
            border-bottom: $border-light;
            width: calc(100vw - #{$logo-column} - #{$margins-desktop*2}); 
            &:first-of-type{ border-top: $border-light; }
            position: relative;
            height: auto;

            a{ 
                width: 100%;
                height: 100%;
                display: inline-block;
                @include flex();
                @include flex-direction(row);
            }


            .image-pre{
                position: absolute;
                max-width: $width-image-pre-listing;
                height: 100%;
                overflow: hidden;
                transition: max-width 0.25s cubic-bezier(1,0,0,1);
                font-size: 1.1vw;
                background-color: $background-site;
                pre{ 
                    color: $color-img;
                    font-size: calc((( ((100vw - #{$unite*2}) - #{$logo-column} ) /2 ) /125 )*1.89 ); // Should change with width
                    line-height: calc((( ((100vw - #{$unite*2}) - #{$logo-column} ) /2 ) /125 )*1.50 );
                    top: -50%;
                    transform: translateY(50%);
                }
            }


            .bandeau{
                position: absolute;
                width: calc(100% - #{$width-image-pre-listing} - #{$unite});
                left: calc(#{$width-image-pre-listing} + #{$unite/2});           
                border-bottom: $border-very-light;
                padding: $baseline/2 0;
                @include text-overflow();
                p{ 
                    @include font-size-13; 
                    display: inline-block; 
                    vertical-align: top;
                }
                /* activities */
                .title{ 
                    @include text-overflow();
                    padding-left: $unite/2;
                    margin-left: $unite/2;
                    border-left: $border-very-light;
                    color: $redlab;
                    // font-weight: 600!important;
                }
                /* news */
                .date-news, .hours-news{
                    margin-left: $baseline*1;
                    padding-left: $baseline*1;
                    border-left: $border-very-light;
                }
                .date-news{ 
                    // font-weight: 600; 
                    color: $redlab;
                    margin-left: $baseline*1;
                    padding-left: $baseline*1;
                    border-left: $border-very-light;
                }
                .hours-news::before{ content: $time; }
                .label-news{
                    // @include font-size-13-uppercase; 
                    position: absolute; 
                    right: 0;
                    text-align: right;
                    @include for-size( desktop-1200) { left: calc( 50% + #{$unite/2} ); text-align: left; }
                }
                

            }

            hgroup, .accroche{
                display: inline-block;
                vertical-align: top;
                width: calc((100% - #{$width-image-pre-listing})/2);
                // height: 100%;
                left: $width-image-pre-listing;
                margin-top: $baseline*3.5;
                margin-bottom: $baseline;
                padding: 0 $unite/2;
                
                
            }


            h1{
                padding-top: $baseline*1;
                padding-bottom: $baseline*1.5;
                 @include font-size-40; 
            }

            .accroche{ 
                border-left: $border-very-light; 
                p{ @include font-size-20; }
            }

            // Ces règles s'appliquent aux écran dont la hauteur d'écran dne permet pas d'afficher plus 3 item par écran
            @media screen and ( max-height: 800px ){
                h1 { 
                    @include font-size-20;  
                    padding-top: 0; 
                    padding-bottom: $baseline/2;
                }
                .accroche p{ 
                    @include font-size-13; 
                    margin-top: $baseline*.5;
                    height: calc( 2 * #{$baseline*1.5} ); // Show 2 lines;
                    overflow: hidden;
                }
                
            }






            &:hover{
                &:after{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: 0;
                    width: calc(((100vw - #{$unite*2}) - #{$logo-column} - #{$width-image-pre-listing} ) /2  );
                    height: 100%;
                    background-color: $background-grey;

                }
                .image-pre{ 
                    max-width: calc(#{$width-image-pre-listing} + (100% - #{$width-image-pre-listing})/2); 
                    transition-duration: .15s;
                }
                .bandeau .date-news{ color: $text-color; transition: color .15s cubic-bezier(1,0,0,1);}
            }
        }

        .list-year{ 
            padding-top: 3px;
            border-bottom: $border-light;
            overflow: hidden;
            &:target{ padding-top: $height-top-bar + 3px;  }
        }

    }


    


}
