/////////////////////
//////// Filtres
/////////////////////



.type_title{
	@include font-size-16();
	text-transform: uppercase;
	font-weight: 600;
	z-index: 15;
	cursor: pointer;
	&:hover{ color: $redlab; }
}

.body-page:not(.page-news-list ) .type_title:after{
		content: "ⓘ";
		padding-left: $unite/3;
		color: $text-color-light;
		text-transform: lowercase;
		font-weight: 100;
		cursor: help;
		display: inline-block;
		position: absolute; 
		right: 0;
	}

.accroche-title-list{
    box-sizing: content-box!important;
    z-index: 14;
	background-color: $background-site;
	@include font-size-16;
	@media screen and (min-width: 1200px){ @include font-size-20; } 
	overflow: hidden;
	max-width: 1325px;
}



.aside-filters{

	.filter-group{
		border-bottom: $border-very-light;
		padding: $baseline 0;
		label{ 
			@include font-size-13;
			padding: $baseline/2 0;
		}
	}
	
	.filter-group > h1{ 
		@include font-size-13-uppercase(); 
		padding-bottom: $baseline/2;
	}


}

/* span arrows */

.link-productions-sort li a span,
#checkbox_filtre_year + label span,
#checkbox_groupFilter_label span{
	@include font-size-13;
	display: block; 
	width: $baseline;
	height: $baseline;
	margin-top: $baseline/2;
	position: absolute;
	text-align: right;
	right: -5px;
	top: 0;
}

.link-productions-sort li a:hover span,
#checkbox_filtre_year:checked + label span,
#checkbox_filtre_year + label:hover span,
#checkbox_groupFilter:checked + #checkbox_groupFilter_label span,
#checkbox_groupFilter + #checkbox_groupFilter_label:hover span{
	transform: rotate(90deg);
	transform-origin: center center;
	top: 4px;
}




/* go-to-year */

#checkbox_filtre_year ~ ul{ max-height: 0vh; }
#checkbox_filtre_year:checked ~ ul{ max-height: 100vh; }


.go-to-year{  

	@include font-size-13;

	ul{ width: 100%; }
	ul li{ width: 33%; }
	li:nth-of-type(3n){ border-right: none; }

	#checkbox_filtre_year + label{
		position: absolute;
		width: 100%;
		height: $baseline*2.5;
		z-index:99;
		cursor: pointer;
	}


	p{
		width: 100%;
		padding: $baseline/2 0;
		border-bottom: $border-very-light;
	}

	.current-year{
		font-weight: 600;
		position: absolute; 
		right: $baseline*1.5;
	}

	ul{
		background-color: $background-site;       
		@include font-size-13;
		overflow: hidden;
		
		li{
			display: inline-block;              
			padding-bottom: $baseline/2;
			padding-top: $baseline/2;
			border-right: $border-very-light;
			border-bottom: $border-very-light;
			text-align: center;
			&:hover{ font-weight: 600; }
		}
		
	}

}
