$top-filtre-phone-open: $height-top-bar-phone + $baseline*3.5;

@include for-size(phone) {


	.type_title{
		position: fixed;
		top: $top-filtre-phone-open - 1px;
		left: 0;
		width: 100vw;
		padding: 0 $margins-phone;
		z-index: 50;
		&::after{ display: none!important; }
	}

	#radio-phone-filters + label, 
	#radio-phone-infos + label{
		position: fixed;
		width: $unite*1.25;
		height: $unite*1.25;
		top: $height-top-bar-phone + $baseline*0.75;
		right: 0;
		z-index: 60;
		padding: $unite*0.25;
		svg{ fill: $text-color-light; }
	}

	#radio-phone-filters + label{ right: $margins-phone - $unite*0.25; }
	#radio-phone-infos + label{ right: $unite + $margins-phone*1; }


	.aside-title{
		@include font-size-13-phone;
		font-weight: 600;
		// text-transform: uppercase;
		padding: $baseline 0;
		border-bottom: $border-very-light;
		color: $redlab;
		position: fixed;
		width: calc(100vw - #{$margins-phone}*2);
		background-color: $background-site;
		z-index: 91;
	}

	#radio-phone-close + label{
		position: fixed;
		z-index: 92;
		right: $margins-phone;
		@include font-size-20-phone;
		color: $redlab;
	}


	.accroche-title-list, .aside-filters{
		background-color: $background-site;
		position: fixed;
		left: 0;
		width: 100vw;
		height: calc(100vh - #{$height-top-bar-phone});
		z-index: 90;
		padding: 0 $margins-phone;
		padding-top: $baseline*3.5;
		overflow-y: scroll;	
	}

	.accroche-title-list p{
		width: 100vw;
		padding-right: $margins-phone*2;
		margin-top: $baseline*1;
	}


	.aside-filters{
		padding-bottom: $baseline*2;
		padding-top: $baseline*3.5;
	}


	/* pattern open/close */

	#radio-phone-filters ~ .aside-filters,
	#radio-phone-infos ~ .accroche-title-list,
	#radio-phone-filters ~ #radio-phone-close + label,
	#radio-phone-infos ~ #radio-phone-close + label,
	#radio-phone-filters ~ .aside-filters .aside-title,
	#radio-phone-infos ~ .accroche-title-list .aside-title { 
		top: -100vh; 
		transition: .4s ease-out;
	}
	#radio-phone-filters:checked ~ .aside-filters,
	#radio-phone-infos:checked ~ .accroche-title-list { 
		top: $height-top-bar-phone + 1px; 
	}


	#radio-phone-filters:checked ~ #radio-phone-close + label,
	#radio-phone-infos:checked ~ #radio-phone-close + label{
		top: $height-top-bar-phone + $baseline*0.75;
	}



	#radio-phone-filters:checked ~ .aside-filters .aside-title,
	#radio-phone-infos:checked ~ .accroche-title-list .aside-title{
		top: $height-top-bar-phone;
	}








    // .accroche-title-list{
    //     padding: $baseline $margins-phone;
    // }

    // .type_title:hover + .accroche-title-list {
    //         top: $top-filtre-phone-open;  
    // }

	


	// #toggle-filtre-phone + label{ 
	// 	@include font-size-16-phone;
	// 	padding-top: $baseline;
	// 	padding-bottom: $baseline;
	// 	text-align: center;
	// 	position: fixed;
	// 	z-index: 30;
	// 	width: 100vw;
	// 	left: 0;
	// 	padding-right: $margins-phone*2;
	// 	border-top: $border; 
	// 	span{
	// 		display: block;
	// 		position: absolute; 
	// 		top: -4px; 
	// 		right: 0;
	// 		margin-left: $baseline;
	// 		width: $baseline*1.6;
	// 		height: $baseline*1.6;
	// 	}
	// 	span:before{
	// 		content: "〉";
	// 		display: block;
	// 		width: $baseline*1.6;
	// 		height: $baseline*1.6;
	// 		transform: rotate(-90deg);
	// 		transform-origin: center center; 
	// 		color: $text-color;
	// 	}
	//  }


	// #toggle-filtre-phone + label{
	// 	top: calc(100vh - #{$baseline}*3.5);
	// 	transition: 0.6s top;
	//  }



	//  #toggle-filtre-phone:checked + label{ 
	// 	top: $top-filtre-phone-open - 1px;
	// 	span:before{ 
	// 		content: "✕";
	// 		transform: rotate(0); 
	// 	}
	// }



	//  .go-to-year{
	// 	ul{ width: 100%; }
    //     ul li{ width: 33%; }
    //     li:nth-of-type(3n){ border-right: none; }
	// }

	


}
