/////////////////////
//////// PRODUCTIONS - filtres positions
/////////////////////
	
.page-production-list,
.page-news-list,
.page-activity-list{

	@include for-size(desktop) {



    	#radio_filtre-production_group + label{ display: none; }

	    #radio_filtre-production_year ~ .go-to-year ul{ max-height: 0vh; }
	    #radio_filtre-production_year:checked ~ .go-to-year ul{ max-height: 100vh; }

	    #radio_filtre-production_type ~ .filtre-production{ max-height: 0px; }
	    #radio_filtre-production_type:checked ~ .filtre-production{ max-height: 100vh; }
	    
	    #radio_filtre-production_year ~ #radio_filtre-production_type + label{ top: $height-top-bar + $height-filtres-productions + $baseline*5; }

	    @for $a from 5 through 10 {				  
	        #radio_filtre-production_year ~ .filtre-production:nth-of-type(#{$a}){ top: $height-top-bar + $height-filtres-productions -$baseline* 2.5 + $baseline* 2.5 * ($a - 1); }
	    }

		#radio_filtre-production_year:checked ~ #radio_filtre-production_type + label{ top: $height-top-bar + $height-filtres-productions_year-checked + $baseline*5; }
		
		#go-to-year_production{ top: $height-top-bar + $height-filtres-productions;}
	}




	@media screen and (min-width: 700px) and (max-height: 700px){

	    #radio_filtre-production_group + label{
	        position: fixed;
	        left: $margins-desktop;
	        top: $height-top-bar + $baseline*4.5;
	        width: $logo-column - $margins-desktop;
	        display: block;
	    }


	    #radio_filtre-production_group:checked + label{ display: none; }

	    #radio_filtre-production_group ~ .link-productions-sort li{ max-height: 0; }
	    #radio_filtre-production_group:checked ~ .link-productions-sort li{ max-height: 100px; }

	    #radio_filtre-production_group ~ .link-productions-sort{
	        min-height: $baseline*3.5;
	        top: $height-top-bar + $baseline*3.5;
	        padding-top: $baseline*1;
	        padding-bottom: 0;
	    }

	    #radio_filtre-production_group:checked ~ .link-productions-sort{
	        padding-top: $baseline * 1.5;
		    padding-bottom: $baseline * 1;
	    }  

	    #radio_filtre-production_group ~ .link-productions-sort .pageProduction_current{ 
	        max-height: 100px; 
	        font-weight: 300!important;
	        span{ display: none; }
	    }

	    #radio_filtre-production_group:checked ~ .link-productions-sort .pageProduction_current{ font-weight: 600!important; }

	    #go-to-year_production{
	        top: $height-top-bar + $baseline*7;
	    }

	    #radio_filtre-production_year + label{
	        top: $height-top-bar + $baseline*8;
	    }

	    #radio_filtre-production_year ~ #radio_filtre-production_type + label{ top: $height-top-bar + $height-filtres-productions_medium + $baseline*5; }
	  
	    #radio_filtre-production_group:checked ~ #go-to-year_production{
	        top: $height-top-bar + $baseline*18;
	    }

	    #radio_filtre-production_group:checked ~ #radio_filtre-production_year + label{
	        top: $height-top-bar + $baseline*19;
	    }

	    @for $i from 5 through 10 {				  
	        #radio_filtre-production_year ~ .filtre-production:nth-of-type(#{$i}){ top: $height-top-bar + $baseline*4.5 + $baseline* 2.5 * ($i - 1); }
	    }
	    
	    #radio_filtre-production_group:checked ~ #radio_filtre-production_type + label{ top: $height-top-bar + $height-filtres-productions_medium_group-checked + $baseline*5; }

	    #radio_filtre-production_year:checked ~ #radio_filtre-production_type + label{ top: $height-top-bar + $height-filtres-productions_medium_year-checked + $baseline*5; }
		   
	}




	@include for-size(phone) {

		 #radio_filtre-production_group + label{ 		
			 z-index: 90;
			 height: $baseline*3.5;
			 @include font-size-13-phone;
			 span{ top: $baseline*1;}

		  }

		 #radio_filtre-production_group ~ .link-productions-sort li{ max-height: 0; }
		 #radio_filtre-production_group:checked ~ .link-productions-sort li{ max-height: 100px; }
	 
		 #radio_filtre-production_group ~ .link-productions-sort{
			 min-height: $baseline*3.5;
			 padding-top: $baseline*1;
			 padding-bottom: 0;
		 }
	 
		 
		 #radio_filtre-production_group ~ .link-productions-sort .pageProduction_current{ 
			 max-height: 100px; 
			 font-weight: 300!important;
				span{ display: none; }
		 }
	 
		 #radio_filtre-production_group:checked ~ .link-productions-sort .pageProduction_current{ 
			 font-weight: 600!important; 
		}

	 
		
		#radio_filtre-production_year + label{ 
			z-index: 40; 
		}

		////////
		//close
		//////

		#toggle-filtre-phone ~ #radio_filtre-production_group ~ .link-productions-sort,
		#toggle-filtre-phone ~ #radio_filtre-production_group + label{
			top: calc(100vh + 1px);
			transition: 0.6s top;
		}

		#toggle-filtre-phone ~ #go-to-year_production{
			top: calc(100vh - #{$baseline}*3.5 + #{$baseline}*7);
			transition: 0.6s top;
	    }

	    #toggle-filtre-phone ~ #radio_filtre-production_year + label{
			top: calc(100vh - #{$baseline}*3.5 + #{$baseline}*8);
			transition: 0.6s top;
		}
		
		#toggle-filtre-phone ~ #radio_filtre-production_type + label{
			top: calc(100vh - #{$baseline}*3.5 + #{$baseline}*11.5);
			transition: 0.6 top;
		}

		@for $a from 5 through 10 {	
			#toggle-filtre-phone ~ #radio_filtre-production_year ~ .filtre-production:nth-of-type(#{$a}){ 
				top: calc(100vh + #{$baseline}*1.5 + #{$baseline}* 2.5 * 5); 
				transition: 0.6 top;
			}
		}
		
		////////
		// Open
		//////

		#toggle-filtre-phone:checked ~ #radio_filtre-production_group ~ .link-productions-sort,
		#toggle-filtre-phone:checked ~ #radio_filtre-production_group + label{
			top: $top-filtre-phone-open + $baseline*3.5;
		}


		#toggle-filtre-phone:checked ~ #go-to-year_production{
			top: $top-filtre-phone-open + $baseline*7;
	    }

	    #toggle-filtre-phone:checked ~ #radio_filtre-production_year + label{
			top: $top-filtre-phone-open + $baseline*8;
		}
		
		#toggle-filtre-phone:checked ~ #radio_filtre-production_type + label{
			top: $top-filtre-phone-open + $baseline*11.5;
		}


		#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ .link-productions-sort{
			padding-top: $baseline * 1.5;
			padding-bottom: $baseline * 1;
		}  


		#toggle-filtre-phone:checked ~ #radio_filtre-production_year ~ .go-to-year ul{ max-height: 0vh; }
		#toggle-filtre-phone:checked ~ #radio_filtre-production_year:checked ~ .go-to-year ul{ max-height: 100vh!important; }

		#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ #go-to-year_production{
	        top: $top-filtre-phone-open + $baseline*18;
	    }
		
		#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ #radio_filtre-production_year + label{
			top: $top-filtre-phone-open + $baseline*19;	
		}
		
		#toggle-filtre-phone:checked ~ #radio_filtre-production_type ~ .filtre-production{ max-height: 0px; }
		#toggle-filtre-phone:checked ~ #radio_filtre-production_type:checked ~ .filtre-production{ max-height: 100vh; }
		
		#toggle-filtre-phone:checked ~ #radio_filtre-production_year ~ #radio_filtre-production_type + label{ top: $top-filtre-phone-open + $height-filtres-productions_medium + $baseline*5; }
		#toggle-filtre-phone:checked ~ #radio_filtre-production_group:checked ~ #radio_filtre-production_type + label{ top: $top-filtre-phone-open + $height-filtres-productions_medium_year-checked + $baseline*7; }
	    #toggle-filtre-phone:checked ~ #radio_filtre-production_year:checked ~ #radio_filtre-production_type + label{ top: $top-filtre-phone-open + $height-filtres-productions_medium_year-checked + $baseline*5; }


		@for $i from 5 through 10 {	
	        #toggle-filtre-phone:checked ~ #radio_filtre-production_year ~ .filtre-production:nth-of-type(#{$i}){ top: $top-filtre-phone-open + $baseline*4.5 + $baseline* 2.5 * ($i - 1); transition: 0.6 top;}
	    }
    }


	/////////////////////
	//////// PRODUCTIONS - filtres méthodes
	/////////////////////


	input#filtre-production_article:checked ~ #liste,
	input#filtre-production_communication:checked ~ #liste,
	input#filtre-production_book:checked ~ #liste,
	input#filtre-production_thesis:checked ~ #liste,
	input#filtre-production_grey:checked ~ #liste,
	input#filtre-production_datascape:checked ~ #liste,
	input#filtre-production_website:checked ~ #liste,
	input#filtre-production_software:checked ~ #liste,
	input#filtre-production_code:checked ~ #liste,
	input#filtre-production_exhibition:checked ~ #liste,
	input#filtre-production_workshop:checked ~ #liste,
	input#filtre-production_simulation:checked ~ #liste,
	input#filtre-production_conference:checked ~ #liste,
	input#filtre-production_media:checked ~ #liste,
	input#filtre-production_thesis:checked ~ #liste{
		#liste-productions .list-item{ display: none !important; }
	}


	input#filtre-production_article:checked ~ #liste #liste-productions .article{ display: block!important; }
	input#filtre-production_communication:checked ~ #liste #liste-productions .communication{ display: block!important; }
	input#filtre-production_book:checked ~ #liste #liste-productions .book{ display: block!important; }
	input#filtre-production_thesis:checked ~ #liste #liste-productions .thesis{ display: block!important; }
	input#filtre-production_grey:checked ~ #liste #liste-productions .grey{ display: block!important; }
	input#filtre-production_datascape:checked ~ #liste #liste-productions .datascape{ display: block!important; }
	input#filtre-production_website:checked ~ #liste #liste-productions .website{ display: block!important; }
	input#filtre-production_software:checked ~ #liste #liste-productions .software{ display: block!important; }
	input#filtre-production_code:checked ~ #liste #liste-productions .code{ display: block!important; }
	input#filtre-production_exhibition:checked ~ #liste #liste-productions .exhibition{ display: block!important; }
	input#filtre-production_workshop:checked ~ #liste #liste-productions .workshop{ display: block!important; }
	input#filtre-production_simulation:checked ~ #liste #liste-productions .simulation{ display: block!important; }
	input#filtre-production_conference:checked ~ #liste #liste-productions .conference{ display: block!important; }
	input#filtre-production_media:checked ~ #liste #liste-productions .media{ display: block!important; }
	input#filtre-production_thesis:checked ~ #liste #liste-productions .thesis{ display: block!important; }

}