/////////////////////
//////// Activités
/////////////////////


$height-filtres-activites: $baseline * 5;

.page-activity-list{


	@include for-size(desktop) {

		.h2_filtre:nth-of-type(1){top: $height-top-bar + $height-filtres-activites ;  }
		#filtre-activity_active + label{ top: $height-top-bar + $height-filtres-activites + $baseline* 2.5; }
		#filtre-activity_past + label{ 
			top: $height-top-bar + $height-filtres-activites + $baseline* 2.5 * 2; 
			padding-bottom: $baseline*1;
			border-bottom: $border-very-light;
		}
		.h2_filtre:nth-of-type(2){top: $height-top-bar + $height-filtres-activites + $baseline + $baseline* 2.5 * 3;}
		#filtre-activity_research + label{ top: $height-top-bar + $height-filtres-activites + $baseline + $baseline* 2.5 * 4; }
	    #filtre-activity_teaching + label{ 
			top: $height-top-bar + $height-filtres-activites + $baseline + $baseline* 2.5 * 5; 
			padding-bottom: $baseline*1;
			border-bottom: $border-very-light;
		}

	}


	@include for-size(phone) {

		.link-activity-sort, .filtre-activity{ transition: 0.6 top; }

		#toggle-filtre-phone ~ .link-activity-sort{ 		
			top: calc(100vh + 2px);
			transition: 0.6 top;
		 }

		#toggle-filtre-phone:checked ~ .link-activity-sort{ 		
			top: $top-filtre-phone-open + $baseline*3.5;
			transition: 0.6 top;
		 }

		 

		#toggle-filtre-phone ~ #filtre-activity_research + label{ top: 100vh; }
	    #toggle-filtre-phone ~ #filtre-activity_teaching + label{ top: 100vh; }
	    #toggle-filtre-phone ~ #filtre-activity_method + label{ top: 100vh; }

		 #toggle-filtre-phone:checked ~ #filtre-activity_research + label{ top: $height-top-bar + $height-filtres-activites - $baseline + $baseline* 2.5 * 3; }
		 #toggle-filtre-phone:checked ~ #filtre-activity_teaching + label{ top: $height-top-bar + $height-filtres-activites - $baseline + $baseline* 2.5 * 4; }
		 #toggle-filtre-phone:checked ~ #filtre-activity_method + label{ top: $height-top-bar + $height-filtres-activites - $baseline + $baseline* 2.5 * 5; }

		

	}


	/// PATTERN //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	.filtre-activity_statut:checked ~ #liste #liste-activity {
		.list-item{ display: none; }
	}

	#filtre-activity_active:checked ~ #liste #liste-activity{
		.research-active{ display: block; }
		.teaching-active{ display: block; }
	}

	#filtre-activity_past:checked ~ #liste #liste-activity{
		.research-past{ display: block; }
		.teaching-past{ display: block; }
	}



	/* type only */
	.filtre-activity_type:checked ~ #liste #liste-activity {
		.list-item{ display: none; }
	}
	#filtre-activity_research:checked ~ #liste #liste-activity{
		.research-active{ display: block; }
		.research-past{ display: block; }
	}
	#filtre-activity_teaching:checked ~ #liste #liste-activity{
		.teaching-active{ display: block; }
		.teaching-past{ display: block; }
	}


	/* statut + type */


	#filtre-activity_active:checked ~ #filtre-activity_research:checked ~ #liste #liste-activity{
		.research-active{ display: block!important; }	
		.research-past{ display: none!important; }
		.teaching-active{ display: none!important; }	
		.teaching-past{ display: none!important; }	
	}

	#filtre-activity_active:checked ~ #filtre-activity_teaching:checked ~ #liste #liste-activity{
		.research-active{ display: none!important; }	
		.research-past{ display: none!important; }
		.teaching-active{ display: block!important; }	
		.teaching-past{ display: none!important; }	
	}

	#filtre-activity_active:checked  ~ #filtre-activity_research:checked ~ #filtre-activity_teaching:checked ~ #liste #liste-activity{
		.research-active{ display: block!important; }	
		.research-past{ display: none!important; }
		.teaching-active{ display: block!important; }	
		.teaching-past{ display: none!important; }	
	}



	#filtre-activity_past:checked ~ #filtre-activity_research:checked ~ #liste #liste-activity{
		.research-active{ display: none!important; }	
		.research-past{ display: block!important; }
		.teaching-active{ display: none!important; }	
		.teaching-past{ display: none!important; }	
	}

	#filtre-activity_past:checked ~ #filtre-activity_teaching:checked ~ #liste #liste-activity{
		.research-active{ display: none!important; }	
		.research-past{ display: none!important; }
		.teaching-active{ display: none!important; }	
		.teaching-past{ display: block!important; }	
	}

	#filtre-activity_past:checked ~ #filtre-activity_research:checked ~ #filtre-activity_teaching:checked ~ #liste #liste-activity{
		.research-active{ display: none!important; }	
		.research-past{ display: block!important; }
		.teaching-active{ display: none!important; }	
		.teaching-past{ display: block!important; }	
	}



	#filtre-activity_active:checked ~ #filtre-activity_past:checked ~ #filtre-activity_research:checked ~ #liste #liste-activity{
		.research-active{ display: block!important; }	
		.research-past{ display: block!important; }
		.teaching-active{ display: none!important; }	
		.teaching-past{ display: none!important; }	
	}

	#filtre-activity_active:checked ~ #filtre-activity_past:checked ~ #filtre-activity_teaching:checked ~ #liste #liste-activity{
		.research-active{ display: none!important; }	
		.research-past{ display: none!important; }
		.teaching-active{ display: block!important; }	
		.teaching-past{ display: block!important; }	
	}

	#filtre-activity_active:checked ~ #filtre-activity_past:checked ~ #filtre-activity_research:checked ~ #filtre-activity_teaching:checked ~ #liste #liste-activity{
		.research-active{ display: block!important; }	
		.research-past{ display: block!important; }
		.teaching-active{ display: block!important; }	
		.teaching-past{ display: block!important; }	
	}



}


