$height-filtres-productions: $baseline * 18.5;
$height-filtres-productions_year-checked: $baseline * 28;
$height-filtres-productions_medium: $baseline * 7;
$height-filtres-productions_medium_group-checked: $baseline * 18;
$height-filtres-productions_medium_year-checked: $baseline * 16;

$height-filtres-actu: $baseline * 3.5;


@include for-size(desktop) {

	#toggle-filtre-phone + label{ display: none; }

    .type_title,
    .link-productions-sort,
    .link-activity-sort,
    .go-to-year,
    #radio_filtre-production_year + label,
    #radio_filtre-production_type + label,
    #radio_filtre-actu_year + label,
    #radio_filtre-actu_type + label{
        left: $margins-desktop;
        width: $logo-column - $margins-desktop;   
    }

    .type_title{ top: $height-top-bar ; } 

    .link-productions-sort,
	.link-activity-sort
    .link-news-sort{
        top: $height-top-bar + $baseline*4;
    }

    /* sort year */

    .go-to-year{
        ul{ width: 100%; }
        ul li{ width: 33%; }
        li:nth-of-type(3n){ border-right: none; }
    }

    
    #radio_filtre-production_year + label,
    #radio_filtre-production_year + label{   
        position: fixed;
        width: $logo-column - $margins-desktop; 
        top: $height-top-bar + $height-filtres-productions + $baseline;
    }

    #radio_filtre-actu_year + label,
    #radio_filtre-actu_year + label{   
        position: fixed;
        width: $logo-column - $margins-desktop; 
        top: $height-top-bar + $height-filtres-actu + $baseline;
    }


    /* sort type */
    .filtre-production, .filtre-activity, .filtre-actu{ 
        width: $logo-column - $margins-desktop;
    
    }

    .h2_filtre{
        position: fixed;
        left: $margins-desktop;
        width: $logo-column - $margins-desktop; 
        @include font-size-13();
        font-weight: 400;
    }
    


}

