

$height-desktop-filter-year-open: $baseline*10.5 - 4px;
$height-desktop-filter-title: $baseline * 4;
$height-gotoyear-desktop: $baseline*2.5;
$first-filter-desktop: $height-top-bar + $height-desktop-filter-title + $height-gotoyear-desktop - 3px;



$height-filtres-actu: $baseline * 3.5;


@include for-size(desktop) {

	#toggle-filtre-phone + label{ display: none; }

    .type_title,
    .link-productions-sort,
    .link-activity-sort,
    .go-to-year,
    #checkbox_filtre-production_year + label,
    #checkbox_filtre-actu_year + label{
        left: $margins-desktop;
        width: $logo-column - $margins-desktop;   
    }

    .type_title{ 
        top: $height-top-bar ; 
        border-bottom: $border-light;
        padding-top: $baseline * 1.25;
        height: $height-desktop-filter-title;
    } 

    .accroche-title-list{
        box-sizing: content-box!important;
        position: fixed;
        top: -100vh;
        left: $logo-column + $margins-desktop ;
        background-color: $background-site;
        z-index: 90;
        @include font-size-20;
        color: $redlab;
        padding-top: $baseline*0.75;
        padding-bottom: $baseline;
        border-bottom: $border-redlab;
        padding-right: $margins-desktop;
        margin-right: $margins-desktop;
        overflow: hidden;
        transition: top .3s;
     
        
    }

    .type_title:hover{ 
            color: $redlab;
        & + .accroche-title-list {
            top: $height-top-bar;  
        }
    } 


    // .link-productions-sort,
	.link-activity-sort
    .link-news-sort{
        top: $height-top-bar + $baseline*4;
    }

    /* sort year */

    .go-to-year{
  
            padding-top: $baseline * 0.5;
            border-bottom: $border-very-light;
            height: $height-gotoyear-desktop;
        
        ul{ width: 100%; }
        ul li{ width: 33%; }
        li:nth-of-type(3n){ border-right: none; }
        
    }


   


    /* sort type */
    .filtre-production, .filtre-activity, .filtre-actu{ 
        width: $logo-column - $margins-desktop;
    
    }

    .h2_filtre{
        position: fixed;
        left: $margins-desktop;
        width: $logo-column - $margins-desktop; 
        @include font-size-13-uppercase();
        // font-weight: 400;
    }
    


}

