/////////////////////
//////// PRODUCTIONS - filtres positions
/////////////////////


.page-production-list{


	// STYLE ------------------------------------------------------------------------------------ //

	.link-productions-sort li{
		
		border-bottom: $border-very-light; 
		width: 100%;
		a{
			@include font-size-13-uppercase();
			display: block;
			width: 100%;
			padding: $baseline/2 0;
		}
	}

	.link-productions-sort li a:hover{ color: $text-color-light; font-weight: 600!important; }

	#list-all_current li:first-of-type a{ font-weight: 600!important;}

	#list-all_current li:first-of-type a:hover{ 
		font-weight: 600!important; 
		color: $text-color;
		cursor: auto;
	}

	#li-filter-media span{ display: none; }

	.pageProduction_current a{
		font-weight: 600!important;
		span{ display: none; }
	}


	#checkbox_groupFilter_label{
		display: block;
		width: 100%;
		height: $baseline*2.5;
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		span{ margin-top: $baseline*0.75; }
	}

	.filter-group{
		border-bottom: none;
		display: none;
		padding-top: 0;
	}

	#checkbox_groupFilter:checked ~ .filter-group{ display: block; }


	// CHEKED CHECKBOX ------------------------------------------------------------------------------------ //


	#filtre-production_article:checked ~ .aside-filters #filtre-production_article_label,
	#filtre-production_communication:checked ~ .aside-filters #filtre-production_communication_label,
	#filtre-production_book:checked ~ .aside-filters #filtre-production_book_label,
	#filtre-production_thesis:checked ~ .aside-filters #filtre-production_thesis_label,
	#filtre-production_grey:checked ~ .aside-filters #filtre-production_grey_label,
	#filtre-production_software:checked ~ .aside-filters #filtre-production_software_label,
	#filtre-production_code:checked ~ .aside-filters #filtre-production_code_label,
	#filtre-production_datascape:checked ~ .aside-filters #filtre-production_datascape_label,
	#filtre-production_website:checked ~ .aside-filters #filtre-production_website_label,
	#filtre-production_exhibition:checked ~ .aside-filters #filtre-production_exhibition_label,
	#filtre-production_workshop:checked ~ .aside-filters #filtre-production_workshop_label,
	#filtre-production_simulation:checked ~ .aside-filters #filtre-production_simulation_label,
	#filtre-production_conference:checked ~ .aside-filters #filtre-production_conference_label{
		font-weight: 600!important;
		&:before{ border: 5px solid $text-color;}
		&:hover:before{ border: 5px solid $text-color-light!important;}
	}


	


	// FILTERS PATTERNS ------------------------------------------------------------------------------------ //

	input#filtre-production_article:checked ~ #liste,
	input#filtre-production_communication:checked ~ #liste,
	input#filtre-production_book:checked ~ #liste,
	input#filtre-production_thesis:checked ~ #liste,
	input#filtre-production_grey:checked ~ #liste,
	input#filtre-production_datascape:checked ~ #liste,
	input#filtre-production_website:checked ~ #liste,
	input#filtre-production_software:checked ~ #liste,
	input#filtre-production_code:checked ~ #liste,
	input#filtre-production_exhibition:checked ~ #liste,
	input#filtre-production_workshop:checked ~ #liste,
	input#filtre-production_simulation:checked ~ #liste,
	input#filtre-production_conference:checked ~ #liste,
	input#filtre-production_media:checked ~ #liste,
	input#filtre-production_thesis:checked ~ #liste{
		#liste-productions .list-item{ display: none !important; }
	}


	input#filtre-production_article:checked ~ #liste #liste-productions .article{ display: block!important; }
	input#filtre-production_communication:checked ~ #liste #liste-productions .communication{ display: block!important; }
	input#filtre-production_book:checked ~ #liste #liste-productions .book{ display: block!important; }
	input#filtre-production_thesis:checked ~ #liste #liste-productions .thesis{ display: block!important; }
	input#filtre-production_grey:checked ~ #liste #liste-productions .grey{ display: block!important; }
	input#filtre-production_datascape:checked ~ #liste #liste-productions .datascape{ display: block!important; }
	input#filtre-production_website:checked ~ #liste #liste-productions .website{ display: block!important; }
	input#filtre-production_software:checked ~ #liste #liste-productions .software{ display: block!important; }
	input#filtre-production_code:checked ~ #liste #liste-productions .code{ display: block!important; }
	input#filtre-production_exhibition:checked ~ #liste #liste-productions .exhibition{ display: block!important; }
	input#filtre-production_workshop:checked ~ #liste #liste-productions .workshop{ display: block!important; }
	input#filtre-production_simulation:checked ~ #liste #liste-productions .simulation{ display: block!important; }
	input#filtre-production_conference:checked ~ #liste #liste-productions .conference{ display: block!important; }
	input#filtre-production_media:checked ~ #liste #liste-productions .media{ display: block!important; }
	input#filtre-production_thesis:checked ~ #liste #liste-productions .thesis{ display: block!important; }

}