
// IMPORTANT: style of list element = _miniatures-all.scss


@media screen{

	#all-aside aside{ 

		max-width: $max-width-article;

		& > h1{ margin-bottom: $baseline*2; }
		
		// & > p{
		// 	@include font-size-13;
		// 	color: $text-color-light;
		// 	display: none;
		// }

		// Grey Background
		&::before {  
			content: "";
			position: absolute;
			width: 100vw;
			background-color: $background-grey;
			z-index: -1;
		}

		ul.liste_objet li:first-of-type{ border-top: $border; }
		
	}

}





.personnes-associees-block{

	li[data-type="people"]{

		width: 100%;
		max-width: 600px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: $baseline*1;

		a{
			display: block;
			width: 100%;
			height: 100%;
			padding: $unite/4;
			@include flex();

			&:hover{ 
				background-color: $background-site;
				color: currentColor; 
			}				
		}

		h1{
			@include font-size-20;
			//margin-bottom: $baseline;
		}

		figure{
			overflow: hidden;
			width: 33%;
			max-width: $unite*6;
			display: inline-block; 
			vertical-align: top;
			&:not(.noImg){height: 100%;}

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: grayscale(1);
			}

			pre{ font-size: 5px;}
			div{	// if pre
				overflow: hidden;
				//position: absolute;
				pre{ line-height: 95%;}
			}

		}

		.description{
			width: 66%;
			vertical-align: top;
			padding-left: $unite*1;

			@include flex;
			@include flex-direction(column);
			@include justify-content (space-between);

			hgroup{
				padding-bottom: $baseline/2;
				min-height: 30px; 
			}				
			.details{
				border-top: $border-very-light;
				padding: $baseline/2 0;
				justify-self: flex-end;
				padding-bottom: 0;
				//margin-top: $baseline;
				@include font-size-13;
				@include for-size(phone) { @include font-size-13-phone; }
				
				.role{
					border-bottom: $border-very-light;
					padding-bottom: $baseline/2;
					color: $redlab;
				}
			}
		}
		
	}
}



////////////////
///// Queries
////////////////


@include for-size(phone) {

	#all-aside aside{
		padding-top: $topbar-phone;
		width: 100vw;
		&::before { 
		    height: calc(100% + #{$unite*2});
		    width: 100vw;
		    min-height: 200px;
		    top: 0;
		}
	    &:last-of-type::before{
	    	height: calc(100% + 70px + 1px);
	    }
	}

	.personnes-associees-block{
		
		& > h1{
			@include font-size-27-phone();
			margin: 0 $margins-phone;
		}

		ul{ max-width: 100vw; }

		li[data-type="people"]{
			//width: -webkit-calc(100vw - #{$margins-phone*2} - #{$unite/2}) ;
			//width: -moz-calc(100vw - #{$margins-phone*2} - #{$unite/2}) ;
			//width: calc(100vw - #{$margins-phone*2} - #{$unite/2}) ;
			padding-right: $margins-phone;
			padding-left: $margins-phone;
			
			
			h1{
				@include font-size-20-phone; 
				margin-bottom: $baseline/2;
			}
			.details{ border-bottom: none !important; margin-bottom: 0 !important; }
		}
	}

	.elements-associes-block{

		& > h1{ 
			@include font-size-27-phone();
			// font-weight: 600;
			margin: 0 $margins-phone;
			span{ font-weight: 300;}
		}

		ul.liste_objet li{
			&:before{
				content: "";
				position: absolute;
				width: calc(100% + #{$margins-phone*2});
				height: 100%;
				left: $margins-phone*-1;
			}
			&:hover:before{ background: rgba($background-site, 0.8); }

			a{ padding: 0 $margins-phone;}
				
		}
		
	}
}





@include for-size(desktop) {

	#all-aside{ margin-bottom: 20vh; }

	#all-aside aside{
		padding-top: $height-sticky + $baseline*2;

	    &:first-of-type{
	    	margin-top: $baseline*4;
	    }
	    	
		&::before { 
		    height: calc(100% + #{$unite*2});
			min-height: 200px;
			width: 200vw;
		    top: 50px;
		    left: -100vw;

		}
	    &:last-of-type::before{
	    	height: calc(100% + #{$height-footer + $baseline*8} - #{$unite*2});
	    }


		ul li{
			//padding-left: $unite/2;
			//padding-right: $unite/2;

		}

		ul.liste_objet{
			li:hover{ background: rgba($background-site, 0.8); }
		}
	}

	.elements-associes-block > h1,
	.personnes-associees-block > h1{ 
		@include font-size-40();
		span{ padding-right: $unite/2;}

	}


	@include for-size( desktop-900){
		.personnes-associees-block{
			.liste_personne li[data-type="people"]{
				width: 50% ;
				figure{ max-width: inherit;}
				pre{ font-size: 5px; }
			}
		}
	}

	@include for-size( desktop-1300){
		.personnes-associees-block{
			max-width: $max-width-article*1.25 !important;

			.liste_personne li[data-type="people"]{
				width: 33.333% ;
				figure{max-height: $baseline*8; }
				pre{ font-size: 4px; }
			}
		}
	}		
}
 


/* ÉLÉMENTS ASSOCIÉS pour les pages objets larges  -------------------------------------------------------------------------------- */




@media screen and (min-width: 1620px){
    .page-production, 
	.page-news, 
	.page-activity{
		#main-objet{ 
			display: flex;
			padding: 0;
		}
		#article-contenu{ padding-left: $margins-desktop; }
		#article-contenu, #all-aside{ 
			display: inline-block; 
			vertical-align: top;
			z-index: 0;
		}
		#all-aside{
			background-color:  $background-grey;
			width: calc(100% - #{$max-width-article} - #{$margins-desktop*2});
			height: auto;
			margin-left: $margins-desktop*2;
			margin-bottom: 0;
			// margin-top: $baseline*4;
			padding: $baseline*2 $margins-desktop*1.5;
			& > aside{
				margin-top: 0;
				padding-top: 0;
				margin-bottom: $baseline*5;
				&::before{ display: none; content: none; }
				& > h1 {
					@include font-size-27();
				}
			}
			.liste_personne li[data-type="people"]{
				width: 100%;
				margin-bottom: $baseline*1;
				pre{ font-size: 0.35vw; }

			
			}
		}	
	}
}

@media screen and (min-width: 2100px){

	.page-production #all-aside, 
	.page-news #all-aside, 
	.page-activity #all-aside{
		margin-right: $margins-desktop!important; 
	}

}