
///// Global 
.elements-associes-block, 
.personnes-associees-block{ 

	padding-top: $height-sticky + $baseline*2;

	& > h1{
		margin-bottom: $baseline*2;
		
	}
	
	& > p{
		@include font-size-13;
		color: $text-color-light;
		display: none;
	}
    &:first-of-type{
    	margin-top: $baseline*4;
    }	

	// Grey Background
	&::before {  
	    content: "";
		position: absolute;
		width: 100vw;
		
	    background-color: $background-grey;
	    z-index: -1;

	}

	// IMPORTANT: style of list element = _miniatures-all.scss
	
	// ajouts
	ul.liste_objet{
		li:first-of-type{ border-top: $border; }
		li:hover{ background: rgba($background-site, 0.8); }
	}

}

.personnes-associees-block{
	.liste_personne{
		display: inline-block;
		max-width: $max-width-article;
		width: 100%;

		$personne_associees_image_width:  100px; 

		[data-type="people"]{
			
			display: inline-block;
			box-sizing: border-box;
			height: 100%;
			width: 50%;
			
			a{
				margin: $unite/4;
				height: 100%;
				display: block;

				figure, hgroup {
					display: inline-block;
					vertical-align: top;
				}
				
				figure{ 
					filter: grayscale(1) contrast(1.25);
					mix-blend-mode: multiply;
					overflow: hidden;
					//margin-bottom: $baseline;
					//width: 50%;
					width: $personne_associees_image_width;
					vertical-align: top;

					img{ width: 100%; display: block; }
				}

				hgroup{

					margin: 0 $unite/2;
					width: calc( 100% - 100px - #{$unite} );
					min-height: $personne_associees_image_width*.75;

					h2{
						@include font-size-20();
					}

					h3{
						@include font-size-13();
						color: $text-color-light;
						position: absolute;
						width: 100%;
						bottom: 0;
						padding: $unite/6 0;
						border-top: $border-very-light;
						border-bottom: $border-very-light;
					}
				}
			}

			&:hover{
				background: rgba($background-site, 0.8);

			}
		}
		///////
		// QUERY
		//////
		@include for-size( desktop-1300){ 
			max-width: 1300px;
			[data-type="people"]{ width: 33.333% }
		}
	
	}
}



///// Responsive

@include for-size(phone) {
	.elements-associes-block, .personnes-associees-block{

		&::before { 
		    height: calc(100% + 50px);
		    min-height: 200px;
		    top: 50px;
		    left: $margins-phone*-1;

		}
	    &:last-of-type::before{
	    	height: calc(100% + 20px);
	    }
	}
	.elements-associes-block > h1{ 
		@include font-size-16-phone();
		font-weight: 600;
		span{ font-weight: 300;}
	}

}

@include for-size(desktop) {
	.elements-associes-block, .personnes-associees-block{

		&::before { 
		    height: calc(100% + 50px);
		    min-height: 200px;
		    top: 50px;
		    left: calc(#{$logo-column*-1} - #{$margins-desktop*1});

		}
	    &:last-of-type::before{
	    	height: calc(100% + 40vh - #{$unite*2});
	    }
	}

	.elements-associes-block > h1,
	.personnes-associees-block > h1{ 
		@include font-size-40();
		span{ padding-right: $unite/2;}
		// font-weight: 600;
		// span{ font-weight: 300;}
	}


}
 


/* ÉLÉMENTS ASSOCIÉS pour les pages objets larges  -------------------------------------------------------------------------------- */




@media screen and (min-width: 1620px){
    .page-production, 
	.page-news, 
	.page-activity{
		main{ 
			display: flex;
		}
		#article-contenu, #all-aside{ 
			display: inline-block; 
			vertical-align: top;
			z-index: 0;
		}
		#all-aside{
			background-color:  $background-grey;
			width: calc(100% - #{$max-width-article} - #{$unite*2});
			height: auto;
			margin-left: $unite*2;
			margin-top: $baseline*4;
			padding: $baseline*2 $unite*1.5;
			& > aside{
				margin-top: 0;
				padding-top: 0;
				margin-bottom: $baseline*5;
				&::before{ display: none; content: none; }
				& > h1 {
					@include font-size-27();
				}
			}
			.liste_personne li[data-type="people"]{
				width: 100%;
				margin-bottom: $baseline*1.5;
			}
		}
		
	}
}