
///// Global 
.elements-associes-block, 
.personnes-associees-block, 
.fichiers-associes-block{

	padding-top: $sticky-height + $baseline*2;

	& > h1{
		margin-bottom: $baseline*2;
		
	}
	
	& > p{
		@include font-size-13;
		color: $text-color-light;
		display: none;
	}
    &:first-of-type{
    	margin-top: 10vh;
    }	

	// Grey Background
	&::before {  
	    content: "";
		position: absolute;
		width: 100vw;
		
	    background-color: $background-grey;
	    z-index: -1;

	}


	ul.liste_objet{ 


		li.item{
			box-sizing: border-box;
			padding-bottom: $baseline/2;
			border-bottom: $border-light;
			overflow: hidden;
			background: $background-grey;
			opacity: 1;
			cursor: pointer;
			

			.accroche {
				display: block;
			}

			.complement{
				position: absolute;
				top: 0;
				opacity: 0;
				width: 100%;
				-webkit-transition: .25s cubic-bezier(.86,0,.07,1); 
				-moz-transition: .25s cubic-bezier(.86,0,.07,1); 
				-ms-transition: .25s cubic-bezier(.86,0,.07,1); 
				-o-transition: .25s cubic-bezier(.86,0,.07,1); 
				transition: .25s cubic-bezier(.86,0,.07,1); 
					
				p{
					@include font-size-20;
					word-break: break-word;
					border: none;
					padding: 15px $baseline*1 15px 0;
				}

			
			}

			&:hover {

				color: $color-hover;
				h2, p { color: $color-hover!important; }


				.accroche, .complement{ 
					-webkit-transition: .25s cubic-bezier(.86,0,.07,1); 
					-moz-transition: .25s cubic-bezier(.86,0,.07,1); 
					-ms-transition: .25s cubic-bezier(.86,0,.07,1); 
					-o-transition: .25s cubic-bezier(.86,0,.07,1); 
					transition: .25s cubic-bezier(.86,0,.07,1); 
				}
				 				
				.accroche {										
					opacity: 0;
					color: red;
					-webkit-transform: translateY(100%); 
					-moz-transform: translateY(100%); 
					-ms-transform: translateY(100%); 
					-o-transform: translateY(100%); 
					transform: translateY(100%);
				}

				.complement{ opacity: 1; }
			}



			a{

				// *{ @include text-overflow(); }

				h1{
					@include font-size-20();
					padding-top: $baseline*1.5;
					padding-bottom: $baseline*1.5;
					border-bottom: $border-very-light;
					padding-right: $unite;
				}			

			
				h2{ 
					border-bottom: $border-very-light;
					padding-top: $baseline*0.5;
					padding-bottom: $baseline*0.5;
					color: $text-color-light; 
					@include font-size-13();
				}

				.type, .period, .date-news{ 
					@include font-size-13();
					color: $text-color-light; 
					padding-top: $baseline*0.5;
					display: inline-block;
					

				}

				.period, .date-news{ width: 50%}

				.type{
					text-align: right;
					width: 100%;
					right: 0;
				}

				.period + .type, .date-news + .type{  width: 50%;}

				.image-pre{
					display: none;
				}

				.embleme{
					font-size:40px;
					width: 25px;
					order:1;

					display: none;
				}
				
				.type::before{
					content: inherit;
				}
			}
		}
	}
}

.personnes-associees-block{
	.liste_personne{

		//@include flex;
		//@include flex-direction(row);
		//@include flex-wrap(wrap);
		//@include justify-content
		display: inline-block;
		max-width: 900px;

		$personne_associees_image_width:  100px; 

		[data-type="people"]{
			
			//flex: 0 0 25%;
			//max-width: calc( 25% - #{$unite*2} );
			//margin: 0 $unite 0 0 ;
			//width: 25%;
			display: inline-block;
			box-sizing: border-box;
			height: 100%;
			width: 50%;
			
			a{
				margin: $unite/4;
				height: 100%;
				display: block;

				figure, hgroup {
					display: inline-block;
					vertical-align: top;
				}
				
				figure{ 
					filter: grayscale(1) contrast(1.25);
					mix-blend-mode: multiply;
					overflow: hidden;
					//margin-bottom: $baseline;
					//width: 50%;
					width: $personne_associees_image_width;
					vertical-align: top;

					img{ width: 100%; display: block; }
				}

				hgroup{

					margin: 0 $unite/2;
					width: calc( 100% - 100px - #{$unite} );
					min-height: $personne_associees_image_width*.75;

					h2{
						@include font-size-20();
					}

					h3{
						@include font-size-13();
						color: $text-color-light;
						position: absolute;
						width: 100%;
						bottom: 0;
						padding: 2px 0;
						border-top: $border-light;
						border-bottom: $border-light;
					}
				}
			}

			&:hover{
				background: rgba($background-site, 0.5);

			}
		}
		///////
		// QUERY
		//////
		@include for-size( desktop-1400){ 
			max-width: 1500px;
			[data-type="people"]{width: 33.333%}
		}
	
	}
}

.fichiers-associes-block{
    .icon{
    border: $border;
    font-size: 30px;
    letter-spacing: -4px;
    left: 0px;
    overflow: hidden;
    line-height: 20px;

        span{

            &:first-of-type{
                position: absolute;
                width: 100px;
                height: 100px;
                left: 60%;
                top: -50px;
                float: right;
                border: $border;
                background: white;
                transform: rotate(-45deg);            
            }
            &:last-of-type{
                bottom: 2px;
                right: 9px;
                font-size: 15px;
                letter-spacing: 0px;
            }
        }
    }

    li.item{ border-bottom: none !important;}
}

#productions{
					 
	.accroche {										
		opacity: 1;
		-webkit-transform: translateY(0); 
		-moz-transform: translateY(0); 
		-ms-transform: translateY(0); 
		-o-transform: translateY(0); 
		transform: translateY(0);

		&:hover {

			color: $color-hover;
			h2, p { color: $color-hover!important; }
			h1, h2{ border-bottom: $border-redlab-very-light;}
		}
	}
}



///// Responsive

@include for-size(phone) {
	.elements-associes-block, .personnes-associees-block, .fichiers-associes-block{

		&::before { 
		    height: calc(100% + 50px);
		    min-height: 200px;
		    top: 50px;
		    left: $margins-phone*-1;

		}
	    &:last-of-type::before{
	    	height: calc(100% + 20px);
	    }
	}
	.elements-associes-block > h1{ 
		@include font-size-16-phone();
		font-weight: 600;
		span{ font-weight: 300;}
	}
	.elements-associes-block .liste_objet{
		h1{ @include font-size-20-phone(); }				
		h2{ @include font-size-13-phone(); }
		.type{ @include font-size-13-phone(); }
	}
	.fichiers-associes-block{
        li.item{ 
            @include font-size-20();
            margin-bottom: $margins-desktop;
            @include text-overflow();
            svg, p{ 
                display: inline-block;
                vertical-align: middle;
            }
            p.name{ 
                margin-left: $margins-desktop;
                @include font-size-20();
            }
            svg{ 
                width: 50px;
            }
        }       
    } 
}

@include for-size(desktop) {
	.elements-associes-block, .personnes-associees-block, .fichiers-associes-block{

		&::before { 
		    height: calc(100% + 50px);
		    min-height: 200px;
		    top: 50px;
		    left: calc(#{$logo-column*-1} - #{$margins-desktop*1});

		}
	    &:last-of-type::before{
	    	height: calc(100% + 40vh - #{$unite*2});
	    }
	}

	.elements-associes-block > h1,
	.personnes-associees-block > h1,
	.fichiers-associes-block > h1{ 
		@include font-size-40();
		span{ padding-right: $unite/2;}
		// font-weight: 600;
		// span{ font-weight: 300;}
	}

	.elements-associes-block .liste_objet{
		h1{ @include font-size-20(); }				
		h2{ @include font-size-13(); }
		.type{ @include font-size-13(); }
	}

	.fichiers-associes-block{
        li{ 
            @include font-size-20();
            margin-bottom: $margins-desktop;
            svg, p{ 
                display: inline-block;
                vertical-align: middle;
            }
            p.name{ 
                margin-left: $margins-desktop;
                @include font-size-20();
            }
            svg{ 
                width: 50px;
            }
        }       
    }
}

@media screen and (max-width: 1000px){
	.elements-associes-block{

		ul.liste_objet{ 
			// li{ width: 100%; }
			li:first-of-type{ border-top: $border-light; }
		}
	}
}


@media screen and (min-width: 1000px){

	.elements-associes-block, .fichiers-associes-block{
		ul.liste_objet{ 		
			// @include flex;
			// @include flex-wrap(wrap);			
			// li{ width: calc( ( 100% - #{$unite*3*2} ) / 2 ); }
			
			@include column-count(2);
			@include column-gap($unite*1.5);
			@include column-fill(balance);

			margin-right: $unite*1;	
			li{ break-inside: avoid}

		}		
	}
}


@media screen and (min-width: 1400px) {

	.elements-associes-block, .fichiers-associes-block{

		ul.liste_objet{ 		
			max-width: 1500px;
			// @include flex;
			// @include flex-wrap(wrap);			
			// li{ width: calc( ( 100% - #{$unite*3*3} ) / 3 ); }

			@include column-count(3);
			@include column-gap($unite*3);
			@include column-fill(balance);			
			@include column-rule($border-very-light);
			li{ break-inside: avoid}
		}		
	}
}

