
///// Global 

#all-aside{ margin-bottom: 20vh; }
#all-aside aside{ 

	padding-top: $height-sticky + $baseline*2;
	max-width: $max-width-article;
	

	& > h1{
		margin-bottom: $baseline*2;
		
	}
	
	& > p{
		@include font-size-13;
		color: $text-color-light;
		display: none;
	}

	// Grey Background
	&::before {  
	    content: "";
		position: absolute;
		width: 100vw;
	    background-color: $background-grey;
	    z-index: -1;
	}

	// IMPORTANT: style of list element = _miniatures-all.scss
	
	// ajouts
	ul.liste_objet{
		li:first-of-type{ border-top: $border; }
	}

}
.personnes-associees-block{
	.liste_personne{
		display: inline-block;
		max-width: $max-width-article;
		width: 100%;

		$personne_associees_image_width:  100px; 

		li{
			
			display: inline-block;
			box-sizing: border-box;
			height: 100%;
			padding-left: 0!important;
			padding-right: 0!important;

			a{
				margin: $baseline $unite/4;
				height: 100%;
				display: block;

				figure, hgroup {
					display: inline-block;
					vertical-align: top;
				}
				
				figure{ 
					filter: grayscale(1) contrast(1.25);
					mix-blend-mode: multiply;
					width: $personne_associees_image_width;
					vertical-align: top;
					position: relative;
					width: 100%;
					max-width: 100%;
					overflow: hidden;
					border-bottom: $border-very-light;

					img{ 
						width: 100%;
						display: block;
						top: 50%;
						left: 50%;
						//transform: translate(-50%);
						//transform: translateX(-50%) translateY(-50%);
					}
					> div{
						opacity: 0.1;
						//max-height: $baseline*8;									
					}
				}

				hgroup{

					width: 100%;
					min-height: $personne_associees_image_width*.75;

					h2{
						@include font-size-20();
						padding: $baseline/2 0;
					}

					h3{
						@include font-size-13();
						color: $text-color-light;
						width: 100%;
						bottom: 0;
						padding: $unite/6 0;
						border-top: $border-very-light;
						border-bottom: $border-very-light;
						top: -1px;
					}
				}
			}

			&:hover{
				background: rgba($background-site, 0.8);

			}
		}
	}
}



///// Responsive

@include for-size(phone) {
	#all-aside aside{

		&::before { 
		    height: calc(100% + #{$unite*2});
		    min-height: 200px;
		    top: $unite*2;
		    left: $margins-phone*-1;

		}
	    &:last-of-type::before{
	    	height: calc(100% + 70px + 1px);
	    }
	}
	.personnes-associees-block, .elements-associes-block{
	}
	.elements-associes-block > h1{ 
		@include font-size-16-phone();
		font-weight: 600;
		span{ font-weight: 300;}
	}

	.personnes-associees-block{
		[data-type="people"]{
			width: 100%;
			//width: -webkit-calc(100% - #{$unite/2});
			//width: -moz-calc(100% - #{$unite/2});
			//width: calc(100% - #{$unite/2});
			//left: $unite*-.25;
			border-bottom: $border;
			&:first-of-type { border-top: $border; }
			a{
				padding-bottom: $baseline*2;
	
				figure {
					height: $baseline*12;

					img{ transform: translateX(-50%) translateY(-50%);}

					div{
						top: -50%;
						pre{ font-size: 15px; }
					}
				}
				hgroup{
					h3{
						padding: $baseline/2 0;
					}
				}
			}	
		}
	}

		
	ul.liste_objet{
		li{
			&:before{
				content: "";
				position: absolute;
				width: calc(100% + #{$margins-phone*2});
				height: 100%;
				left: $margins-phone*-1;

			}
			&:hover:before{
				background: rgba($background-site, 0.8);
			}
		}
	
		.bandeau{
			p{ padding-right: $unite-phone; }
		}
	}
}

@include for-size(desktop) {
	#all-aside aside{

	    &:first-of-type{
	    	margin-top: $baseline*4;
	    }
	    	
		&::before { 
		    height: calc(100% + #{$unite*2});
			min-height: 200px;
			width: 200vw;
		    top: 50px;
		    left: -100vw;

		}
	    &:last-of-type::before{
	    	height: calc(100% + #{$height-footer + $baseline*8} - #{$unite*2});
	    }


		ul li{
			padding-left: $unite/2;
			padding-right: $unite/2;
		}

		ul.liste_objet{
			li:hover{ background: rgba($background-site, 0.8); }
		}
	}

	.elements-associes-block > h1,
	.personnes-associees-block > h1{ 
		@include font-size-40();
		span{ padding-right: $unite/2;}
		// font-weight: 600;
		// span{ font-weight: 300;}
	}
	
	.personnes-associees-block{
		[data-type="people"]{
			width: 50%;
			padding-bottom: $baseline*2;

			figure {
				max-height: $baseline*12;

				img{ transform: translateX(-50%) translateY(-25%); }
				div{
					top: 50%;
					transform: translateY(-50%);
					pre{ font-size: 15px; }
				}
			}		
		}
		@include for-size( desktop-1300){ 
			max-width: 1300px;
			[data-type="people"]{ 
				width: 33.333%;
				figure{max-height: $baseline*8; }
				pre{ font-size: 10px; }
			}
		}
	}
}
 


/* ÉLÉMENTS ASSOCIÉS pour les pages objets larges  -------------------------------------------------------------------------------- */




@media screen and (min-width: 1620px){
    .page-production, 
	.page-news, 
	.page-activity{
		#main-objet{ 
			display: flex;
			padding: 0;
		}
		#article-contenu{ padding-left: $margins-desktop; }
		#article-contenu, #all-aside{ 
			display: inline-block; 
			vertical-align: top;
			z-index: 0;
		}
		#all-aside{
			background-color:  $background-grey;
			width: calc(100% - #{$max-width-article} - #{$margins-desktop*2});
			height: auto;
			margin-left: $margins-desktop*2;
			margin-bottom: 0;
			// margin-top: $baseline*4;
			padding: $baseline*2 $margins-desktop*1.5;
			& > aside{
				margin-top: 0;
				padding-top: 0;
				margin-bottom: $baseline*5;
				&::before{ display: none; content: none; }
				& > h1 {
					@include font-size-27();
				}
			}
			.liste_personne li[data-type="people"]{
				width: 100%;
				padding: $baseline/2 0; 
				border-bottom: $border;

				&:first-of-type{ border-top: $border; }

				figure{
					width: 33.333%;
					img{
						transform: translate(-50%);
					}					
					pre{ font-size: 8px; }					
				}
				hgroup{
					max-width: 66.666%;
					max-width: -webkit-calc(66.666% - #{$unite});
					max-width: -moz-calc(66.666% - #{$unite});
					max-width: calc(66.666% - #{$unite});
					min-height: $baseline*7.6666;
					margin: 0 0 0 $unite;

					h3{
						border-top: none;
						top: 0;
					}
				}			
			}
		}
		
	}
}

@media screen and (min-width: 2100px){

	.page-production #all-aside, 
	.page-news #all-aside, 
	.page-activity #all-aside{
		margin-right: $margins-desktop!important; 
	}

}