$width-main-image: calc( 100vw - #{$margins-desktop*0});

@include for-size(desktop) {
    #nav-inside-article{
        padding-top:$margins-desktop/2;
        padding-bottom: $margins-desktop*1.5;
        height: 100%;
        width: $logo-column;

        position: fixed;
        top: 0;
        left: $margins-desktop;
        z-index: 6;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-content: stretch;



        .nav-inside-item{
            //height: $height-nav;
            // height: $unite*1;
            padding-top: $unite;
            // border-top: $border-very-light;
            width: 100%;
            //background-color: white;
            transition: .1s linear;
            // background-color: $background-site;

            // &:after{
            //     content: "";
            //     width:  $logo-column/2;
            //     border-bottom: $border;
            //     position: absolute;
            //     bottom: 0;
            // }

            // &:hover{
            //     transition: .1s linear;
            //     height: $unite*3.5;

            // }

            //fonts

            @include font-size-16();

            display: flex;
            align-items: center;
            &:first-of-type{

                //height: $height-top-bar - $margins-desktop;
                //height: calc(#{$unite*3} - 1px);
                align-items: flex-start;

                // Fill the hole around
                width: 100%;
                left: $unite*-1;
                padding: $unite*.8 0 0 $unite;
                //height:  $unite*4;
                top:  $unite*-1;
                height: 82px;
                width: calc( 100% + 25px );
                background: $background-site;
                z-index: 9; // So gets upon fullscreen Image Process in nav


                &:after{border-bottom: none;}

                img, svg{
                    width: $logo-column/3 + $unite/2;
                    margin: calc(#{$unite} + 5px) 0 5px 0;
                    fill: $text-color; }
            }

            a{
                width: $logo-column/3;
            }

            // &[data-type="main-article"] a::before{
            //     content: $productions;
            // }
            &[data-type="main"] a::before{
                content: $scrolltop;
            }
            &[data-type="productions"] a::before{
                content: $productions;
            }
            &[data-type="activities"] a::before{
                content: $activites;
            }
            &[data-type="attachments"] a::before{
                content: $files;
            }
            &[data-type="people"] a::before{
                content: $people;
            }
            &[data-type="news"] a::before{
                content: $actualites;
            }

        }

        #img-container{
            flex-grow: 1;
            position: relative;


            #activator{
                display: block;
                position: absolute;
                width: $logo-column - $margins-desktop*2;
                height: 100%;
                z-index: 9;

                &:hover{
                    
                    & + #img-article{
                        overflow: inherit;
                    }
                }        
            }

            #img-article{
                overflow: hidden;
                display: inline-block;
                width: $logo-column - $margins-desktop*2;
                height: 100%;
                transition: all .25s cubic-bezier(.76,.05,.86,.06);
                font-size: $font-size*1.3!important;
                line-height: 1.15!important;
                font-weight: bold;



                .container{
                    width: $logo-column - $margins-desktop*2;
                    height: 100%;

                    div{
                        position: absolute;
                        width: $width-main-image;
                        height: 100vh;                                           
                        // top: calc(#{$height-top-bar*-1} - #{$unite});
                        top: -50px;
                        left: calc(#{$unite*-1} - 3px);

                        img{ display: none;}

                        pre{
                            font-weight: bold;
                            font-size: calc(((100vw - #{$unite*2})/250)*2.50); // Should change with width
                            line-height: calc(((100vw - #{$unite*2})/250)*1.89);
                            overflow: hidden;
                            //background: $background-site;
                            
                        }
                    }
                }            
            }

            .caption{
                color: $text-color;
                @include font-size-16;
                @include text-background( 3px 6px);

                position: absolute;
                bottom: $baseline*2;
                left: $unite;
                z-index: 9;


            }
        }

    }
}

@include for-size(phone) {
    #nav-inside-article{ display: none;}
}