


#nav-inside-article{

    ul li{
        
        &[data-type="main"] a::before{
            content: $scrolltop;
        }
        &[data-type="productions"] a::before{
            content: $productions;
        }
        &[data-type="activities"] a::before{
            content: $activites;
        }
        &[data-type="attachments"] a::before{
            content: $files;
        }
        &[data-type="people"] a::before{
            content: $people;
        }
        &[data-type="news"] a::before{
            content: $actualites;
        }

        &:hover{
            color: $text-color-light;
        }

    }

}




@include for-size(phone) {
    .main-nav{ display: none;}
}


@include for-size(desktop) {

    /* la largeur de la navigation est dans le modèle global des pages */
    .main-nav{
        position: sticky;
        height: calc(100vh - #{$height-footer});
        position: sticky;
        top: $height-sticky*2;
        left: 0;
        padding-right: $margins-desktop;

        ul{
            position: absolute;
            bottom: 0;
            margin-bottom: $baseline;
        }

        ul li{
            padding-top: $baseline/2;
            width: 100%;
            transition: .1s linear;
            @include font-size-13();
        }

        
    }
}
