


#titre-sticky{
	
	position: fixed;
	top: 0px;
	left: 0;
	width: 100vw;
	height: $height-sticky;
	background-color: $background-site;
	z-index: 9; // So gets upon fullscreen Image Process in nav
	white-space: nowrap;
	border-bottom: $border-very-light;
	padding: 0 $margins-desktop;

	#container-titre-sticky{
		max-width: $max-width-main;
		margin: 0 auto;
	
	}

	#logo-sticky, p{ 
		display: inline-block;
		vertical-align: top;
	}

	#logo-sticky{
		@media screen and (min-width: 700px) and (max-width: 1080px){ width: $logo-column-medium; }
		@media screen and (min-width: 1080px){ width: $logo-column; }
		
		svg{
			width: $logo-column/3 + $unite/2;
			margin-top: calc(#{$unite} + 5px);
			margin-bottom: 5px;
			fill: $text-color; 
		}
	}

	p{
		@include font-size-20();
		white-space: nowrap;
		margin-top: $baseline*2;
		[data-icon]{ 
			padding-right: $unite/2;
		}
		span{ 
			display: inline-block;
			vertical-align: top;			
		}
		
	}


	
	

	.title{ 			
		font-weight: bold;
		@include text-overflow;
		//width: 90%;	
		max-width: $max-width-article;
				
	}

	
}	



/* Page People --------------------------------------------------------------- 
------------------------------------------------------------------------------ */

.page-people #titre-sticky{

	.retour{
		padding-right: $unite/2;
	}

	.personne{
		font-weight: 100;
		&:before{
			content: "/";
			padding-left: $unite/2;
			padding-right: $unite/2;
		}
	} 
	span:hover{ 
		color: $text-color-light;
		&:before{ color: $text-color;}
	}
}


	



@include for-size(phone) {

	.page-people #titre-sticky{
		display: none;
		@include font-size-20-phone;
		position: relative;
		width: 100%;
		height: 101px;
		background-color: white;
		z-index: 5;
		padding-top: 50px;
		font-weight: bold;
		border-bottom: $border;

		span.personne{ display: none; }
	}

	.page-production #titre-sticky, 
	.page-news #titre-sticky, 
	.page-activity #titre-sticky{
		display: none;
	}

}