.toggle-lang{ 
    @include flex-order(2); 
   
    max-width:900px;
    color: $text-color-light;

    span{
        @include linktext();
        white-space: nowrap;
        cursor: pointer;
        &:hover{ 
            color: $redlab-light;
        }
    }

}

@include for-size(phone) {

    .toggle-lang{
        border-top: $border-very-light;
        border-bottom: $border-very-light;
        padding: $baseline*1 $margins-phone;
        @include font-size-16();
        width: 100vh;
        left: $margins-phone *-1;
        span{
            display: block;
            margin-left: 12px;
        }
    }
    
}



@include for-size(desktop) {

    .toggle-lang{
        border-top: $border-very-light;
        // border-bottom: $border-very-light;
        padding: $baseline*1.5 0;
        margin-top: $baseline;
        @include font-size-20();
    }
    
}



#fr-to-en:checked ~ .fr{ display: none !important; }

#en-to-fr:checked ~ .en{ display: none !important; }