#implications{
    ul{
        padding: $unite 0;
        li{
            padding: 0 0 $baseline 0;
            p{
                @include font-size-20();
                display: inline-flex;
            }
            p.year-main{   
                width: $unite*5;

            }
            p[data-type="title"]{
                width: calc(100% - #{$unite*6});
                max-width: 800px;

            }
        }
    }
}