/* all */
#topbar{
	z-index: 30;
	background-color: $background-site;
}

a:hover{
	color: #E6142D;
	svg{ fill: #E6142D; }
	img{
		//background-color: #E6142D;
		//mix-blend-mode: color-burn;
	}
}



.page-production, 
.page-news, 
.page-activity{
	
	.titre-sticky{
		@include text-overflow;
		&:first-letter{ text-transform: uppercase;}
	}
	
	#article-contenu{

		// flex permet de mettre le choix de la langue en dernier (alors qu'il doit être en premier dans l'HTML pour pouvoir marcher)
		@include flex();
		@include flex-direction(column);

		hgroup{ 
			@include flex-order(1); 
			h1{ 
				&:first-letter{ text-transform: uppercase;}
			}
		}
		.article-contenu{ 

			@include flex-order(2); 
			
			a{
				text-decoration: underline;
				text-decoration-skip-ink: auto;
				text-decoration-color: $text-color-light;
				text-decoration-style: dotted;
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;

				}
			}

			p{ margin-bottom: $baseline*2; }

		}

		hgroup{

			.time, .type-objet{
				color: $text-color-light;					
			}

			.date-news{ 
				text-transform: capitalize;
				
				.endDate, .startDate{ white-space: nowrap;}
			}	

		}


		.toggle-lang{ @include flex-order(3); max-width:900px;}
	}
}



.page-activity{
	.date-news{ 
		.day-num, .day-name{ display: none;}
	}
}

.page-news{

}

.page-production{
	.date-news{ 
		.day-num, .day-name{ display: none;}
	}
}