/* all */
#topbar{
	z-index: 30;
	background-color: $background-site;
}

a:hover{
	color: #E6142D;
	svg{ fill: #E6142D; }
	img{
		//background-color: #E6142D;
		//mix-blend-mode: color-burn;
	}
}



body.page-production, 
body.page-news, 
body.page-activity{
	
	.titre-sticky{
		@include text-overflow;
	}
	
	#article-contenu{

		// flex permet de mettre le choix de la langue en dernier (alors qu'il doit être en premier dans l'HTML pour pouvoir marcher)
		@include flex();
		@include flex-direction(column);

		hgroup{ @include flex-order(1); }
		.article-contenu{ 

			@include flex-order(2); 
			
			a{
				text-decoration: underline;
				text-decoration-skip-ink: auto;
				text-decoration-color: $text-color-light;
				text-decoration-style: dotted;
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;

				}
			}
		}
		.toggle-lang{ @include flex-order(3); max-width:900px;}
	}
}
