/////////////////////
////////  Desktop 
/////////////////////

@include for-size(desktop) {

	body.page-production, 
	body.page-news, 
	body.page-activity{

		#topbar{
	        &:after{
	            content:"";
	            border-bottom: $border;
	            margin-left: $logo-column;
	            width: calc( 100vw - #{$logo-column} - #{$margins-desktop*3} );
	            position: absolute;
	            bottom: 0;
	            z-index: 10;
	        }
		}

		main{
			margin-left: $logo-column;
			margin-bottom: 40vh;	
		
		
			.titre-sticky{
				@include font-size-20();
				position: sticky;
				top: -1px;
				//width: 100%;
				width: calc(100% + #{$unite});
				height: 101px;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				//border-bottom: $border;
				
				&::after{
					content: "";
					border-bottom: $border;
					width: calc(100% - #{$unite});
					position: absolute;
					bottom: 0;
					left: 0;

				}
			}

			#article-contenu{

				.date, .type-objet{
					display: inline-block;
					padding-bottom: $baseline*4;
					// font-weight: bold;
				}
				.type-objet:before{ content: " – "}
		
				hgroup {

					h1{
						@include font-size-60();
						padding-bottom: $baseline*1;
						margin-top: $baseline*3;
						max-width: 1100px;
					}
		
					h2{ 
						padding-bottom: $baseline*1.5; 
						@include font-size-27();
						max-width: 1100px;
					}
				}
		
				p{
					@include font-size-20();
					letter-spacing: .2px;
				}
				.article-contenu{
					
					max-width: 900px;
					
					/* Regles de Base */
					figure, img + img, p + img{
						margin: $baseline*3 0 $baseline*4 0;
						width: 90%;
						margin-left: $unite;
					}

					iframe{
						width: 100%;
						min-height: 50vh;
						margin: $baseline*3 0 $baseline*4 0;	
						border: none;					
					}

					h1, h2{  /// Incoherent mais temporaire; Données sont rédigé en base h2 et non h3
						@include font-size-20;
						font-weight: bold;
						margin-top: $baseline*6;
						margin-bottom: $baseline*1;
					}
					
					h3{
						@include font-size-20;
						font-weight: bold;
						margin-top: $baseline*3;
						margin-bottom: $baseline*1;


					}


					//////////////////////////
					///        Grid 	/////
					/////////////////////////

					/* if support of grid */
					@supports(display: flex) {
			            @include flex;
			            @include flex-wrap(wrap);
			            @include flex-direction(column);


			            *:not(.duo) { 	// Tous les éléments s'etire sur toute la largeur. Sauf les Images .Duo
  							flex: 0 0 100%; /* Let it fill the entire space horizontally */
  			                max-width: 100%;
			            }
			         	figure, p + img, img + img{
							//margin: $unite*3 0 $unite*2 0; // Si grid, diminnue les margins car Grid-gap s'ajoute à ces marges
						}
						h3{
							//margin-top: $baseline*2; // Si grid, diminnue les margins car Grid-gap s'ajoute à ces marges
						}
					}

					/* End Support */

					//////////////////////////
					///        Image 	/////
					/////////////////////////

					figure{

						text-align: left;

	  					figcaption{
	  						@include font-size-13;
	  						color: $text-color-light;
	  					}

						&.duo{
							flex: 1;
						}

						&.vertical{

						}

						&.horizontal{
						}

						img{
							height: auto;
							max-height: 80vh;
							width: auto;
							max-width: 100%;
							box-shadow: 0 0 0 1px #888;
						}
						figcaption{
							margin-top: $baseline*1;
						}
					}
				}
			}/* #article-contenu */
		} /* main */

		footer{
			margin-left: $logo-column;
			width: calc( 100% - /*#{$margins-desktop*2} -*/ #{$logo-column});
			margin-bottom: 2px;
		}
	}
}
