/////////////////////
//////// Phone 
/////////////////////


@include for-size(phone) {

	.page-production, 
	.page-news, 
	.page-activity{

		main{
			margin-left: $margins-phone;
			margin-right: $margins-phone;
			margin-bottom: 40vh;

			margin: $height-top-bar-phone $margins-phone;

			
			.titre-sticky{
				position: relative;
				width: 100%;
				height: 101px;
				background-color: white;
				z-index: 5;
				padding-top: 50px;
				font-weight: bold;
				border-bottom: $border;

				@include font-size-20-phone();

			}


			hgroup {

				h1{
					@include font-size-40();
					font-weight: bold;
					padding: $baseline 0 $baseline*3 0;
				}

				h2{
					@include font-size-27();
					font-weight: normal;
					padding-bottom: $baseline*1.5;;
				}				

				.time, .type-objet{
					@include font-size-20-phone();
				}

				.type-objet{
					margin-top: $baseline*2;
				}
				.time{
					margin-bottom: $baseline*3;
				}
			

			}
			
			.article-contenu{
				max-width: 900px;
			
				h2{
					@include font-size-27-phone();
				}

				p, li{
					@include font-size-20-phone();

				}

				h3{
					@include font-size-20;
					font-weight: bold;
					margin-bottom: $baseline*2;			
				}


				figure{

					margin-top: $baseline*2;
					margin-bottom: $baseline*2;
					max-width: 600px;
					text-align: center;

					figcaption{
						@include font-size-13;
						color: $text-color-light;
						text-align: left;
					}

					img{
						width: 100%;
						box-shadow: 0 0 0 1px #888;
						margin-left: 2px;
					}
					figcaption{
						margin-top: $baseline*1;
					}
				}
			}
		}
	}

}
