/* all */
#topbar{
	z-index: 30;
	background-color: $background-site;
}

a:hover{
	color: $color-hover;
	svg{ fill: $color-hover; }
	img{
		//background-color: #E6142D;
		//mix-blend-mode: color-burn;
	}
}



.page-production, 
.page-news, 
.page-activity{

	
	
	
	#article-contenu{

		// flex permet de mettre le choix de la langue en dernier (alors qu'il doit être en premier dans l'HTML pour pouvoir marcher)
		@include flex();
		@include flex-direction(column);

		
		hgroup{
			h1:first-letter{ text-transform: uppercase;}	
		}

		.details{
			width: 100%;
			border-top: $border-very-light;
			border-bottom:$border-very-light;
			color: $text-color-light;

			.production-ref{ border-top: $border-very-light; }

			[data-icon]{ padding-right: $unite/2;}

			.date-news-block{ 
				width: 100%;
				border-bottom: $border-very-light;
				p{ display: inline-block; }
				.date-news{ margin-right: $unite; }
				.hours-news{ 
					white-space: nowrap; 
					padding-left: $unite;
					border-left: $border-very-light;
				};
				.hours-news::before{ content:$time; }		
				.endDate, .startDate{ white-space: nowrap;}
			}	

		}

		hgroup{ max-width: 1300px; }

		.details{ max-width: 900px; }
		
		
		.article-contenu{ 

			@include flex-order(1); 
				max-width: 900px;
		
			
			a{
				text-decoration: underline;
				text-decoration-skip-ink: auto;
				text-decoration-color: $text-color-light;
				text-decoration-style: dotted;
				transition: .25s linear;

				&:hover{
					color: $redlab;
					text-decoration-color: $redlab;

				}
			}


			li{ 
				left: $unite;
				&:before{ content: "⧆"; left: -5px;}
			}

		}

		


		
	}
}


