/* assets/parts/common/_top-bar.scss*/

#topbar{

    color: $color-header-text; 
    width: 100%;
    @include typo-header();
}

#logo-medialab svg{
    //fill: $color-header-logo;
    fill: $black-color;
}

/* imports */
@import 'top-bar-mobile';
@import 'top-bar-desktop';

