/* assets/scss/common/body.scss */

html{ overflow-x: hidden}
body{ overflow-x: visible}

@include for-size(phone) {
    body{
        background-color: $background-site;
    }
}

@include for-size(desktop) {
    body{
        // max-width: 1800px;
        margin: 0 $margins-desktop!important;
        background-color: $background-site;
    }
}

[data-type="news"] .type::before, 
[data-icon="news"]::before,
[data-type="actualite"] .type::before, 
[data-icon="actualite"]::before,
[data-type="actualités"] .type::before, 
[data-icon="actualités"]::before{
    content: $actualites;
}
[data-type="production"] .type::before, 
[data-icon="production"]::before,
[data-type="productions"] .type::before, 
[data-icon="productions"]::before{
    content: $productions;
}

[data-type="activities"] .type::before, 
[data-icon="activities"]::before,
[data-type="activite"] .type::before, 
[data-icon="activite"]::before{
    content: $activites;
}

[data-type="file"] .type::before, 
[data-icon="file"]::before,
[data-type="file"] .type::before, 
[data-icon="file"]::before{
    content: $files;
}

[data-icon="people"]::before{
    content: $people;
}

[data-type="git"] .type::before{ content: $git; }
[data-icon="git"]::before{ content: $git; }
[data-type="tweet"] .type::before{ content: $tweet; }
[data-icon="tweet"]::before{ content: $tweet; }

.GoTo::after{ content: $goto; }

//a:hover{ color: $redlab; }

label{
    .span-nochecked{ display: block; }
    .span-checked{ display: none; }
}
input:checked + label{
    .span-nochecked{ display: none; }
    .span-checked{ display: block; }
}

.nomenclature p{
    display: inline; 
    & + p::before{
        content: " / "
    }
}



/* virgules après les auteurs. ATTENTION = il faut plutôt le mettre depuis le CMS car au copier/coller les éléments after ne restent pas*/
.author span{ 
    white-space: nowrap;
    &:after{ content: ", "}
    &:last-of-type:after{ content: ""}
}


/////////////////////
//////// Checkbox
/////////////////////


.checkbox-medialab{
    @include flex();
	@include align-items(center);
}

.checkbox-medialab:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: $baseline;
    height: $baseline;
    background: $background-site;
    border: $border-light; 
}

.checkbox-medialab:hover:before{
    border: 5px solid $text-color; 
}

.checkbox-medialab:hover{
    font-weight: 600;
    color: $color-hover;
    cursor: pointer;
    &:before{ border: 5x solid $color-hover;}
}


input:checked + .checkbox-medialab{
    font-weight: 600!important;
    &:before{ border: 5px solid $text-color;}
}

input:checked + .checkbox-medialab:hover{
    font-weight: 600!important;
    color: $text-color!important;
    &:before{ border: 5px solid $text-color!important;}
}






////////////////////////////
// En savoir plus Button //
///////////////////////////

.more{
    margin-top: $baseline*1;
    margin-bottom: $baseline*1;
    @include font-size-13();
    color: $text-color-light;
    text-decoration: underline; 
    
    &:hover{
        color: $redlab;
    }
}

/////////
// Pre //
/////////


pre {
  font-family: $font-mono;
}


//////////////////
//// Tip!  ///////
//////////////////

span.tip{
    display: none;
}

.totip{
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    cursor: help;

}

*:hover > span.tip, .totip:hover > span.tip, span.tip:hover {
    display: block;
    position: absolute;
    z-index: 999;
    max-width: 15%;
    min-width: 150px;
    
    top: 100%;
    left: 50%;
    -webkit-transform: translate3D(-50%, 0, 0);
    -ms-transform: translate3D(-50%, 0, 0);
    transform: translate3D(-50%, 0, 0);

    padding: 0.6rem 0.8rem;
    margin: .5rem $unite/2;    
    //border: $border-light;
    background: $text-color;
    color: $background-site;
    @include font-size-16();
    text-decoration: none;


}


