

.slideshow[data-transition="zoom"] {
	overflow: hidden;
}


/* slideshow item */
.slideshow--item {
	position: absolute;
	top: 0;
	visibility: hidden;
}

.slideshow--bullet:checked + label + .slideshow--item {
	visibility: visible;
}

.slideshow--bullet-label:hover + .slideshow--item {
	visibility: visible;
	z-index: 99;
}

.slideshow[data-transition="fade"] .slideshow--item {
	visibility: visible;
	opacity: 0;
	transition: .3s ease-out opacity;
}

.slideshow[data-transition="fade"] .slideshow--bullet:checked + .slideshow--item {
	opacity: 1;
}

.slideshow[data-transition="zoom"] .slideshow--item {
	visibility: visible;
	opacity: 1;
	transform: scale(0.000001);
	transition: .3s ease-out transform;
}

.slideshow[data-transition="zoom"] .slideshow--bullet:checked + .slideshow--item {
	opacity: 1;
	transform: scale(1);
}





/* slideshow navigation */
.slideshow--nav{
	position: absolute;
	display: none;
	z-index: 88;
	cursor: pointer;
	color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}



.slideshow--nav:after {
	display: flex;
	content: '〉';
	position: absolute;
	// transform-origin: center;
	// transform: translateY(2vh);
}

.slideshow--nav-previous {
	display: flex;
}

.slideshow--nav-previous:after {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
}

.slideshow--nav-next {
	display: flex;
}




/* Radiobuttons to control the slideshow VERSION 1 */
.slideshow--bullet {
	width: 2rem;
	height: 2rem;
	display: inline-block;
	z-index: 99;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: $background-site;
	border-radius: 0.5rem;
	transition: .3s ease-out background,
				.3s ease-out transform;
	cursor: pointer;
	&:hover{ color: $redlab!important; }
}


.slideshow--bullet::after{
	content: "◾";
	font-size: 2rem;
	color: $text-color-light;
}

.slideshow--bullet:checked::after{ color: $text-color; }
