@supports(display: grid) {
    .container{

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto 80vh 10vh ;

        padding: 0 2rem;
        width: calc( 100vw - 4rem);

        .introduction{
            grid-column: 1 / 5;
            grid-row: 1 / 2;
        }

        .actualites{
            grid-column: 1 / 7;
            grid-row: 2 / 3;

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1rem;
        }

        .flux{
            grid-column: 1 / 7;
            grid-row: 3 / 4;    
        }
    }
} 