/* Regles typographique de bases communes à toutes les pages de contenu */

@media screen and (max-width: 900px) {
  .page-production,
  .page-news,
  .page-activity,
  .page-people,
  .page-about {
    top: 0 !important;

    main {
      padding: 0;
    }

    /// Typo Header hgroup
    #article-contenu,
    #biographie,
    #about-contenu {
      hgroup {
        margin: $baseline * 2 0 $baseline * 1.5 0;
        padding: 0;
        h1 {
          @include font-size-27();
          font-weight: 400;
          padding-bottom: $baseline * 1.5;
        }
        h2,
        h3 {
          @include font-size-20-phone();
          padding-bottom: 0;
        }
      }
    }

    #about-contenu {
      margin-bottom: $baseline * 4;
    }

    .article-contenu,
    .biographie-content,
    .about-contenu {
      /* Regles de Base */

      iframe {
        //width: 100%;
        margin: $baseline * 1.5 auto $baseline * 2 auto;
        border: none;
        display: block;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        @include font-size-20-phone;
        font-weight: bold;
        margin-top: $baseline * 4;
        margin-bottom: $baseline * 1.5;
      }

      .title-style-level-1,
      [data-style-level="1"] {
        @include font-size-16-phone;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: $baseline * 4;
        margin-bottom: $baseline * 1.5;
      }

      .title-style-level-2,
      [data-style-level="2"] {
        @include font-size-16-phone;
        font-weight: bold;
        margin-top: $baseline * 3;
        margin-bottom: $baseline * 1.5;
      }

      .title-style-level-3,
      [data-style-level="3"] {
        @include font-size-16-phone;
        font-weight: 300;
        font-style: italic;
        margin-top: $baseline * 3;
        margin-bottom: $baseline * 1.5;
      }

      h3 + h4,
      .title-style-level-1 + .title-style-level-2,
      [data-style-level="1"] + [data-style-level="2"] {
        margin-top: 0;
      }

      p + p {
        margin-top: $baseline * 2;
      }

      p,
      li {
        @include font-size-16-phone();
        margin-bottom: $baseline * 2;
      }

      li {
        left: $unite-phone * 2.5;
        text-indent: #{$unite-phone * -1};
        width: calc(100% - #{$unite-phone * 2.5});
        &:before {
          content: "⁘";
          left: #{$unite-phone * -1.5};
        }
      }

      iframe {
        max-width: 100%;
        //height: auto;
        margin-bottom: $baseline;
      }

      blockquote {
        margin-top: $baseline * 1;
        margin-bottom: $baseline * 1;
        @include font-size-16-phone();
        font-style: italic;

        margin-left: $unite * 1;
        margin-right: $unite * 1;

        &:before {
        }

        &:lang(en):before {
          font-size: $baseline * 4;
          left: $unite * -1.25;
          line-height: 50px;
        }

        &:lang(fr):before {
          font-size: $baseline * 3;
          left: $unite * -1.25;
          line-height: $baseline * 1.5;
        }
      }

      img,
      figure {
        max-width: 100%;
      }

      img {
        max-width: 80vw;
        max-height: 80vh;
      }

      //////////////////////////
      ///        Image 	/////
      /////////////////////////
      figure {
        &.figure-logo {
          max-width: 33% !important;
          width: auto;
          padding: $baseline $unite-phone $baseline $unite-phone;

          img {
            max-width: $unite * 5 !important;
            max-height: $baseline * 3;
            width: 100%;
            height: 100%;
          }
        }
      }
      .vignette {
        margin: $baseline * 1.5 $unite-phone $baseline * 3 $unite-phone;
        width: 100%;
        width: -webkit-calc(100% - #{$unite-phone * 2});
        width: -moz-calc(100% - #{$unite-phone * 2});
        width: calc(100% - #{$unite-phone * 2});

        &.container_vignette-block {
          @media screen and (max-width: 500px) {
            // desactive Focus sur tout petit écran
            width: 100%;
            width: -webkit-calc(100% - #{$unite-phone * 2});
            width: -moz-calc(100% - #{$unite-phone * 2});
            width: calc(100% - #{$unite-phone * 2});
            label {
              display: none;
            }
            input:checked + label {
              display: inline-block;
            } // Securité si brusque redimentionement avec le focus activé
          }
        }

        figure {
          figcaption {
            //max-height: $baseline*6;
            //overflow: hidden;
          }
        }

        input:checked {
          & + label {
            height: -webkit-calc(100% - #{$baseline * 6});
            height: -moz-calc(100% - #{$baseline * 6});
            height: calc(100% - #{$baseline * 6});

            &:after {
              content: "✕\00FE0E";
              top: $baseline * 2;
              left: calc(100vw - #{$unite * 2});
              opacity: 1;
              color: $text-color;
              transition: none;
            }

            //figure{ max-height: inherit !important;}
          }

          & ~ figure {
            figcaption {
              padding: $baseline $unite-phone;
              max-height: $baseline * 6;
              overflow-y: scroll;
            }
          }
        }
      }
    }
  }
}
