/* assets/scss/common/_top-bar-desktop.scss */


$height-top-bar: 120px;

:root{ --height-topbar: 120px; }

@include for-size(desktop) {
    
    #flux_container{

        top: 0;
        right: 0;
        position: absolute;
    }

    button{
        font-size: 4rem;
        font-weight: 100;
        font-family: monospace;
        color: #999;

        background: none;
        position: absolute;
        left: -6rem;

        cursor: pointer;
        position: absolute;
        top: 5rem;
        right: 2rem;
        z-index: 100;
    }
// ~ 
    button:hover ~ #flux {

        top: 0;
        right: 0;

    }

    #flux:hover {

        top: 0;
        right: 0;
    }
    //////////////////////////////////
    /////// Reduire les container et intro
    ///////////////////////////////////
    #flux_container:hover ~ .container{
        width: calc( 66.6666vw - 2rem);
        transition: 1s ease-in-out;        
    }

     #flux_container:hover ~ .i1{
        width: calc( 66.6666vw - 2rem);
        transition: 1s ease-in-out; 

        p:nth-of-type(1){
            max-width: 60vw;

            font-size: 3vh !important;
            line-height: 3vh !important;

            transition: .5s ease-in-out; 
        }  
     }

     .i1, .container{
         transition: .5s ease-in-out; 
     }

    ///////////////////////////////////
    ///////////////////////////////////
    ///////////////////////////////////


    #flux{
        width: 33vw;
        height: 100vh;

        top: 0;
        right: -33vw;

        position: fixed;
        background: #fe6767;
        background-color: white;
        z-index: 99999;

        transition: 1s ease-in-out;

        z-index: 99999;

        h3{
            padding: 0 0 5vh 0;
            font-size: 30px;
            line-height: 45px;
            font-weight: 300;
            text-align: center;
        }

        ul#fil{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 0rem;
            //grid-auto-rows: 15vh;

            padding: 2rem;

            li.item{

                grid-column: 1/7;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 20px auto 20px;
                grid-gap: 2rem 1rem;

                margin: 2rem 0 0 0;
                border-top: 1px solid #0003;

                .emblem{
                    grid-column: 1/2; 
                    grid-row: 1/4;
                    align-self: center;
                    justify-self: center;

                    font-size: 10vh;
                    font-weight: 100;
                    font-family: monospace;
                    line-height: 10vh;
                    -webkit-text-stroke: .4vh white;
                }
                .emblem_action{
                    grid-column: 2/5;
                    grid-row: 1/4;
                    align-self: center;
                    justify-self: center;

                    font-size: 7vh;
                    font-weight: 100;
                    font-family: monospace;
                    line-height: 10vh;
                    //-webkit-text-stroke: .4vh white;
                }

                .emblem_target{
                    grid-column: 5/6;
                    grid-row: 1/4;
                    align-self: center;
                    justify-self: center;

                    font-size: 10vh;
                    font-weight: 100;
                    font-family: monospace;
                    line-height: 10vh;
                    //-webkit-text-stroke: .4vh white;
                }
                .text_action{
                    grid-column: 2/5;
                    grid-row-start: 1;
                    font-size: .85vw;
                    font-weight: 300;
                    text-align: center;
                }

                .text_target{
                    grid-column: 2/5;
                    grid-row-start: 3;
                    font-size: .85vw;
                    font-weight: 300;
                    text-align: center;
                }

                .text_content{
                    grid-column: 2/5;
                    grid-row-start: 2;
                    font-size: .85vw;
                    font-weight: 100;
                    max-height: calc(1vw * 4);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1vw;
                }


                &.S{

                    max-height: 75px;
                    overflow: hidden;
                    grid-template-columns: 20% 20% 10% 20% 20%;
                    grid-template-rows: 20px 40px 20px !important;
                    grid-gap: 2.5%;

                    .emblem, .emblem_target{
                        font-size: 5vh;
                        -webkit-text-stroke: inherit;
                        justify-self: center;
                    }

                    .text_action {
                        grid-column: 2/5;
                        grid-row-start: 2;
                    }
                    .emblem_action{
                        grid-column: 3/4;
                        grid-row: 1/4;

                        font-size: 5vh;
                        line-height: 5vh;
                    }
                    .text_target {
                        grid-column: 4/5;
                        grid-row-start: 2;
                    }
                }
            }
        }
     }
}