<header class="evenement">
	<h4>Communication à la conférence Digital Humanities 2016</h4>
	<h5>Explorer la complexité du commerce mondial au XIXème siècle</h5>
	<div class="nomenclature">
		<p class="type">Conférence</p>
		<p class="place">Krakow, Poland</p>
		<p class="date_end">2016-07-11</p>
		<p class="date_end">2016-07-16</p>
	</div>
</header>

<header class="evenement">
	<h4>Séminaire de bouclage TOFLIT18</h4> <!-- ++ -->
	<h5>Un vaillant séminaire pour clore le projet TOFLIT18</h5> <!-- + --> 
	<div class="nomenclature">
		<p class="type">Séminaire</p>
		<p class="place">Paris, France</p>
		<p class="date_end">2019-07-06</p>
		<p class="date_end">2019-07-06</p>
	</div>
</header>


<header class="activité">
	<h4>FORCCAST</h4> <!-- + -->
	<h5>Formation par la cartographie des controverses à l’analyse des sciences et des techniques</h5> <!-- ++ -->
	<div class="nomenclature">
		<p class="type">Recherche</p>
		<p class="url"><a href="http://controverses.org/">controverses.org/</a></p>
		<p class="date_end">2019-07-06</p> // hide
		<p class="date_end">2019-07-06</p> // hide
		<p class="statut">actif</p> // hide
	</div>
</header>


<header class="membre">
	<h4>John Doe</h4> <!-- + -->
	<div class="nomenclature">
		<p class="titre">Ingénieur de recherche</p>
		<p class="statut">Membre</p>
	</div>
</header>

<header class="membre">
	<h4>Janine Doe</h4> <!-- + -->
	<div class="nomenclature">
		<p class="titre">Chercheuse</p>
		<p class="statut">Membre associé</p>
	</div>
</header>


<header class="publication">
	<h4>Hyperlink is not dead! </h4> <!--  + -->
	<div class="nomenclature">
		<p class="type">Conférence</p>
		<p class="auteurs"> Janine Doe</p>

	</div>
</header>

<header class="publication">
	<h4>RICardo Project : Exploring XIX Century International Trade</h4>
	<div class="nomenclature">
		<p class="type">Conférence</p>
		<p class="auteurs"> Janine Doe & 5 autres</p>
	</div>
</header>

<!-- Agenda -->
<header class="publication">
	<h4>RICardo Project : Exploring XIX Century International Trade</h4>
	<div class="nomenclature">
		<p class="type">Conférence</p>
		<p class="auteurs"> Janine Doe & 5 autres</p>
	</div>
</header>
<section id="agenda">
	<h3>Les rendez-vous du Labo</h3>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
	<div class="day">
		<p class="date">2019-00-00</p>
		<h4>Titre de l'évenement</h4>
		<div class="nomenclature">
			<p class="type">Séminaire</p>
			<p class="lieu">Lieu, Pays</p>
		</div>
	</div>
</section>



<!-- Désiré : Liste des 10 dernières actualités hors HERO -->
<header class="actualite">
	<h4>Recrute Professeur – STS et environnement </h4>
	<!-- Image ??? -->
	<div class="nomenclature">
		<p class="type">Annonce</p>
		<p class="date">2019-07-02</p>
	</div>
</header>

<header class="actualite">
	<h4>Une publication est parue</h4>
	<!-- Image ??? -->
	<div class="nomenclature">
		<p class="type">publication </p>
		<p class="date">2019-07-08</p>
	</div>
</header>

<header class="actualite">
	<h4>Le système de crédit social en Chine</h4>
	<!-- Image ??? -->
	<div class="nomenclature">
		<p class="type">Séminaire </p>
		<p class="date">2019-07-08</p>
	</div>
</header>

<!-- Git et Tweet -->
<header class="git">
	<h4>Gazouilloire </h4>
	<h5>Twitter stream + search API grabber </h5>
	<div class="nomenclature">
		<p class="contributeur">6 contributeurs</p>
	</div>
</header>

<header class="tweet">
	<p class="emblem">◍</p>
	<p class="action">Medialab tweet</p>
	<p class="tweet_content">Médialab's contributions in Cogito n°5 are available in english ; let's read: - #Digital readings of the Bible, by @jphcoi - History of #internationaltrade in #data by @paulanomalie</p>
	<div class="nomenclature">
		<p class="date">2019-07-08</p>
	</div>
</header>

<header class="tweet">
	<p class="emblem">◍</p>
	<p class="action"><a href="">Medialab</a> suit désormais <a href="">Noortje Marres</a></p>
	<p class="emblem">⬚</p>
	<div class="nomenclature">
		<p class="date">2019-07-08</p>
	</div>
</header>

				<div class="hero">
					<?php include('assets/images/sample_txt/fabrique_loi_s.html'); ?>
				</div>
◍

Medialab suit désormais 

